Repository aragon/osx, changes with the labels that .github/labeler.yml gives for each.
All labels: contracts, subgraph

.github/labeler.yml:

contracts:
  - packages/contracts/**/*
  - packages/contracts/*

subgraph:
  - packages/subgraph/**/*
  - packages/subgraph/*

style(contracts): applies prettier styling
  active_contracts.json
  packages/contracts/Releases.md
Labels: contracts

build: bump old osx version
  packages/contracts/package.json
  packages/contracts/scripts/osx-versions-aliases.ts
  packages/contracts/src/test/Migration.sol
  packages/contracts/test/core/dao/dao.ts
  packages/contracts/test/framework/dao/dao-registry.ts
  packages/contracts/test/framework/plugin/plugin-repo-registry.ts
  packages/contracts/test/framework/plugin/plugin-repo.ts
  packages/contracts/test/framework/utils/ens/ens-subdomain-registry.ts
  packages/contracts/test/interfaces.ts
  packages/contracts/test/plugins/governance/majority-voting/addresslist/addresslist-voting.ts
  packages/contracts/test/plugins/governance/majority-voting/token/token-voting.ts
  packages/contracts/test/plugins/governance/multisig/multisig.ts
  packages/contracts/test/upgrade/dao.ts
  yarn.lock
Labels: contracts

build: use OZ 4.9.5
  packages/contracts/package.json
  yarn.lock
Labels: contracts

release: v1.3.0 merge back to develop (#510)
  UPDATE_CHECKLIST.md
  active_contracts.json
  packages/contracts/CHANGELOG.md
  packages/contracts/Releases.md
Labels: contracts

docs: replace code4rena draft by final report
  audits/Code4rena_AragonOSx_2023-12-12.pdf
  audits/Code4rena_AragonOSx_Draft.md
Labels: none

fix: build and release metadata mixups (#507)
  DEPLOYMENT_CHECKLIST.md
  UPDATE_CHECKLIST.md
  packages/contracts/deploy/helpers.ts
Labels: contracts

docs: mention audit reports in README
  README.md
Labels: none

docs: added missing report link and use perma links
  README.md
Labels: none

deploy: adds fqn to contract verification
  packages/contracts/deploy/new/10_framework/09_ens_conclude.ts
  packages/contracts/deploy/new/10_framework/11_dao-registry_conclude.ts
  packages/contracts/deploy/new/10_framework/21_plugin-repo-registry_conclude.ts
  packages/contracts/deploy/new/10_framework/31_repo-factory_conclude.ts
  packages/contracts/deploy/new/10_framework/51_dao-factory-conclude.ts
  packages/contracts/deploy/new/30_plugins/00_plugin-setups/01_addresslist_voting_setup_conclude.ts
  packages/contracts/deploy/new/30_plugins/00_plugin-setups/11_token_voting_setup_conclude.ts
  packages/contracts/deploy/new/30_plugins/00_plugin-setups/21_admin_setup_conclude.ts
  packages/contracts/deploy/new/30_plugins/00_plugin-setups/31_multisig_setup_conclude.ts
  packages/contracts/deploy/new/30_plugins/00_plugin-setups/41_placeholder_setup_conclude.ts
  packages/contracts/deploy/verification/99_conclude/10_verify-contracts.ts
  packages/contracts/utils/etherscan.ts
  packages/contracts/utils/types.ts
Labels: contracts

deploy: corrects false fqds
  packages/contracts/deploy/new/10_framework/11_dao-registry_conclude.ts
  packages/contracts/deploy/new/10_framework/31_repo-factory_conclude.ts
  packages/contracts/deploy/new/10_framework/51_dao-factory-conclude.ts
Labels: contracts

chore: applies prettier formatting
  packages/contracts/deploy/new/30_plugins/00_plugin-setups/01_addresslist_voting_setup_conclude.ts
  packages/contracts/deploy/new/30_plugins/00_plugin-setups/21_admin_setup_conclude.ts
  packages/contracts/utils/etherscan.ts
Labels: contracts

chore: adds arbitrum sepolia deployment
  active_contracts.json
  packages/contracts/Releases.md
  packages/subgraph/manifest/data/arbitrumSepolia.json
Labels: contracts, subgraph

deploy(subgraph): changes node endpoint to alchemy
  packages/subgraph/scripts/deploy-subgraph.sh
Labels: subgraph

build: bumped osx and OZ dependency, removed gsn dependency (#500)
  packages/contracts/package.json
  packages/contracts/scripts/osx-versions-aliases.ts
  packages/contracts/src/test/Migration.sol
  packages/contracts/test/core/dao/dao.ts
  packages/contracts/test/framework/dao/dao-registry.ts
  packages/contracts/test/framework/plugin/plugin-repo-registry.ts
  packages/contracts/test/framework/plugin/plugin-repo.ts
  packages/contracts/test/framework/utils/ens/ens-subdomain-registry.ts
  packages/contracts/test/interfaces.ts
  packages/contracts/test/plugins/governance/majority-voting/addresslist/addresslist-voting.ts
  packages/contracts/test/plugins/governance/majority-voting/token/token-voting.ts
  packages/contracts/test/plugins/governance/multisig/multisig.ts
  packages/contracts/test/upgrade/dao.ts
  yarn.lock
Labels: contracts

docs: add audit reports for v1.3.0 (#511)
  README.md
  audits/Code4rena_AragonOSx_2023-12-12.pdf
  audits/Halborn_AragonOSx_2023-02-24.pdf
  audits/Halborn_AragonOSx_2023-06-13.pdf
Labels: none
