Repository aragon/osx, pull requests merged in 2022-04, with the labels that each got.

#16 Feature/ DAO-808
  packages/subgraph/.eslintignore
  packages/subgraph/.eslintrc.json
  packages/subgraph/package.json
  packages/subgraph/src/dao/utils.ts
  packages/subgraph/src/packages/whitelist/whitelistVoting.ts
  packages/subgraph/src/utils/erc165.ts
  packages/subgraph/src/utils/metadata.ts
  packages/subgraph/tests/ERC20Voting/erc20Voting.test.ts
  packages/subgraph/tests/ERC20Voting/utils.ts
  packages/subgraph/tests/dao/acl.test.ts
  packages/subgraph/tests/dao/dao.test.ts
  packages/subgraph/tests/dao/utils.ts
  packages/subgraph/tests/registry/registry.test.ts
  packages/subgraph/tests/registry/utils.ts
  packages/subgraph/tests/whitelistVoting/utils.ts
  packages/subgraph/tests/whitelistVoting/whitelistVoting.test.ts
  yarn.lock
Labels: subgraph

#20 vote config with struct
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/factory/DAOFactory.sol
  packages/contracts/test/dao-factory.ts
Labels: contracts

#22 APP-53 register interfaceIds
  packages/contracts-ethers/CHANGELOG.md
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/votings/ERC20/ERC20Voting.sol
  packages/contracts/contracts/votings/majority/MajorityVoting.sol
  packages/contracts/contracts/votings/whitelist/WhitelistVoting.sol
  packages/contracts/package.json
  packages/contracts/test/voting/whitelist-voting.ts
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/data/rinkeby.json
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/package.json
  packages/subgraph/src/dao/utils.ts
  packages/subgraph/src/utils/constants.ts
  packages/subgraph/src/utils/erc165.ts
  packages/subgraph/tests/dao/acl.test.ts
  packages/subgraph/tests/dao/utils.ts
Labels: contracts, subgraph

#17 Decoupling of Permissions and Meta Transactions (APP-54, APP-57, APP-63)
  packages/contracts-ethers/CHANGELOG.md
  packages/contracts-ethers/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/core/acl/ACL.sol
  packages/contracts/contracts/core/component/Component.sol
  packages/contracts/contracts/core/component/MetaTxComponent.sol
  packages/contracts/contracts/core/component/Permissions.sol
  packages/contracts/contracts/factory/DAOFactory.sol
  packages/contracts/contracts/test/ACLTest.sol
  packages/contracts/contracts/test/ComponentMock.sol
  packages/contracts/contracts/test/DAOMock.sol
  packages/contracts/contracts/tokens/GovernanceERC20.sol
  packages/contracts/contracts/tokens/GovernanceWrappedERC20.sol
  packages/contracts/contracts/tokens/MerkleMinter.sol
  packages/contracts/contracts/votings/majority/MajorityVoting.sol
  packages/contracts/package.json
  packages/contracts/test/core/component.ts
  packages/contracts/test/dao-factory.ts
  packages/contracts/test/test-utils/custom-error-helper.ts
  packages/contracts/test/test-utils/voting.ts
  packages/contracts/test/voting/erc20-voting.ts
  packages/contracts/test/voting/majority-voting.ts
  packages/contracts/test/voting/whitelist-voting.ts
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/data/arbitrum-rinkeby.json
  packages/subgraph/manifest/data/rinkeby.json
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/packages/ERC20Voting/erc20Voting.ts
  packages/subgraph/src/packages/whitelist/whitelistVoting.ts
  packages/subgraph/tests/ERC20Voting/erc20Voting.test.ts
  packages/subgraph/tests/ERC20Voting/utils.ts
  packages/subgraph/tests/whitelistVoting/utils.ts
  packages/subgraph/tests/whitelistVoting/whitelistVoting.test.ts
  yarn.lock
Labels: contracts, subgraph

#27 Fix/npm release
  .github/workflows/npm-release.yml
  packages/contracts-ethers/npm/index.ts
  packages/contracts-ethers/package.json
  packages/contracts-ethers/rollup.config.ts
  packages/contracts-ethers/tsconfig.json
  packages/contracts/npm/index.ts
  packages/contracts/rollup.config.ts
Labels: contracts, npm:minor

#28 fix: npm release flow if contracts are also changed
  .github/workflows/contracts-deploy.yml
  .github/workflows/npm-release-reusable.yml
  .github/workflows/npm-release.yml
Labels: npm:major

#25 APP-273 implement script to create initial daos
  .github/helpers/contracts/dummy-dao/constans.js
  .github/helpers/contracts/dummy-dao/createDao.js
  .github/helpers/contracts/dummy-dao/deposit.js
  .github/helpers/contracts/dummy-dao/estimateGas.js
  .github/helpers/contracts/dummy-dao/proposal.js
  .github/helpers/contracts/dummy-dao/updateDummyDaoJSON.js
  .github/workflows/contract-tests.yml
  .github/workflows/contracts-deploy.yml
  .github/workflows/create-dummy-dao.yml
  .github/workflows/subgraph-tests.yml
  dummy_daos.json
  packages/contracts/CHANGELOG.md
  packages/contracts/deploy/verify.ts
  packages/contracts/networks.json
  packages/contracts/package.json
  packages/subgraph/schema.graphql
  yarn.lock
Labels: contracts, subgraph, npm:minor

#30 fix: secrets handling in contract workflows
  .github/workflows/contracts-deploy.yml
  .github/workflows/create-dummy-dao.yml
  .github/workflows/npm-release-reusable.yml
  .github/workflows/npm-release.yml
Labels: npm:minor

#33 fix: working directory for npm publishing
  .github/workflows/npm-release-reusable.yml
Labels: npm:minor

#34 fix: npm filter check to deploy if no contracts have changed
  .github/workflows/npm-release.yml
Labels: npm:minor

#35 fix: adds missing npm registry
  .github/workflows/npm-release-reusable.yml
Labels: npm:minor
