Repository aragon/osx, pull requests merged in 2022-12, with the labels that each got.

#156 MajorityVoting with Participaton and Early Execution
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/test/MajorityVotingMock.sol
  packages/contracts/contracts/voting/addresslist/AddresslistVoting.sol
  packages/contracts/contracts/voting/addresslist/AddresslistVotingSetup.sol
  packages/contracts/contracts/voting/majority/IMajorityVoting.sol
  packages/contracts/contracts/voting/majority/MajorityVotingBase.sol
  packages/contracts/contracts/voting/token/TokenVoting.sol
  packages/contracts/contracts/voting/token/TokenVotingSetup.sol
  packages/contracts/test/test-utils/voting.ts
  packages/contracts/test/voting/addresslist-voting-setup.ts
  packages/contracts/test/voting/addresslist-voting.ts
  packages/contracts/test/voting/majority-voting.ts
  packages/contracts/test/voting/token-voting-setup.ts
  packages/contracts/test/voting/token-voting.ts
  packages/subgraph/CHANGELOG.md
  packages/subgraph/schema.graphql
  packages/subgraph/src/packages/addresslist/addresslist-voting.ts
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/src/plugin/utils.ts
  packages/subgraph/tests/addresslist-voting/addresslist-voting.test.ts
  packages/subgraph/tests/addresslist-voting/utils.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/dao/utils.ts
  packages/subgraph/tests/plugin/pluginSetupProcessor.test.ts
  packages/subgraph/tests/token-voting/token-voting.test.ts
  packages/subgraph/tests/token-voting/utils.ts
  packages/subgraph/tests/utils.ts
Labels: contracts, subgraph

#158 feat: adds new data to proposals
  packages/subgraph/schema.graphql
  packages/subgraph/src/packages/addresslist/addresslist-voting.ts
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/tests/addresslist-voting/addresslist-voting.test.ts
  packages/subgraph/tests/addresslist-voting/utils.ts
  packages/subgraph/tests/token-voting/token-voting.test.ts
  packages/subgraph/tests/token-voting/utils.ts
Labels: subgraph, subgraph:minor

#152 AdminAddressGovernance
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/voting/addresslist/AddresslistVotingSetup.sol
  packages/contracts/contracts/voting/admin/Admin.sol
  packages/contracts/contracts/voting/admin/AdminSetup.sol
  packages/contracts/deploy/30_plugins/00_plugin-setups/20_admin_setup.ts
  packages/contracts/deploy/30_plugins/10_plugin-repos/00_create-plugins-repo.ts
  packages/contracts/test/core/dao.ts
  packages/contracts/test/voting/admin-setup.ts
  packages/contracts/test/voting/admin.ts
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/packages/admin/admin.ts
  packages/subgraph/src/plugin/utils.ts
  packages/subgraph/src/utils/constants.ts
  packages/subgraph/tests/admin/admin.test.ts
  packages/subgraph/tests/admin/utils.ts
  packages/subgraph/tests/plugin/pluginSetupProcessor.test.ts
Labels: contracts, subgraph

#160 Apply HAL-03 and HAL-04 to `develop`
  packages/contracts/contracts/voting/addresslist/AddresslistVoting.sol
  packages/contracts/contracts/voting/majority/MajorityVotingBase.sol
  packages/contracts/contracts/voting/token/TokenVoting.sol
  packages/contracts/test/test-utils/voting.ts
  packages/contracts/test/voting/addresslist-voting-setup.ts
  packages/contracts/test/voting/addresslist-voting.ts
  packages/contracts/test/voting/majority-voting.ts
  packages/contracts/test/voting/token-voting-setup.ts
  packages/contracts/test/voting/token-voting.ts
Labels: contracts

#163 fix: marks subgraph action entity as mutable
  packages/subgraph/schema.graphql
Labels: subgraph

#162 feat: switch subgraph to satsuma
  .github/workflows/subgraph-deploy.yaml
  packages/subgraph/.env-example
  packages/subgraph/scripts/deploy-subgraph.sh
Labels: subgraph

#161 Early execution, vote replacement and structuring of parameters
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/test/MajorityVotingMock.sol
  packages/contracts/contracts/voting/addresslist/AddresslistVoting.sol
  packages/contracts/contracts/voting/addresslist/AddresslistVotingSetup.sol
  packages/contracts/contracts/voting/majority/IMajorityVoting.sol
  packages/contracts/contracts/voting/majority/MajorityVotingBase.sol
  packages/contracts/contracts/voting/token/TokenVoting.sol
  packages/contracts/contracts/voting/token/TokenVotingSetup.sol
  packages/contracts/test/core/permission/permission-manager.ts
  packages/contracts/test/factory/dao-factory.ts
  packages/contracts/test/plugin/counter-plugin-setup.ts
  packages/contracts/test/plugin/plugin-setup-processor.ts
  packages/contracts/test/test-utils/plugin-setup-processor.ts
  packages/contracts/test/test-utils/voting.ts
  packages/contracts/test/voting/addresslist-voting-setup.ts
  packages/contracts/test/voting/addresslist-voting.ts
  packages/contracts/test/voting/admin-setup.ts
  packages/contracts/test/voting/majority-voting.ts
  packages/contracts/test/voting/token-voting-setup.ts
  packages/contracts/test/voting/token-voting.ts
  packages/contracts/utils/event.ts
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/packages/addresslist/addresslist-voting.ts
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/src/plugin/utils.ts
  packages/subgraph/src/utils/constants.ts
  packages/subgraph/tests/addresslist-voting/addresslist-voting.test.ts
  packages/subgraph/tests/addresslist-voting/utils.ts
  packages/subgraph/tests/admin/admin.test.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/dao/dao.test.ts
  packages/subgraph/tests/dao/permission-manager.test.ts
  packages/subgraph/tests/token-voting/token-voting.test.ts
  packages/subgraph/tests/token-voting/utils.ts
  packages/subgraph/tests/utils.ts
Labels: contracts, subgraph

#165 APP_1404 create unique id for members
  packages/subgraph/src/packages/addresslist/addresslist-voting.ts
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/tests/addresslist-voting/addresslist-voting.test.ts
  packages/subgraph/tests/token-voting/token-voting.test.ts
Labels: subgraph

#168 Bug/Fix vote: assign correct voter id
  packages/subgraph/src/packages/addresslist/addresslist-voting.ts
  packages/subgraph/src/packages/token/token-voting.ts
Labels: subgraph
