Repository aragon/osx, pull requests merged in 2022-03, with the labels that each got.

#5 Removes lerna dependency used in the subgraph package
  lerna.json
  package.json
  packages/subgraph/package.json
  yarn.lock
Labels: subgraph

#1 Add majority voting base class
  packages/contracts/contracts/factories/DAOFactory.sol
  packages/contracts/contracts/test/MajorityVotingMock.sol
  packages/contracts/contracts/votings/ERC20Voting/ERC20Voting.sol
  packages/contracts/contracts/votings/majority-voting/ERC20Voting.sol
  packages/contracts/contracts/votings/majority-voting/IMajorityVoting.sol
  packages/contracts/contracts/votings/majority-voting/MajorityVoting.sol
  packages/contracts/contracts/votings/majority-voting/WhitelistVoting.sol
  packages/contracts/contracts/votings/whitelist/WhitelistVoting.sol
  packages/contracts/test/dao-factory.ts
  packages/contracts/test/test-utils/voting.ts
  packages/contracts/test/voting/erc20-voting.ts
  packages/contracts/test/voting/majority-voting.ts
  packages/contracts/test/voting/whitelist-voting.ts
Labels: enhancement, tech debt, contracts

#10 Updates folder structure for voting types
  packages/contracts/contracts/factories/DAOFactory.sol
  packages/contracts/contracts/test/MajorityVotingMock.sol
  packages/contracts/contracts/votings/ERC20/ERC20Voting.sol
  packages/contracts/contracts/votings/majority/IMajorityVoting.sol
  packages/contracts/contracts/votings/majority/MajorityVoting.sol
  packages/contracts/contracts/votings/whitelist/WhitelistVoting.sol
  packages/subgraph/manifest/subgraph.placeholder.yaml
Labels: contracts, subgraph

#2 Feature/small improvements
  packages/contracts/contracts/core/DAO.sol
  packages/contracts/contracts/core/component/Component.sol
  packages/contracts/contracts/core/component/Permissions.sol
  packages/contracts/contracts/factories/DAOFactory.sol
  packages/contracts/contracts/test/DAOMock.sol
  packages/contracts/contracts/votings/ERC20/ERC20Voting.sol
  packages/contracts/contracts/votings/majority/IMajorityVoting.sol
  packages/contracts/contracts/votings/majority/MajorityVoting.sol
  packages/contracts/contracts/votings/whitelist/WhitelistVoting.sol
  packages/contracts/deploy/verify.ts
  packages/contracts/package.json
  packages/contracts/test/dao-factory.ts
  packages/contracts/test/voting/erc20-voting.ts
  packages/contracts/test/voting/whitelist-voting.ts
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/dao/utils.ts
  packages/subgraph/src/packages/ERC20Voting/erc20Voting.ts
  packages/subgraph/src/packages/whitelist/whitelistVoting.ts
  packages/subgraph/tests/ERC20Voting/erc20Voting.test.ts
  packages/subgraph/tests/ERC20Voting/utils.ts
  packages/subgraph/tests/utils.ts
  packages/subgraph/tests/whitelistVoting/utils.ts
  packages/subgraph/tests/whitelistVoting/whitelistVoting.test.ts
  yarn.lock
Labels: contracts, subgraph

#12 Update the JSON artifact paths
  .github/workflows/contract-tests.yml
  packages/contracts/npm/artifacts.ts
Labels: contracts

#13 Public NPM packages
  packages/contracts-ethers/CHANGELOG.md
  packages/contracts-ethers/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
Labels: contracts
