Repository aragon/osx, pull requests merged in 2022-10, with the labels that each got.

#112 Refactored AdaptiveERC165 into independent CallbackHandler
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/core/DAO.sol
  packages/contracts/contracts/core/IDAO.sol
  packages/contracts/contracts/core/component/CallbackHandler.sol
  packages/contracts/contracts/core/component/Component.sol
  packages/contracts/contracts/core/component/MetaTxComponent.sol
  packages/contracts/contracts/core/erc165/AdaptiveERC165.sol
  packages/contracts/contracts/registry/InterfaceBasedRegistry.sol
  packages/contracts/contracts/registry/ens/ENSSubdomainRegistrar.sol
  packages/contracts/contracts/test/AdaptiveERC165Mock.sol
  packages/contracts/contracts/test/CallbackHandlerHelperMock.sol
  packages/contracts/contracts/test/DAOMock.sol
  packages/contracts/contracts/tokens/MerkleDistributor.sol
  packages/contracts/contracts/tokens/MerkleMinter.sol
  packages/contracts/contracts/voting/allowlist/AllowlistVoting.sol
  packages/contracts/contracts/voting/erc20/ERC20Voting.sol
  packages/contracts/contracts/voting/majority/MajorityVotingBase.sol
  packages/contracts/test/adaptive-erc165.ts
  packages/contracts/test/core/component/callback-handler.ts
  packages/contracts/test/plugin/plugin-repo.ts
  packages/contracts/test/registry/interface-based-registry.ts
Labels: contracts

#91 Refactoring of the introspection functionalities
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/core/DAO.sol
  packages/contracts/contracts/core/IDAO.sol
  packages/contracts/contracts/core/component/CallbackHandler.sol
  packages/contracts/contracts/core/component/Component.sol
  packages/contracts/contracts/core/component/MetaTxComponent.sol
  packages/contracts/contracts/core/erc165/AdaptiveERC165.sol
  packages/contracts/contracts/core/erc165/ERC165.sol
  packages/contracts/contracts/core/permission/PermissionManager.sol
  packages/contracts/contracts/core/plugin/Plugin.sol
  packages/contracts/contracts/core/plugin/PluginCloneable.sol
  packages/contracts/contracts/core/plugin/PluginTransparentUpgradeable.sol
  packages/contracts/contracts/core/plugin/PluginUUPSUpgradeable.sol
  packages/contracts/contracts/plugin/PluginRepo.sol
  packages/contracts/contracts/plugin/PluginSetup.sol
  packages/contracts/contracts/registry/InterfaceBasedRegistry.sol
  packages/contracts/contracts/registry/ens/ENSSubdomainRegistrar.sol
  packages/contracts/contracts/test/AdaptiveERC165Mock.sol
  packages/contracts/contracts/test/CallbackHandlerHelperMock.sol
  packages/contracts/contracts/test/DAOMock.sol
  packages/contracts/contracts/tokens/GovernanceERC20.sol
  packages/contracts/contracts/tokens/GovernanceWrappedERC20.sol
  packages/contracts/contracts/tokens/MerkleDistributor.sol
  packages/contracts/contracts/tokens/MerkleMinter.sol
  packages/contracts/contracts/voting/allowlist/AllowlistVoting.sol
  packages/contracts/contracts/voting/erc20/ERC20Voting.sol
  packages/contracts/contracts/voting/majority/MajorityVotingBase.sol
  packages/contracts/test/adaptive-erc165.ts
  packages/contracts/test/core/component/callback-handler.ts
  packages/contracts/test/plugin/plugin-repo.ts
  packages/contracts/test/registry/interface-based-registry.ts
  packages/subgraph/manifest/subgraph.placeholder.yaml
Labels: contracts, subgraph

#114 Refactoring of the NatSpec comments and naming in `PluginSetup` and related contracts
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/core/DAO.sol
  packages/contracts/contracts/core/IDAO.sol
  packages/contracts/contracts/core/component/CallbackHandler.sol
  packages/contracts/contracts/core/component/DaoAuthorizable.sol
  packages/contracts/contracts/core/component/DaoAuthorizableCloneable.sol
  packages/contracts/contracts/core/component/DaoAuthorizableUpgradeable.sol
  packages/contracts/contracts/core/permission/PermissionLib.sol
  packages/contracts/contracts/core/permission/PermissionManager.sol
  packages/contracts/contracts/core/plugin/Plugin.sol
  packages/contracts/contracts/core/plugin/PluginCloneable.sol
  packages/contracts/contracts/core/plugin/PluginUUPSUpgradeable.sol
  packages/contracts/contracts/core/plugin/PluginUpgradeable.sol
  packages/contracts/contracts/factory/DAOFactory.sol
  packages/contracts/contracts/factory/PluginRepoFactory.sol
  packages/contracts/contracts/plugin/IPluginRepo.sol
  packages/contracts/contracts/plugin/PluginRepo.sol
  packages/contracts/contracts/plugin/PluginSetup.sol
  packages/contracts/contracts/plugin/PluginSetupProcessor.sol
  packages/contracts/contracts/plugin/examples/count/CounterV1.sol
  packages/contracts/contracts/plugin/examples/count/CounterV1PluginSetup.sol
  packages/contracts/contracts/plugin/examples/count/CounterV2.sol
  packages/contracts/contracts/plugin/examples/count/CounterV2PluginSetup.sol
  packages/contracts/contracts/plugin/examples/count/MultiplyHelper.sol
  packages/contracts/contracts/registry/PluginRepoRegistry.sol
  packages/contracts/contracts/test/TestParameterScopingACLOracle.sol
  packages/contracts/contracts/test/plugin-mock/UUPSUpgradeable/PluginSetupV1Mock.sol
  packages/contracts/contracts/test/plugin-mock/UUPSUpgradeable/PluginSetupV1MockBad.sol
  packages/contracts/contracts/test/plugin-mock/UUPSUpgradeable/PluginSetupV2Mock.sol
  packages/contracts/contracts/utils/UncheckedMath.sol
  packages/contracts/contracts/voting/majority/IMajorityVoting.sol
  packages/contracts/deploy/20_aragon-plugin-registry.ts
  packages/contracts/deploy/30_repo-factory.ts
  packages/contracts/deploy/70_permissions.ts
  packages/contracts/npm/artifacts.ts
  packages/contracts/test/factory/plugin-repo-factory.ts
  packages/contracts/test/plugin/plugin-setup-processor.ts
  packages/contracts/test/registry/aragon-plugin-registry.ts
Labels: contracts

#90 Fix bug in `bulkOnMultiTarget` that allowed `msg.sender` to use it without having the `ROOT_PERMISSION_ID` permission
  packages/contracts/contracts/core/permission/PermissionManager.sol
  packages/contracts/test/core/permission/permission-manager.ts
Labels: bug, contracts

#107 Fix/reduce gas setup processor
  packages/contracts/contracts/plugin/PluginSetupProcessor.sol
Labels: contracts

#113 App-971 : refactoring DAO factory
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/factory/DAOFactory.sol
  packages/contracts/contracts/plugin/PluginSetupProcessor.sol
  packages/contracts/deploy/20_plugin-repo-registry.ts
  packages/contracts/deploy/30_repo-factory.ts
  packages/contracts/deploy/50_plugin_setup_processor.ts
  packages/contracts/deploy/60_dao-factory.ts
  packages/contracts/deploy/70_permissions.ts
  packages/contracts/deploy/verify.ts
  packages/contracts/test/factory/dao-factory.ts
  packages/contracts/test/plugin/counter-plugin-setup.ts
  packages/contracts/test/plugin/plugin-setup-processor.ts
  packages/contracts/test/test-utils/event.ts
  packages/contracts/test/test-utils/plugin-setup-processor.ts
  packages/contracts/test/test-utils/repo.ts
Labels: contracts

#118 add ens to plugin-repo-registry
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/factory/PluginRepoFactory.sol
  packages/contracts/contracts/registry/DAORegistry.sol
  packages/contracts/contracts/registry/InterfaceBasedRegistry.sol
  packages/contracts/contracts/registry/PluginRepoRegistry.sol
  packages/contracts/contracts/registry/ens/ENSSubdomainRegistrar.sol
  packages/contracts/test/factory/dao-factory.ts
  packages/contracts/test/factory/plugin-repo-factory.ts
  packages/contracts/test/plugin/counter-plugin-setup.ts
  packages/contracts/test/plugin/plugin-repo.ts
  packages/contracts/test/plugin/plugin-setup-processor.ts
  packages/contracts/test/registry/aragon-plugin-registry.ts
  packages/contracts/test/registry/dao-registry.ts
  packages/contracts/test/registry/plugin-repo-registry.ts
  packages/contracts/test/test-utils/plugin-setup-processor.ts
  packages/contracts/test/test-utils/repo.ts
Labels: contracts

#119 Fix to prevent double initialization of upgradeable plugins
  packages/contracts/contracts/plugin/examples/count/CounterV2.sol
  packages/contracts/contracts/test/plugin-mock/UUPSUpgradeable/PluginUUPSUpgradeableV2Mock.sol
Labels: bug, contracts

#111 erc165-fixes-with-additional-fixes-APP-1129
  packages/contracts/contracts/core/DAO.sol
  packages/contracts/contracts/core/IDAO.sol
  packages/contracts/contracts/core/component/Component.sol
  packages/contracts/contracts/core/component/MetaTxComponent.sol
  packages/contracts/contracts/core/component/dao-authorizable/DaoAuthorizable.sol
  packages/contracts/contracts/core/component/dao-authorizable/DaoAuthorizableCloneable.sol
  packages/contracts/contracts/core/component/dao-authorizable/DaoAuthorizableUpgradeable.sol
  packages/contracts/contracts/core/component/dao-authorizable/bases/DaoAuthorizableBase.sol
  packages/contracts/contracts/core/component/dao-authorizable/bases/DaoAuthorizableBaseUpgradeable.sol
  packages/contracts/contracts/core/permission/PermissionManager.sol
  packages/contracts/contracts/core/plugin/IPlugin.sol
  packages/contracts/contracts/core/plugin/Plugin.sol
  packages/contracts/contracts/core/plugin/PluginCloneable.sol
  packages/contracts/contracts/core/plugin/PluginUUPSUpgradeable.sol
  packages/contracts/contracts/core/plugin/PluginUpgradeable.sol
  packages/contracts/contracts/factory/TokenFactory.sol
  packages/contracts/contracts/plugin/IPluginSetup.sol
  packages/contracts/contracts/plugin/PluginRepo.sol
  packages/contracts/contracts/plugin/PluginSetup.sol
  packages/contracts/contracts/plugin/PluginSetupProcessor.sol
  packages/contracts/contracts/plugin/examples/count/CounterV1.sol
  packages/contracts/contracts/plugin/examples/count/CounterV1PluginSetup.sol
  packages/contracts/contracts/plugin/examples/count/CounterV2.sol
  packages/contracts/contracts/plugin/examples/count/CounterV2PluginSetup.sol
  packages/contracts/contracts/registry/DAORegistry.sol
  packages/contracts/contracts/registry/InterfaceBasedRegistry.sol
  packages/contracts/contracts/registry/PluginRepoRegistry.sol
  packages/contracts/contracts/registry/ens/ENSSubdomainRegistrar.sol
  packages/contracts/contracts/test/DAOMock.sol
  packages/contracts/contracts/test/MajorityVotingMock.sol
  packages/contracts/contracts/test/plugin-mock/Clonable/PluginClonableMock.sol
  packages/contracts/contracts/test/plugin-mock/UUPSUpgradeable/PluginSetupV1Mock.sol
  packages/contracts/contracts/test/plugin-mock/UUPSUpgradeable/PluginSetupV1MockBad.sol
  packages/contracts/contracts/test/plugin-mock/UUPSUpgradeable/PluginSetupV2Mock.sol
  packages/contracts/contracts/test/plugin-mock/UUPSUpgradeable/PluginUUPSUpgradeableV1Mock.sol
  packages/contracts/contracts/tokens/GovernanceERC20.sol
  packages/contracts/contracts/tokens/GovernanceWrappedERC20.sol
  packages/contracts/contracts/tokens/IERC20MintableUpgradeable.sol
  packages/contracts/contracts/tokens/IGovernanceWrappedERC20.sol
  packages/contracts/contracts/tokens/IMerkleDistributor.sol
  packages/contracts/contracts/tokens/IMerkleMinter.sol
  packages/contracts/contracts/tokens/MerkleDistributor.sol
  packages/contracts/contracts/tokens/MerkleMinter.sol
  packages/contracts/contracts/voting/allowlist/AllowlistVoting.sol
  packages/contracts/contracts/voting/erc20/ERC20Voting.sol
  packages/contracts/contracts/voting/majority/MajorityVotingBase.sol
  packages/contracts/npm/artifacts.ts
  packages/contracts/test/core/dao.ts
  packages/contracts/test/factory/token-factory.ts
  packages/contracts/test/merkle/merkle-distributor.ts
  packages/contracts/test/merkle/merkle-minter.ts
  packages/contracts/test/plugin/plugin-setup-processor.ts
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/packages/allowlist/allowlist-voting.ts
  packages/subgraph/src/packages/erc20/erc20-voting.ts
  packages/subgraph/tests/allowlist-voting/allowlist-voting.test.ts
  packages/subgraph/tests/allowlist-voting/utils.ts
  packages/subgraph/tests/erc20-voting/erc20-voting.test.ts
  packages/subgraph/tests/erc20-voting/utils.ts
Labels: contracts, subgraph

#115 App 1104 remove our erc 1271 sol and import from oz
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/core/DAO.sol
  packages/contracts/contracts/core/IDAO.sol
  packages/contracts/contracts/core/erc1271/ERC1271.sol
  packages/contracts/contracts/test/ERC1271Mock.sol
  packages/contracts/test/core/dao.ts
  packages/contracts/test/test-utils/interfaces.ts
Labels: contracts

#117 APP-630 - Create plugin Setup for Allowlist and Erc20 voting
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/factory/TokenFactory.sol
  packages/contracts/contracts/test/MajorityVotingMock.sol
  packages/contracts/contracts/tokens/IMerkleMinter.sol
  packages/contracts/contracts/tokens/MerkleMinter.sol
  packages/contracts/contracts/voting/allowlist/AllowlistVoting.sol
  packages/contracts/contracts/voting/allowlist/AllowlistVotingSetup.sol
  packages/contracts/contracts/voting/erc20/ERC20Voting.sol
  packages/contracts/contracts/voting/erc20/ERC20VotingSetup.sol
  packages/contracts/contracts/voting/majority/MajorityVotingBase.sol
  packages/contracts/deploy/20_plugin-repo-registry.ts
  packages/contracts/deploy/70_permissions.ts
  packages/contracts/deploy/80_allowlist_voting_setup.ts
  packages/contracts/deploy/81_erc20_voting_setup.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/test/voting/allowlist-voting-setup.ts
  packages/contracts/test/voting/allowlist-voting.ts
  packages/contracts/test/voting/erc20-voting.ts
  packages/contracts/test/voting/majority-voting.ts
Labels: contracts

#121 Feature/remove component
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/core/component/Component.sol
  packages/contracts/contracts/core/component/MetaTxComponent.sol
  packages/contracts/contracts/factory/DAOFactory.sol
  packages/contracts/contracts/factory/PluginRepoFactory.sol
  packages/contracts/contracts/plugin/PluginSetup.sol
  packages/contracts/contracts/test/TestParameterScopingACLOracle.sol
  packages/contracts/contracts/test/TestPlugin.sol
  packages/contracts/contracts/test/TestSharedPlugin.sol
  packages/contracts/contracts/tokens/GovernanceERC20.sol
  packages/contracts/contracts/tokens/GovernanceWrappedERC20.sol
  packages/contracts/contracts/tokens/MerkleMinter.sol
  packages/contracts/contracts/utils/Proxy.sol
  packages/contracts/npm/artifacts.ts
  packages/contracts/test/core/component/component.ts
  packages/contracts/test/core/permission/integration-tests/parameter-scoping-oracle.ts
  packages/contracts/test/core/permission/integration-tests/shared-plugin.ts
Labels: contracts

#120 internal audit changes
  packages/contracts/contracts/core/DAO.sol
  packages/contracts/contracts/core/permission/PermissionManager.sol
  packages/contracts/contracts/factory/DAOFactory.sol
  packages/contracts/contracts/factory/TokenFactory.sol
  packages/contracts/contracts/plugin/PluginRepo.sol
  packages/contracts/contracts/plugin/PluginSetupProcessor.sol
  packages/contracts/contracts/voting/majority/MajorityVotingBase.sol
  packages/contracts/test/core/permission/permission-manager.ts
  packages/contracts/test/plugin/plugin-setup-processor.ts
Labels: contracts

#122 APP-903 test AllowlistVotingSetup and ERC20VotingSetup
  packages/contracts/contracts/voting/allowlist/AllowlistVotingSetup.sol
  packages/contracts/contracts/voting/erc20/ERC20VotingSetup.sol
  packages/contracts/test/voting/allowlist-voting-setup.ts
  packages/contracts/test/voting/erc20-voting-setup.ts
Labels: contracts

#124 fix/voting-setup-tests
  packages/contracts/test/voting/allowlist-voting-setup.ts
  packages/contracts/test/voting/erc20-voting-setup.ts
Labels: contracts

#125 Transfers the core docs from `aragon/builders-portal` to `aragon/core`
  .github/workflows/documentation-update.yml
  .gitignore
  packages/contracts/CHANGELOG.md
  packages/contracts/docs/core/01-how-it-works/01-the-core-contracts/01-the-dao-contract.md
  packages/contracts/docs/core/01-how-it-works/01-the-core-contracts/02-permissions.md
  packages/contracts/docs/core/01-how-it-works/01-the-core-contracts/03-plugins.md
  packages/contracts/docs/core/01-how-it-works/01-the-core-contracts/dao-plugin.drawio.svg
  packages/contracts/docs/core/01-how-it-works/01-the-core-contracts/index.md
  packages/contracts/docs/core/01-how-it-works/02-the-dao-framework/01-dao-creation-process.md
  packages/contracts/docs/core/01-how-it-works/02-the-dao-framework/02-plugin-repository/01-security-risk-mitigation.md
  packages/contracts/docs/core/01-how-it-works/02-the-dao-framework/02-plugin-repository/02-plugin-submission.md
  packages/contracts/docs/core/01-how-it-works/02-the-dao-framework/02-plugin-repository/03-infrastructure.md
  packages/contracts/docs/core/01-how-it-works/02-the-dao-framework/02-plugin-repository/04-plugin-setup.md
  packages/contracts/docs/core/01-how-it-works/02-the-dao-framework/02-plugin-repository/05-curation.md
  packages/contracts/docs/core/01-how-it-works/02-the-dao-framework/02-plugin-repository/index.md
  packages/contracts/docs/core/01-how-it-works/02-the-dao-framework/02-plugin-repository/plugin-installation.drawio.svg
  packages/contracts/docs/core/01-how-it-works/02-the-dao-framework/02-plugin-repository/plugin-repo-overview.drawio.svg
  packages/contracts/docs/core/01-how-it-works/02-the-dao-framework/02-plugin-repository/plugin-uninstallation.drawio.svg
  packages/contracts/docs/core/01-how-it-works/02-the-dao-framework/02-plugin-repository/plugin-update.drawio.svg
  packages/contracts/docs/core/01-how-it-works/02-the-dao-framework/aragon-os-framework-overview.drawio.svg
  packages/contracts/docs/core/01-how-it-works/02-the-dao-framework/index.md
  packages/contracts/docs/core/01-how-it-works/index.md
  packages/contracts/docs/core/02-how-to-guides/01-plugin-development/01-implemention/01-plugin-types.md
  packages/contracts/docs/core/02-how-to-guides/01-plugin-development/01-implemention/02-non-upgradeable-contracts.md
  packages/contracts/docs/core/02-how-to-guides/01-plugin-development/01-implemention/03-upgradeable-contracts.md
  packages/contracts/docs/core/02-how-to-guides/01-plugin-development/01-implemention/index.md
  packages/contracts/docs/core/02-how-to-guides/01-plugin-development/02-setup/01-non-upgradeable-plugins.md
  packages/contracts/docs/core/02-how-to-guides/01-plugin-development/02-setup/02-upgradeable-plugins.md
  packages/contracts/docs/core/02-how-to-guides/01-plugin-development/02-setup/index.md
  packages/contracts/docs/core/02-how-to-guides/01-plugin-development/03-publication/01-publication-process.md
  packages/contracts/docs/core/02-how-to-guides/01-plugin-development/03-publication/02-versioning.md
  packages/contracts/docs/core/02-how-to-guides/01-plugin-development/03-publication/index.md
  packages/contracts/docs/core/02-how-to-guides/01-plugin-development/index.md
  packages/contracts/docs/core/02-how-to-guides/02-dao-upgrading/01-aragon-client-migration.md
  packages/contracts/docs/core/02-how-to-guides/02-dao-upgrading/02-protocol-upgrades.md
  packages/contracts/docs/core/02-how-to-guides/02-dao-upgrading/index.md
  packages/contracts/docs/core/02-how-to-guides/index.md
  packages/contracts/docs/core/04-contracts-overview.md
  packages/contracts/docs/core/aragon-os-infrastructure-core-overview.drawio.svg
  packages/contracts/docs/core/index.md
  packages/contracts/hardhat.config.ts
Labels: contracts

#126 Added missing index file
  .gitignore
  packages/contracts/docs/core/03-reference-guide/index.md
Labels: contracts
