Repository aragon/osx, pull requests merged in 2022-05, with the labels that each got.

#24 Complete the IDAO interface
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/core/DAO.sol
  packages/contracts/contracts/core/IDAO.sol
  packages/contracts/contracts/core/component/MetaTxComponent.sol
  packages/contracts/contracts/test/DAOMock.sol
  packages/contracts/test/core/dao.ts
  packages/contracts/test/dao-factory.ts
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/src/dao/dao.ts
  packages/subgraph/tests/dao/dao.test.ts
  packages/subgraph/tests/dao/utils.ts
Labels: contracts, subgraph

#37 Componentize and generalize MerkleDistributor
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/factory/TokenFactory.sol
  packages/contracts/contracts/test/TestERC20.sol
  packages/contracts/contracts/tokens/MerkleDistributor.sol
  packages/contracts/contracts/tokens/MerkleMinter.sol
  packages/contracts/package.json
  packages/contracts/test/merkle/merkle-distributor.ts
  packages/contracts/test/merkle/src/balance-tree.ts
  packages/contracts/test/merkle/src/merkle-tree.ts
  yarn.lock
Labels: contracts

#39 Refine the license identifier formatting and author names
  packages/contracts/contracts/core/DAO.sol
  packages/contracts/contracts/core/IDAO.sol
  packages/contracts/contracts/core/acl/ACL.sol
  packages/contracts/contracts/core/acl/IACLOracle.sol
  packages/contracts/contracts/core/component/Component.sol
  packages/contracts/contracts/core/component/MetaTxComponent.sol
  packages/contracts/contracts/core/component/Permissions.sol
  packages/contracts/contracts/core/erc1271/ERC1271.sol
  packages/contracts/contracts/core/erc165/AdaptiveERC165.sol
  packages/contracts/contracts/core/erc165/ERC165.sol
  packages/contracts/contracts/factory/DAOFactory.sol
  packages/contracts/contracts/factory/TokenFactory.sol
  packages/contracts/contracts/registry/Registry.sol
  packages/contracts/contracts/test/ACLOracleMock.sol
  packages/contracts/contracts/test/ACLTest.sol
  packages/contracts/contracts/test/ActionExecute.sol
  packages/contracts/contracts/test/AdaptiveERC165Mock.sol
  packages/contracts/contracts/test/DAOMock.sol
  packages/contracts/contracts/test/DummyContract.sol
  packages/contracts/contracts/test/MajorityVotingMock.sol
  packages/contracts/contracts/tokens/GovernanceERC20.sol
  packages/contracts/contracts/tokens/GovernanceWrappedERC20.sol
  packages/contracts/contracts/tokens/MerkleDistributor.sol
  packages/contracts/contracts/tokens/MerkleMinter.sol
  packages/contracts/contracts/utils/Proxy.sol
  packages/contracts/contracts/utils/TimeHelpers.sol
  packages/contracts/contracts/utils/Uint256Helpers.sol
  packages/contracts/contracts/votings/ERC20/ERC20Voting.sol
  packages/contracts/contracts/votings/majority/IMajorityVoting.sol
  packages/contracts/contracts/votings/majority/MajorityVoting.sol
  packages/contracts/contracts/votings/whitelist/WhitelistVoting.sol
Labels: contracts

#41 Componentize and generalize MerkleMinter
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/factory/TokenFactory.sol
  packages/contracts/contracts/tokens/IERC20MintableUpgradeable.sol
  packages/contracts/contracts/tokens/MerkleDistributor.sol
  packages/contracts/contracts/tokens/MerkleMinter.sol
  packages/contracts/test/merkle/merkle-distributor.ts
  packages/contracts/test/merkle/merkle-minter.ts
Labels: contracts, npm:minor

#40 Fix npm release and writeback deployed npm versions
  .github/workflows/npm-release-reusable.yml
Labels: npm:major

#43 Featur/ APP-343 allow mint token to treasury
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/factory/TokenFactory.sol
  packages/contracts/test/core/token-factory.ts
Labels: contracts, npm:minor

#47 fix: version publishing in workflow
  .github/workflows/npm-release-reusable.yml
Labels: npm:minor

#42 update proposal schema
  packages/subgraph/CHANGELOG.md
  packages/subgraph/schema.graphql
  packages/subgraph/src/dao/dao.ts
  packages/subgraph/src/packages/ERC20Voting/erc20Voting.ts
  packages/subgraph/src/packages/whitelist/whitelistVoting.ts
  packages/subgraph/src/utils/metadata.ts
Labels: subgraph
