Repository aragon/osx, pull requests merged in 2022-07, with the labels that each got.

#60 F/dops 301
  .github/workflows/npm-release-reusable.yml
  .github/workflows/subgraph-deploy.yaml
  packages/contracts-ethers/CHANGELOG.md
  packages/contracts/CHANGELOG.md
  packages/subgraph/CHANGELOG.md
  packages/subgraph/README.md
  packages/subgraph/package.json
Labels: contracts, subgraph, subgraph:patch

#58 Refactor import statements
  packages/contracts-ethers/CHANGELOG.md
  packages/contracts-ethers/npm/index.ts
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/core/DAO.sol
  packages/contracts/contracts/core/component/Component.sol
  packages/contracts/contracts/core/component/Permissions.sol
  packages/contracts/contracts/factory/DAOFactory.sol
  packages/contracts/contracts/registry/InterfaceBasedRegistry.sol
  packages/contracts/contracts/registry/ens/ENSSubdomainRegistrar.sol
  packages/contracts/contracts/test/TestSharedComponent.sol
  packages/contracts/contracts/tokens/GovernanceERC20.sol
  packages/contracts/contracts/tokens/GovernanceWrappedERC20.sol
  packages/contracts/contracts/tokens/IERC20MintableUpgradeable.sol
  packages/contracts/contracts/tokens/MerkleDistributor.sol
  packages/contracts/contracts/votings/ERC20/ERC20Voting.sol
  packages/contracts/contracts/votings/majority/IMajorityVoting.sol
  packages/contracts/contracts/votings/majority/MajorityVoting.sol
  packages/contracts/contracts/votings/whitelist/WhitelistVoting.sol
  packages/contracts/deploy/10_registry.ts
  packages/contracts/deploy/20_aragon-plugin-registry.ts
  packages/contracts/deploy/30_repo-factory.ts
  packages/contracts/deploy/dao-factory.ts
  packages/contracts/test/adaptive-erc165.ts
  packages/contracts/test/core/acl/acl.ts
  packages/contracts/test/core/acl/integration-tests/parameter-scoping-oracle.ts
  packages/contracts/test/core/acl/integration-tests/shared-component.ts
  packages/contracts/test/core/component/component.ts
  packages/contracts/test/core/dao.ts
  packages/contracts/test/factory/dao-factory.ts
  packages/contracts/test/factory/plugin-repo-factory.ts
  packages/contracts/test/factory/token-factory.ts
  packages/contracts/test/merkle/merkle-distributor.ts
  packages/contracts/test/merkle/merkle-minter.ts
  packages/contracts/test/merkle/src/balance-tree.ts
  packages/contracts/test/plugin/plugin-repo.ts
  packages/contracts/test/registry/aragon-plugin-registry.ts
  packages/contracts/test/registry/ens-subdomain-registry.ts
  packages/contracts/test/registry/interface-based-registry.ts
  packages/contracts/test/registry/registry.ts
  packages/contracts/test/test-utils/repo.ts
  packages/contracts/test/voting/erc20-voting.ts
  packages/contracts/test/voting/majority-voting.ts
  packages/contracts/test/voting/whitelist-voting.ts
  packages/subgraph/CHANGELOG.md
  packages/subgraph/src/dao/dao.ts
  packages/subgraph/src/dao/utils.ts
  packages/subgraph/src/packages/ERC20Voting/erc20Voting.ts
  packages/subgraph/src/packages/whitelist/whitelistVoting.ts
  packages/subgraph/src/utils/tokens.ts
  packages/subgraph/tests/ERC20Voting/erc20Voting.test.ts
  packages/subgraph/tests/ERC20Voting/utils.ts
  packages/subgraph/tests/dao/acl.test.ts
  packages/subgraph/tests/dao/dao.test.ts
  packages/subgraph/tests/dao/utils.ts
  packages/subgraph/tests/registry/registry.test.ts
  packages/subgraph/tests/registry/utils.ts
  packages/subgraph/tests/whitelistVoting/utils.ts
  packages/subgraph/tests/whitelistVoting/whitelistVoting.test.ts
Labels: contracts, subgraph

#59 Bump OZ to v4.7.0
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/tokens/GovernanceWrappedERC20.sol
  packages/contracts/package.json
  yarn.lock
Labels: contracts
