Repository aragon/osx, pull requests merged in 2022-11, with the labels that each got.

#128 App 1134 subgraph adapt events to work with the new core
  .github/workflows/subgraph-tests.yml
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/dao/dao.ts
  packages/subgraph/tests/allowlist-voting/allowlist-voting.test.ts
  packages/subgraph/tests/dao/dao.test.ts
  packages/subgraph/tests/dao/utils.ts
  packages/subgraph/tests/erc20-voting/erc20-voting.test.ts
  packages/subgraph/tests/utils.ts
Labels: subgraph

#133 App 1174 subgraph adapt add contract events registries
  .github/helpers/subgraph/updateManifest.js
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/plugin/PluginRepo.sol
  packages/contracts/contracts/plugin/PluginSetupProcessor.sol
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/data/arbitrum-rinkeby.json
  packages/subgraph/manifest/data/goerli.json
  packages/subgraph/manifest/data/localhost.json
  packages/subgraph/manifest/data/mumbai.json
  packages/subgraph/manifest/data/rinkeby.json
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/dao/dao.ts
  packages/subgraph/src/plugin/pluginRepo.ts
  packages/subgraph/src/plugin/pluginSetupProcessor.ts
  packages/subgraph/src/registries/daoRegistry.ts
  packages/subgraph/src/registries/pluginRepoRegistry.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/dao/dao.test.ts
  packages/subgraph/tests/plugin/pluginRepo.test.ts
  packages/subgraph/tests/plugin/pluginSetupProcessor.test.ts
  packages/subgraph/tests/plugin/utils.ts
  packages/subgraph/tests/registry/daoRegistry.test.ts
  packages/subgraph/tests/registry/pluginRepoRegistry.test.ts
  packages/subgraph/tests/registry/utils.ts
Labels: contracts, subgraph

#134 fix: contract deploy workflow
  .github/workflows/contracts-deploy.yml
Labels: release:minor

#135 fix: random ens registration script
  .github/helpers/contracts/register-ens.js
  .github/workflows/contracts-deploy.yml
Labels: release:minor

#137 feat: update changelogs because the action failed
  packages/contracts-ethers/CHANGELOG.md
  packages/contracts-ethers/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
Labels: contracts

#130 Test different plugin setup scenarios
  .github/helpers/subgraph/updateManifest.js
  .github/workflows/npm-release-reusable.yml
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/plugin/PluginRepo.sol
  packages/contracts/contracts/plugin/PluginSetupProcessor.sol
  packages/contracts/contracts/plugin/SemanticVersioning.sol
  packages/contracts/contracts/test/SemanticVersioningMock.sol
  packages/contracts/contracts/test/plugin-mock/Clonable/PluginClonableMock.sol
  packages/contracts/contracts/test/plugin-mock/Clonable/PluginCloneableMock.sol
  packages/contracts/contracts/test/plugin-mock/Clonable/PluginCloneableSetupMock.sol
  packages/contracts/contracts/test/plugin-mock/PluginMockData.sol
  packages/contracts/contracts/test/plugin-mock/UUPSUpgradeable/PluginSetupV1Mock.sol
  packages/contracts/contracts/test/plugin-mock/UUPSUpgradeable/PluginSetupV1MockBad.sol
  packages/contracts/contracts/test/plugin-mock/UUPSUpgradeable/PluginSetupV2Mock.sol
  packages/contracts/contracts/test/plugin-mock/UUPSUpgradeable/PluginUUPSUpgradeableMock.sol
  packages/contracts/contracts/test/plugin-mock/UUPSUpgradeable/PluginUUPSUpgradeableSetupMock.sol
  packages/contracts/contracts/test/plugin-mock/UUPSUpgradeable/PluginUUPSUpgradeableV1Mock.sol
  packages/contracts/contracts/test/plugin-mock/UUPSUpgradeable/PluginUUPSUpgradeableV2Mock.sol
  packages/contracts/test/factory/dao-factory.ts
  packages/contracts/test/factory/plugin-repo-factory.ts
  packages/contracts/test/plugin/plugin-repo.ts
  packages/contracts/test/plugin/plugin-setup-processor.ts
  packages/contracts/test/plugin/semantic-versioning.ts
  packages/contracts/test/test-utils/plugin-setup-processor.ts
  packages/contracts/test/test-utils/repo.ts
  packages/subgraph/manifest/data/goerli.json
Labels: contracts, subgraph

#139 App 1232 core npm ethers doesnt export the updated active contracts list
  .github/helpers/contracts/prepare.js
  .github/helpers/subgraph/buildMatrix.js
  .github/workflows/comment-triggers.yml
  .github/workflows/contract-tests.yml
  .github/workflows/contracts-deploy.yml
  .github/workflows/create-dummy-dao.yml
  .github/workflows/documentation-update.yml
  .github/workflows/mythx-changed.yml
  .github/workflows/mythx-full.yml
  .github/workflows/npm-release-reusable.yml
  .github/workflows/npm-release.yml
  .github/workflows/subgraph-deploy.yaml
  .github/workflows/subgraph-tests.yml
Labels: release:patch

#138 APP-1208 Update & fix ens registrar
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/registry/DAORegistry.sol
  packages/contracts/contracts/registry/PluginRepoRegistry.sol
  packages/contracts/contracts/registry/ens/ENSSubdomainRegistrar.sol
  packages/contracts/deploy/10_framework/00_ens.ts
  packages/contracts/test/registry/ens-subdomain-registry.ts
  packages/subgraph/manifest/data/goerli.json
Labels: contracts, subgraph

#141 Fix and clarify the MajorityVoting execution logic
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/test/MajorityVotingMock.sol
  packages/contracts/contracts/voting/allowlist/AllowlistVoting.sol
  packages/contracts/contracts/voting/allowlist/AllowlistVotingSetup.sol
  packages/contracts/contracts/voting/erc20/ERC20Voting.sol
  packages/contracts/contracts/voting/erc20/ERC20VotingSetup.sol
  packages/contracts/contracts/voting/majority/IMajorityVoting.sol
  packages/contracts/contracts/voting/majority/MajorityVotingBase.sol
  packages/contracts/test/core/dao.ts
  packages/contracts/test/test-utils/voting.ts
  packages/contracts/test/voting/allowlist-voting-setup.ts
  packages/contracts/test/voting/allowlist-voting.ts
  packages/contracts/test/voting/erc20-voting-setup.ts
  packages/contracts/test/voting/erc20-voting.ts
  packages/contracts/test/voting/majority-voting.ts
  packages/contracts/utils/event.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/dao/utils.ts
  packages/subgraph/src/packages/allowlist/allowlist-voting.ts
  packages/subgraph/src/packages/erc20/erc20-voting.ts
  packages/subgraph/tests/allowlist-voting/allowlist-voting.test.ts
  packages/subgraph/tests/allowlist-voting/utils.ts
  packages/subgraph/tests/dao/utils.ts
  packages/subgraph/tests/erc20-voting/erc20-voting.test.ts
  packages/subgraph/tests/erc20-voting/utils.ts
  packages/subgraph/tests/utils.ts
Labels: contracts, subgraph

#131 Permission Manager: Restrict ANY_ADDR to oracles
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/core/DAO.sol
  packages/contracts/contracts/core/permission/PermissionManager.sol
  packages/contracts/contracts/test/DAOMock.sol
  packages/contracts/contracts/test/PermissionManagerTest.sol
  packages/contracts/test/core/permission/permission-manager.ts
  packages/contracts/test/factory/dao-factory.ts
  packages/contracts/test/test-utils/oracles.ts
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/src/utils/constants.ts
  packages/subgraph/tests/dao/permission-manager.test.ts
  packages/subgraph/tests/dao/utils.ts
Labels: contracts, subgraph

#145 F/not always call upgradeon plugin app 1257
  packages/contracts/contracts/plugin/PluginSetupProcessor.sol
  packages/contracts/contracts/test/plugin-mock/UUPSUpgradeable/PluginUUPSUpgradeableSetupMock.sol
  packages/contracts/test/plugin/plugin-setup-processor.ts
  packages/contracts/test/test-utils/plugin-setup-processor.ts
Labels: contracts

#147 Fix wrong relative support calculation differing from the comments
  packages/contracts/contracts/voting/majority/MajorityVotingBase.sol
Labels: bug, contracts

#144 APP-1163 increase dao test coverage
  packages/contracts/.solcover.js
  packages/contracts/package.json
  packages/contracts/test/core/component/callback-handler.ts
  packages/contracts/test/core/dao.ts
  yarn.lock
Labels: contracts

#143 Reflect the `PermissionManager` changes in the docs
  packages/contracts/docs/core/01-how-it-works/01-the-core-contracts/02-permissions.md
Labels: contracts

#148 APP-1173 F/Unify package and plugin
  packages/subgraph/.eslintrc.json
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/dao/dao.ts
  packages/subgraph/src/dao/utils.ts
  packages/subgraph/src/packages/addresslist/addresslist-voting.ts
  packages/subgraph/src/packages/erc20/erc20-voting.ts
  packages/subgraph/src/plugin/pluginSetupProcessor.ts
  packages/subgraph/src/plugin/utils.ts
  packages/subgraph/src/utils/constants.ts
  packages/subgraph/tests/allowlist-voting/allowlist-voting.test.ts
  packages/subgraph/tests/allowlist-voting/utils.ts
  packages/subgraph/tests/dao/permission-manager.test.ts
  packages/subgraph/tests/erc20-voting/erc20-voting.test.ts
  packages/subgraph/tests/erc20-voting/utils.ts
  packages/subgraph/tests/plugin/pluginSetupProcessor.test.ts
Labels: subgraph

#150 Fixes an inheritance incompatibility between OZ and the different Plugin types
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/core/component/dao-authorizable/DaoAuthorizable.sol
  packages/contracts/contracts/core/component/dao-authorizable/DaoAuthorizableBase.sol
  packages/contracts/contracts/core/component/dao-authorizable/DaoAuthorizableCloneable.sol
  packages/contracts/contracts/core/component/dao-authorizable/DaoAuthorizableUpgradeable.sol
  packages/contracts/contracts/core/component/dao-authorizable/bases/DaoAuthorizableBaseUpgradeable.sol
  packages/contracts/contracts/core/plugin/Plugin.sol
  packages/contracts/contracts/core/plugin/PluginCloneable.sol
  packages/contracts/contracts/core/plugin/PluginUUPSUpgradeable.sol
Labels: contracts

#146 Clarify naming for MajorityVoting and subclasses
  .github/helpers/contracts/dummy-dao/createDao.js
  .github/helpers/contracts/dummy-dao/deposit.js
  .github/helpers/contracts/dummy-dao/proposal.js
  .github/helpers/contracts/dummy-dao/vote.js
  .github/workflows/create-dummy-dao.yml
  active_contracts.json
  dummy_daos.json
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/test/MajorityVotingMock.sol
  packages/contracts/contracts/voting/addresslist/AddresslistVoting.sol
  packages/contracts/contracts/voting/addresslist/AddresslistVotingSetup.sol
  packages/contracts/contracts/voting/allowlist/AllowlistVoting.sol
  packages/contracts/contracts/voting/erc20/ERC20Voting.sol
  packages/contracts/contracts/voting/erc20/ERC20VotingSetup.sol
  packages/contracts/contracts/voting/majority/IMajorityVoting.sol
  packages/contracts/contracts/voting/majority/MajorityVotingBase.sol
  packages/contracts/deploy/30_plugins/00_plugin-setups/00_addresslist_voting_setup.ts
  packages/contracts/deploy/30_plugins/10_plugin-repos/00_create-plugins-repo.ts
  packages/contracts/deploy/verify.ts
  packages/contracts/docs/core/04-contracts-overview.md
  packages/contracts/npm/artifacts.ts
  packages/contracts/test/core/dao.ts
  packages/contracts/test/voting/addresslist-voting-setup.ts
  packages/contracts/test/voting/addresslist-voting.ts
  packages/contracts/test/voting/erc20-voting-setup.ts
  packages/contracts/test/voting/erc20-voting.ts
  packages/contracts/test/voting/majority-voting.ts
  packages/contracts/utils/event.ts
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/packages/addresslist/addresslist-voting.ts
  packages/subgraph/src/packages/erc20/erc20-voting.ts
  packages/subgraph/tests/addresslist-voting/addresslist-voting.test.ts
  packages/subgraph/tests/addresslist-voting/utils.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/dao/utils.ts
  packages/subgraph/tests/erc20-voting/erc20-voting.test.ts
  packages/subgraph/tests/erc20-voting/utils.ts
  packages/subgraph/tests/plugin/pluginSetupProcessor.test.ts
  packages/subgraph/tests/utils.ts
Labels: contracts, subgraph

#153 Provide future NFT support for ERC20Voting and renaming to TokenVoting
  .github/helpers/contracts/dummy-dao/createDao.js
  .github/helpers/contracts/dummy-dao/deposit.js
  .github/helpers/contracts/dummy-dao/proposal.js
  .github/helpers/contracts/dummy-dao/vote.js
  .github/workflows/create-dummy-dao.yml
  packages/contracts/CHANGELOG.md
  packages/contracts/Releases.md
  packages/contracts/contracts/tokens/GovernanceERC20.sol
  packages/contracts/contracts/tokens/GovernanceWrappedERC20.sol
  packages/contracts/contracts/voting/token/TokenVoting.sol
  packages/contracts/contracts/voting/token/TokenVotingSetup.sol
  packages/contracts/deploy/30_plugins/00_plugin-setups/10_token_voting_setup.ts
  packages/contracts/deploy/30_plugins/10_plugin-repos/00_create-plugins-repo.ts
  packages/contracts/deploy/verify.ts
  packages/contracts/docs/core/04-contracts-overview.md
  packages/contracts/npm/artifacts.ts
  packages/contracts/test/factory/token-factory.ts
  packages/contracts/test/voting/token-voting-setup.ts
  packages/contracts/test/voting/token-voting.ts
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/src/plugin/utils.ts
  packages/subgraph/src/utils/constants.ts
  packages/subgraph/tests/dao/dao.test.ts
  packages/subgraph/tests/plugin/pluginSetupProcessor.test.ts
  packages/subgraph/tests/token-voting/token-voting.test.ts
  packages/subgraph/tests/token-voting/utils.ts
Labels: contracts, subgraph
