Repository aragon/osx, pull requests merged in 2023-06, with the labels that each got.

#395 fix: add initializeFrom call to the managing DAO proposal
  packages/contracts/deploy/update/to_v1.3.0/99_ManagingDAO.ts
Labels: contracts

#393 OS-459 : Subgraph update to v1.3.0
  packages/contracts/CHANGELOG.md
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/src/dao/dao_v1_3_0.ts
  packages/subgraph/src/packages/addresslist/addresslist-voting.ts
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/src/registries/daoRegistry.ts
  packages/subgraph/tests/dao/dao_v1_3_0.test.ts
Labels: contracts, subgraph

#394 Feat/update scrips
  .github/helpers/contracts/dummy-dao/createDao.js
  .github/helpers/contracts/dummy-dao/proposal.js
  DEPLOYMENT_CHECKLIST.md
  UPDATE_CHECKLIST.md
  active_contracts.json
  packages/contracts/deploy/helpers.ts
  packages/contracts/deploy/update/to_v1.3.0/01_DAOFactory.ts
  packages/contracts/deploy/update/to_v1.3.0/99_ManagingDAO.ts
  packages/contracts/networks.json
Labels: contracts

#403 Clarifying NatSpec comment in the `DAORegistry.register` function
  packages/contracts/docs/osx/01-how-it-works/02-framework/01-dao-creation/index.md
  packages/contracts/docs/osx/01-how-it-works/02-framework/02-plugin-management/01-plugin-repo/01-plugin-repo-creation.md
  packages/contracts/docs/osx/01-how-it-works/02-framework/03-ens-names.md
  packages/contracts/src/framework/dao/DAORegistry.sol
Labels: contracts

#405 Improved NatSpec comment for `_canApply` in `PluginSetupProcessor`
  packages/contracts/src/framework/plugin/setup/PluginSetupProcessor.sol
Labels: contracts

#400 Added revert case to applySingleTargetPermissions
  packages/contracts/CHANGELOG.md
  packages/contracts/src/core/permission/PermissionManager.sol
  packages/contracts/test/core/permission/permission-manager.ts
Labels: contracts

#401 Added revert case to grantWithCondition
  packages/contracts/CHANGELOG.md
  packages/contracts/src/core/permission/PermissionManager.sol
  packages/contracts/test/core/permission/permission-manager.ts
Labels: contracts

#411 fix: corrected build metadata
  UPDATE_CHECKLIST.md
  packages/contracts/src/plugins/governance/multisig/build-metadata.json
Labels: contracts

#413 bump package version
  packages/subgraph/package.json
  packages/subgraph/scripts/deploy-subgraph.sh
Labels: subgraph, subgraph:deploy

#414 fix polygon manifest
  packages/subgraph/manifest/data/polygon.json
Labels: subgraph

#412 Added ProtocolVersion to PluginRepoFactory and PluginRepo
  packages/contracts/CHANGELOG.md
  packages/contracts/src/framework/plugin/repo/PluginRepo.sol
  packages/contracts/src/framework/plugin/repo/PluginRepoFactory.sol
  packages/contracts/test/framework/dao/dao-factory.ts
  packages/contracts/test/framework/plugin/plugin-repo-factory.ts
  packages/contracts/test/framework/plugin/plugin-repo.ts
Labels: contracts

#410 OS-523 : add an extra check to deploy script
  packages/contracts/deploy/helpers.ts
  packages/contracts/deploy/update/to_v1.3.0/99_ManagingDAO.ts
Labels: contracts

#402 ERC-165 support for PermissionConditions
  packages/contracts/CHANGELOG.md
  packages/contracts/docs/osx/01-how-it-works/01-core/02-permissions/01-conditions.md
  packages/contracts/docs/osx/01-how-it-works/01-core/02-permissions/index.md
  packages/contracts/src/core/permission/PermissionCondition.sol
  packages/contracts/src/core/permission/PermissionConditionUpgdaeable.sol
  packages/contracts/src/core/permission/PermissionManager.sol
  packages/contracts/src/test/permission/ParameterScopingPermissionConditionTest.sol
  packages/contracts/src/test/permission/PermissionConditionMock.sol
  packages/contracts/src/test/plugin/SharedPluginTest.sol
  packages/contracts/test/core/permission/permission-manager.ts
Labels: contracts

#409 Update protocol upgrade deploy scripts
  UPDATE_CHECKLIST.md
  packages/contracts/deploy/update/to_v1.3.0/10_DAOFactory.ts
  packages/contracts/deploy/update/to_v1.3.0/11_DAOFactory_conclude.ts
  packages/contracts/deploy/update/to_v1.3.0/20_PluginRepoFactory.ts
  packages/contracts/deploy/update/to_v1.3.0/21_PluginRepoFactory_conclude.ts
  packages/contracts/deploy/update/to_v1.3.0/30_Multisig_PluginRepo.ts
  packages/contracts/deploy/update/to_v1.3.0/31_Multisig_Plugin.ts
  packages/contracts/deploy/update/to_v1.3.0/32_Multisig_Plugin_conclude.ts
  packages/contracts/deploy/update/to_v1.3.0/40_TokenVoting_PluginRepo.ts
  packages/contracts/deploy/update/to_v1.3.0/41_TokenVoting_Plugin.ts
  packages/contracts/deploy/update/to_v1.3.0/42_TokenVoting_Plugin_conclude.ts
  packages/contracts/deploy/update/to_v1.3.0/50_AddresslistVoting_PluginRepo.ts
  packages/contracts/deploy/update/to_v1.3.0/51_AddresslistVoting_Plugin.ts
  packages/contracts/deploy/update/to_v1.3.0/52_AddresslistVoting_Plugin_conclude.ts
  packages/contracts/deploy/update/to_v1.3.0/60_Admin_PluginRepo.ts
  packages/contracts/deploy/update/to_v1.3.0/90_ManagingDAO.ts
  packages/contracts/test/deploy/updateTo1_3_0.ts
Labels: contracts

#416 Fix: Add decimals to ERC20WrapperContract
  packages/subgraph/schema.graphql
  packages/subgraph/src/utils/tokens/erc20.ts
  packages/subgraph/tests/helpers/method-classes.ts
  packages/subgraph/tests/utils.ts
Labels: subgraph

#367 Documentation update: How To Guides overview
  packages/contracts/docs/osx/01-how-it-works/01-core/01-dao/01-actions.md
  packages/contracts/docs/osx/01-how-it-works/01-core/02-permissions/01-conditions.md
  packages/contracts/docs/osx/01-how-it-works/01-core/03-plugins/01-plugin-details.md
  packages/contracts/docs/osx/01-how-it-works/01-core/03-plugins/index.md
  packages/contracts/docs/osx/01-how-it-works/01-core/index.md
  packages/contracts/docs/osx/01-how-it-works/02-framework/01-dao-creation/index.md
  packages/contracts/docs/osx/01-how-it-works/02-framework/02-plugin-management/01-plugin-repo/01-plugin-repo-creation.md
  packages/contracts/docs/osx/01-how-it-works/02-framework/02-plugin-management/01-plugin-repo/index.md
  packages/contracts/docs/osx/01-how-it-works/02-framework/02-plugin-management/02-plugin-setup/01-security-risk-mitigation.md
  packages/contracts/docs/osx/01-how-it-works/02-framework/02-plugin-management/02-plugin-setup/index.md
  packages/contracts/docs/osx/01-how-it-works/02-framework/02-plugin-management/index.md
  packages/contracts/docs/osx/01-how-it-works/02-framework/03-ens-names.md
  packages/contracts/docs/osx/01-how-it-works/03-framwork-dao.md
  packages/contracts/docs/osx/01-how-it-works/index.md
  packages/contracts/docs/osx/02-how-to-guides/01-dao/01-best-practices.md
  packages/contracts/docs/osx/02-how-to-guides/01-dao/02-action-execution.md
  packages/contracts/docs/osx/02-how-to-guides/01-dao/03-managing-plugins/index.md
  packages/contracts/docs/osx/02-how-to-guides/01-dao/03-protocol-upgrades.md
  packages/contracts/docs/osx/02-how-to-guides/01-dao/04-managing-plugins/index.md
  packages/contracts/docs/osx/02-how-to-guides/01-dao/04-proposal-review.md
  packages/contracts/docs/osx/02-how-to-guides/01-dao/05-protocol-upgrades.md
  packages/contracts/docs/osx/02-how-to-guides/01-dao/index.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/01-best-practices.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/02-plugin-types.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/03-non-upgradeable-plugin/01-initialization.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/03-non-upgradeable-plugin/02-implementation.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/03-non-upgradeable-plugin/03-setup.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/03-non-upgradeable-plugin/index.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/01-initialization.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/02-implementation.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/03-setup.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/04-subsequent-builds.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/05-updating-versions.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/index.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/05-governance-plugins/01-proposals.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/05-governance-plugins/02-membership.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/05-governance-plugins/index.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/06-meta-tx-plugins.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/07-publication/01-publication-process.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/07-publication/01-versioning.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/07-publication/index.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/index.md
  packages/contracts/docs/osx/02-how-to-guides/index.md
  packages/contracts/docs/osx/index.md
Labels: contracts

#408 OS-516 : add missing artifacts
  packages/contracts/npm/artifacts.ts
Labels: contracts

#421 Feature/os 436 review
  packages/contracts/deploy/helpers.ts
  packages/contracts/deploy/update/to_v1.3.0/60_Admin_PluginRepo.ts
  packages/contracts/deploy/update/to_v1.3.0/90_ManagingDAO.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/scripts/generate-typechain.ts
  packages/contracts/src/test/Migration.sol
  packages/contracts/test/test-utils/ens.ts
  packages/contracts/test/test-utils/fixture.ts
  packages/contracts/test/test-utils/plugin-setup-processor.ts
  packages/contracts/test/upgrade/dao.ts
  packages/contracts/utils/types.ts
Labels: contracts

#425 Provide Governance Token Bases to `TokenVotingSetup` Constructor as Arguments to Avoid `initCode` size limit on Goerli
  packages/contracts/CHANGELOG.md
  packages/contracts/deploy/new/30_plugins/00_plugin-setups/10_token_voting_setup.ts
  packages/contracts/deploy/new/30_plugins/00_plugin-setups/11_token_voting_setup_conclude.ts
  packages/contracts/deploy/update/to_v1.3.0/41_TokenVoting_Plugin.ts
  packages/contracts/deploy/update/to_v1.3.0/42_TokenVoting_Plugin_conclude.ts
  packages/contracts/src/plugins/governance/majority-voting/token/TokenVotingSetup.sol
  packages/contracts/test/plugins/governance/majority-voting/token/token-voting-setup.ts
Labels: contracts

#424 Feature/os 436 review
  packages/contracts/npm/index.ts
  packages/contracts/test/plugins/utils/addresslist.ts
  packages/contracts/test/test-utils/bitmap.ts
  packages/contracts/utils/ens.ts
  packages/contracts/utils/event.ts
Labels: contracts
