Repository aragon/osx, pull requests merged in 2023-08, with the labels that each got.

#434 Fix: typos and formatting issues on documentation
  packages/contracts/docs/osx/01-how-it-works/01-core/03-plugins/index.md
  packages/contracts/docs/osx/01-how-it-works/01-core/index.md
  packages/contracts/docs/osx/01-how-it-works/02-framework/02-plugin-management/01-plugin-repo/index.md
  packages/contracts/docs/osx/01-how-it-works/02-framework/02-plugin-management/index.md
  packages/contracts/docs/osx/02-how-to-guides/01-dao/04-managing-plugins/index.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/index.md
Labels: contracts

#432 Fix: changelog entry
  packages/contracts/CHANGELOG.md
Labels: contracts

#438 Move `tagHash` function
  packages/contracts/test/framework/plugin/plugin-repo.ts
  packages/contracts/test/test-utils/psp/hash-helpers.ts
Labels: contracts

#447 f/OS-659: Update Subgraph change log & version
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/package.json
Labels: subgraph

#446 Feature/os 536 test refactoring
  .github/workflows/contract-tests.yml
  packages/contracts/deploy/update/to_v1.3.0/90_ManagingDAO.ts
  packages/contracts/src/core/dao/DAO.sol
  packages/contracts/src/core/plugin/PluginCloneable.sol
  packages/contracts/src/core/plugin/PluginUUPSUpgradeable.sol
  packages/contracts/src/framework/dao/DAORegistry.sol
  packages/contracts/src/framework/plugin/repo/PluginRepoRegistry.sol
  packages/contracts/src/framework/utils/ens/ENSSubdomainRegistrar.sol
  packages/contracts/test/core/dao/dao.ts
  packages/contracts/test/deploy/managing-dao.ts
  packages/contracts/test/framework/dao/dao-registry.ts
  packages/contracts/test/framework/plugin/plugin-repo-registry.ts
  packages/contracts/test/framework/plugin/plugin-repo.ts
  packages/contracts/test/framework/utils/ens/ens-subdomain-registry.ts
  packages/contracts/test/plugins/governance/majority-voting/addresslist/addresslist-voting.ts
  packages/contracts/test/plugins/governance/majority-voting/token/token-voting.ts
  packages/contracts/test/plugins/governance/multisig/multisig.ts
  packages/contracts/test/plugins/token/distribution/merkle-distributor.ts
  packages/contracts/test/plugins/token/distribution/merkle-minter.ts
  packages/contracts/test/test-utils/permissions.ts
  packages/contracts/test/test-utils/protocol-version.ts
  packages/contracts/test/test-utils/uups-upgradeable.ts
  packages/contracts/test/upgrade/dao.ts
Labels: contracts

#449 Main to develop
  DEPLOYMENT_CHECKLIST.md
  active_contracts.json
  packages/contracts-ethers/package.json
  packages/contracts/.env.example
  packages/contracts/Releases.md
  packages/contracts/deploy/new/30_plugins/10_plugin-repos/00_create_address_list_voting_repo.ts
  packages/contracts/deploy/new/30_plugins/10_plugin-repos/10_create_token_voting_repo.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/networks.json
  packages/contracts/package.json
  packages/contracts/src/package.json
  packages/subgraph/manifest/data/baseGoerli.json
  packages/subgraph/manifest/data/baseMainnet.json
  yarn.lock
Labels: contracts, subgraph

#450 chore: updates graph-cli to 0.52.0
  packages/subgraph/package.json
  packages/subgraph/tests/dao/dao_v1_3_0.test.ts
  yarn.lock
Labels: subgraph

#453 fix(subgraph): update to @graphprotocol/graph-cli@0.52.0
  packages/subgraph/package.json
  packages/subgraph/tests/dao/dao_v1_3_0.test.ts
  yarn.lock
Labels: subgraph

#445 changing the index titles
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/03-non-upgradeable-plugin/02-implementation.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/03-non-upgradeable-plugin/03-setup.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/02-implementation.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/03-setup.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/05-updating-versions.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/index.md
Labels: contracts
