Repository aragon/osx, pull requests merged in 2023-04, with the labels that each got.

#351 fix: adds missing allowFailureMap parameter to IDAO.Executed event
  packages/contracts/CHANGELOG.md
  packages/contracts/src/core/dao/DAO.sol
  packages/contracts/src/core/dao/IDAO.sol
  packages/contracts/src/test/dao/DAOMock.sol
  packages/contracts/test/core/dao/dao.ts
  packages/subgraph/CHANGELOG.md
  packages/subgraph/abis/DAO_v1_0_0.json
  packages/subgraph/manifest/data/arbitrum-rinkeby.json
  packages/subgraph/manifest/data/goerli.json
  packages/subgraph/manifest/data/localhost.json
  packages/subgraph/manifest/data/mainnet.json
  packages/subgraph/manifest/data/mumbai.json
  packages/subgraph/manifest/data/polygon.json
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/src/dao/dao_v1_0_0.ts
  packages/subgraph/src/dao/dao_v1_2_0.ts
  packages/subgraph/src/dao/utils.ts
  packages/subgraph/src/packages/addresslist/addresslist-voting.ts
  packages/subgraph/src/packages/admin/adminMembers.ts
  packages/subgraph/src/packages/token/governance-erc20.ts
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/src/plugin/utils.ts
  packages/subgraph/src/registries/daoRegistry.ts
  packages/subgraph/src/utils/tokens/erc20.ts
  packages/subgraph/src/utils/tokens/erc721.ts
  packages/subgraph/tests/admin/utils.ts
  packages/subgraph/tests/dao/dao_v1_0_0.test.ts
  packages/subgraph/tests/dao/dao_v1_2_0.test.ts
  packages/subgraph/tests/dao/permission-manager.test.ts
  packages/subgraph/tests/dao/utils.ts
  packages/subgraph/tests/token/utils.ts
  packages/subgraph/tests/utils.ts
Labels: contracts, subgraph

#352 OS-331 : Rename executable to potentiallyExecutable
  packages/subgraph/CHANGELOG.md
  packages/subgraph/schema.graphql
  packages/subgraph/src/packages/addresslist/addresslist-voting.ts
  packages/subgraph/src/packages/multisig/multisig.ts
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/tests/addresslist-voting/addresslist-voting.test.ts
  packages/subgraph/tests/addresslist-voting/utils.ts
  packages/subgraph/tests/multisig/multisig.test.ts
  packages/subgraph/tests/multisig/utils.ts
  packages/subgraph/tests/token/token-voting.test.ts
  packages/subgraph/tests/token/utils.ts
Labels: subgraph

#327 OS-265 : builder testing
  packages/subgraph/.gitignore
  packages/subgraph/CHANGELOG.md
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/plugin/utils.ts
  packages/subgraph/src/utils/constants.ts
  packages/subgraph/tests/admin/adminMembers.test.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/helpers/method-classes.ts
  packages/subgraph/tests/schema-extender.ts
  packages/subgraph/tests/token/token-voting.test.ts
  yarn.lock
Labels: subgraph

#353 Feat/update mumbai
  UPDATE_CHECKLIST.md
  active_contracts.json
  packages/contracts/Releases.md
Labels: contracts

#354 OS-206: test dao with extended schema (part-1)
  packages/subgraph/tests/dao/dao_v1_0_0.test.ts
  packages/subgraph/tests/helpers/method-classes.ts
Labels: subgraph

#359 OS-365 : map and test delegation
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/dao/dao_v1_0_0.ts
  packages/subgraph/src/packages/multisig/multisig.ts
  packages/subgraph/src/packages/token/governance-erc20.ts
  packages/subgraph/src/plugin/pluginRepo.ts
  packages/subgraph/tests/dao/dao_v1_0_0.test.ts
  packages/subgraph/tests/helpers/method-classes.ts
  packages/subgraph/tests/plugin/pluginSetupProcessor.test.ts
  packages/subgraph/tests/token/governance-erc20.test.ts
  packages/subgraph/tests/token/token-voting.test.ts
  packages/subgraph/tests/token/utils.ts
Labels: subgraph

#348 Changed solc compiler pragma
  DEPLOYMENT_CHECKLIST.md
  packages/contracts/CHANGELOG.md
  packages/contracts/src/core/dao/IDAO.sol
  packages/contracts/src/core/permission/IPermissionCondition.sol
  packages/contracts/src/core/permission/PermissionLib.sol
  packages/contracts/src/core/permission/PermissionManager.sol
  packages/contracts/src/core/plugin/IPlugin.sol
  packages/contracts/src/core/plugin/Plugin.sol
  packages/contracts/src/core/plugin/PluginCloneable.sol
  packages/contracts/src/core/plugin/PluginUUPSUpgradeable.sol
  packages/contracts/src/core/plugin/dao-authorizable/DaoAuthorizable.sol
  packages/contracts/src/core/plugin/dao-authorizable/DaoAuthorizableUpgradeable.sol
  packages/contracts/src/core/plugin/membership/IMembership.sol
  packages/contracts/src/core/plugin/proposal/IProposal.sol
  packages/contracts/src/core/plugin/proposal/Proposal.sol
  packages/contracts/src/core/plugin/proposal/ProposalUpgradeable.sol
  packages/contracts/src/core/utils/auth.sol
  packages/contracts/src/framework/plugin/setup/IPluginSetup.sol
  packages/contracts/src/framework/plugin/setup/PluginSetup.sol
  packages/contracts/src/plugins/governance/majority-voting/IMajorityVoting.sol
  packages/contracts/src/plugins/governance/majority-voting/MajorityVotingBase.sol
  packages/contracts/src/plugins/utils/Addresslist.sol
  packages/contracts/src/plugins/utils/Ratio.sol
  packages/contracts/src/utils/Proxy.sol
  packages/contracts/src/utils/UncheckedMath.sol
Labels: contracts

#364 Feature/os 399 hardhat upgrades
  DEPLOYMENT_CHECKLIST.md
  packages/contracts/package.json
  yarn.lock
Labels: contracts

#356 Feature: Add indexation of ERC20 wrapper contracts
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/src/utils/constants.ts
  packages/subgraph/src/utils/tokens/erc20.ts
  packages/subgraph/tests/helpers/method-classes.ts
  packages/subgraph/tests/token/token-voting.test.ts
  packages/subgraph/tests/token/utils.ts
  packages/subgraph/tests/utils.ts
Labels: subgraph

#357 OS-253 : rename proposalId to pluginProposalId
  packages/subgraph/CHANGELOG.md
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/packages/addresslist/addresslist-voting.ts
  packages/subgraph/src/packages/admin/admin.ts
  packages/subgraph/src/packages/multisig/multisig.ts
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/tests/addresslist-voting/addresslist-voting.test.ts
  packages/subgraph/tests/addresslist-voting/utils.ts
  packages/subgraph/tests/admin/admin.test.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/helpers/method-classes.ts
  packages/subgraph/tests/multisig/multisig.test.ts
  packages/subgraph/tests/multisig/utils.ts
  packages/subgraph/tests/token/utils.ts
Labels: subgraph
