Repository aragon/osx, pull requests merged in 2023-10, with the labels that each got.

#383 refactor: type safety improvements
  .github/pull_request_template.md
  packages/contracts/CHANGELOG.md
  packages/contracts/docs/developer-portal/01-how-it-works/01-core/01-dao/01-actions.md
  packages/contracts/docs/developer-portal/02-how-to-guides/01-dao/02-action-execution.md
  packages/contracts/docs/developer-portal/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/03-setup.md
  packages/contracts/src/framework/plugin/repo/PluginRepoFactory.sol
  packages/contracts/src/framework/utils/TokenFactory.sol
  packages/contracts/src/plugins/counter-example/v1/CounterV1PluginSetup.sol
  packages/contracts/src/plugins/counter-example/v2/CounterV2PluginSetup.sol
  packages/contracts/src/plugins/governance/admin/AdminSetup.sol
  packages/contracts/src/plugins/governance/majority-voting/addresslist/AddresslistVotingSetup.sol
  packages/contracts/src/plugins/governance/majority-voting/token/TokenVotingSetup.sol
  packages/contracts/src/plugins/governance/multisig/MultisigSetup.sol
  packages/contracts/src/plugins/token/MerkleMinter.sol
  packages/contracts/src/test/plugin/PluginMockData.sol
  packages/contracts/src/test/plugin/UUPSUpgradeable/PluginUUPSUpgradeableSetupMock.sol
Labels: contracts

#474 test: add interface tests and subgraph renaming
  packages/contracts/src/test/Migration.sol
  packages/contracts/test/core/dao/dao.ts
  packages/contracts/test/interfaces.ts
  packages/contracts/test/plugins/governance/admin/admin-setup.ts
  packages/contracts/test/plugins/governance/admin/admin.ts
  packages/contracts/test/plugins/governance/majority-voting/addresslist/addresslist-voting-setup.ts
  packages/contracts/test/plugins/governance/majority-voting/addresslist/addresslist-voting.ts
  packages/contracts/test/plugins/governance/majority-voting/token/token-voting-setup.ts
  packages/contracts/test/plugins/governance/majority-voting/token/token-voting.ts
  packages/contracts/test/plugins/governance/multisig/multisig-setup.ts
  packages/contracts/test/plugins/governance/multisig/multisig.ts
  packages/contracts/test/test-utils/interfaces.ts
  packages/contracts/test/token/erc20/governance-wrapped-erc20.ts
  packages/subgraph/src/plugin/utils.ts
  packages/subgraph/src/utils/constants.ts
  packages/subgraph/src/utils/tokens/erc20.ts
  packages/subgraph/tests/plugin/pluginSetupProcessor.test.ts
  packages/subgraph/tests/token/token-voting.test.ts
Labels: contracts, subgraph

#475 Deploy contracts and subgraph to sepolia
  active_contracts.json
  packages/contracts-ethers/package.json
  packages/contracts/.env.example
  packages/contracts/Releases.md
  packages/contracts/deploy/helpers.ts
  packages/contracts/deploy/update/to_v1.3.0/90_ManagingDAO.ts
  packages/contracts/deploy/verification/99_conclude/00_save-contract-addresses.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/networks.json
  packages/contracts/package.json
  packages/contracts/src/package.json
  packages/subgraph/manifest/data/sepolia.json
Labels: contracts, subgraph

#472 Bug/ OS-725 Subgraph token detection
  packages/subgraph/src/dao/utils.ts
  packages/subgraph/src/utils/bytes.ts
  packages/subgraph/src/utils/tokens/erc1155.ts
  packages/subgraph/src/utils/tokens/erc721.ts
Labels: subgraph, subgraph:deploy

#481 Amending incorrect build metadata hierarchy
  packages/contracts/src/plugins/governance/admin/build-metadata.json
  packages/contracts/src/plugins/governance/majority-voting/addresslist/build-metadata.json
  packages/contracts/src/plugins/governance/majority-voting/token/build-metadata.json
  packages/contracts/src/plugins/governance/multisig/build-metadata.json
Labels: contracts

#478 chore: maintained changelog
  packages/contracts/CHANGELOG.md
Labels: contracts

#482 refactor: generic clone factory
  packages/contracts/src/test/plugin/CloneFactory.sol
  packages/contracts/test/plugins/governance/admin/admin.ts
Labels: contracts

#479 feat: added semver comparision lib
  packages/contracts/CHANGELOG.md
  packages/contracts/src/core/dao/DAO.sol
  packages/contracts/src/test/utils/VersionComparisonLibTest.sol
  packages/contracts/src/utils/protocol/VersionComparisonLib.sol
  packages/contracts/test/utils/version-comparison-lib.ts
Labels: contracts

#483 docs: corrected typo
  packages/contracts/docs/developer-portal/02-how-to-guides/02-plugin-development/03-non-upgradeable-plugin/03-setup.md
  packages/contracts/docs/developer-portal/02-how-to-guides/02-plugin-development/03-non-upgradeable-plugin/index.md
  packages/contracts/docs/developer-portal/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/03-setup.md
Labels: contracts

#484 bug / OS-771 : fix bug erc20 type collision
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/src/plugin/utils.ts
  packages/subgraph/src/utils/tokens/erc20.ts
  packages/subgraph/tests/dao/dao_v1_0_0.test.ts
  packages/subgraph/tests/dao/dao_v1_3_0.test.ts
Labels: subgraph

#485 fix: ipfs returned an empty string
  packages/contracts/deploy/helpers.ts
Labels: contracts

#486 refactor: remove unused contracts (`TokenFactory`, `Counter`, `MerkleDistributor`, `MerkleMinter`)
  packages/contracts-ethers/README.md
  packages/contracts/CHANGELOG.md
  packages/contracts/npm/artifacts.ts
  packages/contracts/src/framework/utils/TokenFactory.sol
  packages/contracts/src/plugins/counter-example/MultiplyHelper.sol
  packages/contracts/src/plugins/counter-example/v1/CounterV1.sol
  packages/contracts/src/plugins/counter-example/v1/CounterV1PluginSetup.sol
  packages/contracts/src/plugins/counter-example/v1/metadata.json
  packages/contracts/src/plugins/counter-example/v2/CounterV2.sol
  packages/contracts/src/plugins/counter-example/v2/CounterV2PluginSetup.sol
  packages/contracts/src/plugins/counter-example/v2/metadata.json
  packages/contracts/src/plugins/token/IMerkleDistributor.sol
  packages/contracts/src/plugins/token/IMerkleMinter.sol
  packages/contracts/src/plugins/token/MerkleDistributor.sol
  packages/contracts/src/plugins/token/MerkleMinter.sol
  packages/contracts/src/test/Migration.sol
  packages/contracts/test/framework/utils/token-factory.ts
  packages/contracts/test/interfaces.ts
  packages/contracts/test/plugins/counter-example/counter-plugin-setup.ts
  packages/contracts/test/plugins/token/distribution/merkle-distributor.ts
  packages/contracts/test/plugins/token/distribution/merkle-minter.ts
  packages/contracts/test/plugins/token/distribution/src/balance-tree.ts
  packages/contracts/test/plugins/token/distribution/src/merkle-tree.ts
Labels: contracts

#471 docs: Framework lifecycle (non-breaking changes)
  packages/contracts/docs/developer-portal/04-framework-lifecycle/01-systems.md
  packages/contracts/docs/developer-portal/04-framework-lifecycle/02-semver.md
  packages/contracts/docs/developer-portal/04-framework-lifecycle/03-osx-components/00-abstract-contract.md
  packages/contracts/docs/developer-portal/04-framework-lifecycle/03-osx-components/01-factory-contract.md
  packages/contracts/docs/developer-portal/04-framework-lifecycle/03-osx-components/02-upgradeable-contract.md
  packages/contracts/docs/developer-portal/04-framework-lifecycle/03-osx-components/03-non-upgradeable-contract.md
  packages/contracts/docs/developer-portal/04-framework-lifecycle/03-osx-components/04-registry-contract.md
  packages/contracts/docs/developer-portal/04-framework-lifecycle/03-osx-components/05-plugin-setup-processor.md
  packages/contracts/docs/developer-portal/04-framework-lifecycle/03-osx-components/06-plugin-build.md
  packages/contracts/docs/developer-portal/04-framework-lifecycle/03-osx-components/07-plugin-setup.md
  packages/contracts/docs/developer-portal/04-framework-lifecycle/04-sub-processes/01-protocol-version.md
  packages/contracts/docs/developer-portal/04-framework-lifecycle/04-sub-processes/02-contract-initialization.md
  packages/contracts/docs/developer-portal/04-framework-lifecycle/04-sub-processes/03-testing.md
  packages/contracts/docs/developer-portal/04-framework-lifecycle/04-sub-processes/04-documentation.md
  packages/contracts/docs/developer-portal/04-framework-lifecycle/04-sub-processes/05-deployment.md
  packages/contracts/docs/developer-portal/04-framework-lifecycle/04-sub-processes/06-aragon-update.md
  packages/contracts/docs/developer-portal/04-framework-lifecycle/aragon-osx.svg
  packages/contracts/docs/developer-portal/04-framework-lifecycle/index.md
Labels: contracts

#473 refactor: removed deprecated SignatureValidatorSet event from subgraph
  packages/contracts/test/core/dao/dao.ts
  packages/contracts/utils/event.ts
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/src/dao/dao_v1_0_0.ts
  packages/subgraph/tests/dao/dao_v1_0_0.test.ts
  packages/subgraph/tests/dao/utils.ts
Labels: contracts, subgraph

#488 OS-784 Bug: fix delegatee wrong deletion
  packages/subgraph/CHANGELOG.md
  packages/subgraph/schema.graphql
  packages/subgraph/src/packages/token/governance-erc20.ts
  packages/subgraph/tests/helpers/method-classes.ts
  packages/subgraph/tests/token/governance-erc20.test.ts
  packages/subgraph/tests/token/utils.ts
Labels: subgraph

#490 chore: bump subgraph version
  packages/subgraph/package.json
Labels: subgraph:deploy

#492 ci(OS-798): use base_ref as default instead of head_ref
  .github/workflows/subgraph-deploy.yaml
Labels: subgraph:deploy

#493 fix(OS-798): uses arabot PAT to commit changelog
  .github/workflows/subgraph-deploy.yaml
Labels: subgraph:deploy

#495 fix: empty metadata caused by IPFS upload returning an empty string
  packages/contracts/deploy/helpers.ts
Labels: contracts, subgraph
