Repository aragon/osx, pull requests merged in 2023-01, with the labels that each got.

#172 add extra check for upgradeability test
  packages/contracts/test/plugin/plugin-setup-processor.ts
Labels: contracts

#169 Adds gas reporting environment variables to the .env example
  packages/contracts/.env.example
  packages/contracts/hardhat.config.ts
Labels: contracts

#174 make it virtual
  packages/contracts/contracts/voting/majority/MajorityVotingBase.sol
  packages/contracts/contracts/voting/multisig/Multisig.sol
Labels: contracts

#171 Feature/use oz uint64
  packages/contracts/contracts/utils/TimeHelpers.sol
  packages/contracts/contracts/utils/Uint256Helpers.sol
  packages/contracts/contracts/voting/addresslist/AddresslistVoting.sol
  packages/contracts/contracts/voting/majority/MajorityVotingBase.sol
  packages/contracts/contracts/voting/multisig/Multisig.sol
  packages/contracts/contracts/voting/token/TokenVoting.sol
  packages/contracts/docs/core/04-contracts-overview.md
Labels: contracts

#173 App 1431 core allow multisig to restrict proposal creation to signers or anyone
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/voting/multisig/Multisig.sol
  packages/contracts/contracts/voting/multisig/MultisigSetup.sol
  packages/contracts/test/voting/multisig.ts
  packages/contracts/utils/event.ts
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/packages/multisig/multisig.ts
  packages/subgraph/src/plugin/utils.ts
  packages/subgraph/tests/multisig/multisig.test.ts
  packages/subgraph/tests/multisig/utils.ts
Labels: contracts, subgraph

#175 fix: don't store None votes in subgraph
  packages/subgraph/CHANGELOG.md
  packages/subgraph/src/packages/addresslist/addresslist-voting.ts
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/tests/addresslist-voting/addresslist-voting.test.ts
  packages/subgraph/tests/token-voting/token-voting.test.ts
Labels: subgraph

#154 Fix/audit 20221024
  packages/contracts/.gitignore
  packages/contracts/contracts/core/DAO.sol
  packages/contracts/contracts/core/permission/PermissionManager.sol
  packages/contracts/contracts/factory/DAOFactory.sol
  packages/contracts/contracts/factory/PluginRepoFactory.sol
  packages/contracts/contracts/factory/TokenFactory.sol
  packages/contracts/contracts/plugin/PluginRepo.sol
  packages/contracts/contracts/plugin/examples/count/CounterV1.sol
  packages/contracts/contracts/plugin/examples/count/CounterV2.sol
  packages/contracts/contracts/plugin/examples/count/MultiplyHelper.sol
  packages/contracts/contracts/registry/DAORegistry.sol
  packages/contracts/contracts/registry/InterfaceBasedRegistry.sol
  packages/contracts/contracts/registry/PluginRepoRegistry.sol
  packages/contracts/contracts/registry/ens/ENSSubdomainRegistrar.sol
  packages/contracts/contracts/tokens/MerkleDistributor.sol
  packages/contracts/contracts/tokens/MerkleMinter.sol
  packages/contracts/contracts/voting/allowlist/AllowlistVoting.sol
  packages/contracts/contracts/voting/erc20/ERC20Voting.sol
  packages/contracts/contracts/voting/majority/IMajorityVoting.sol
  packages/contracts/contracts/voting/majority/MajorityVotingBase.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/test/core/component/callback-handler.ts
  packages/contracts/test/core/dao.ts
  packages/contracts/test/core/permission/integration-tests/parameter-scoping-oracle.ts
  packages/contracts/test/core/permission/integration-tests/shared-plugin.ts
  packages/contracts/test/factory/dao-factory.ts
  packages/contracts/test/factory/plugin-repo-factory.ts
  packages/contracts/test/merkle/merkle-distributor.ts
  packages/contracts/test/merkle/merkle-minter.ts
  packages/contracts/test/plugin/plugin-repo.ts
  packages/contracts/test/registry/dao-registry.ts
  packages/contracts/test/registry/ens-subdomain-registry.ts
  packages/contracts/test/registry/interface-based-registry.ts
  packages/contracts/test/registry/plugin-repo-registry.ts
  packages/contracts/test/test-utils/dao.ts
  packages/contracts/test/test-utils/ens.ts
  packages/contracts/test/test-utils/proxy.ts
  packages/contracts/test/test-utils/repo.ts
  packages/contracts/test/test-utils/voting.ts
  packages/contracts/test/voting/allowlist-voting-setup.ts
  packages/contracts/test/voting/allowlist-voting.ts
  packages/contracts/test/voting/erc20-voting-setup.ts
  packages/contracts/test/voting/erc20-voting.ts
  packages/contracts/test/voting/majority-voting.ts
  packages/subgraph/tests/allowlist-voting/allowlist-voting.test.ts
  packages/subgraph/tests/erc20-voting/erc20-voting.test.ts
  yarn.lock
Labels: contracts, subgraph

#176 APP 1416 Write tests
  packages/contracts/contracts/voting/multisig/Multisig.sol
  packages/contracts/test/core/dao.ts
  packages/contracts/test/merkle/merkle-minter.ts
  packages/contracts/test/registry/dao-registry.ts
  packages/contracts/test/registry/interface-based-registry.ts
  packages/contracts/test/voting/addresslist-voting.ts
  packages/contracts/test/voting/addresslist.ts
  packages/contracts/test/voting/admin.ts
  packages/contracts/test/voting/majority-voting.ts
  packages/contracts/test/voting/multisig.ts
  packages/contracts/test/voting/token-voting.ts
  packages/contracts/utils/event.ts
Labels: contracts

#178 APP-1517 Change assertion library and assure that tests work
  packages/contracts/contracts/registry/InterfaceBasedRegistry.sol
  packages/contracts/contracts/test/GovernanceERC20Mock.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/test/core/component/callback-handler.ts
  packages/contracts/test/core/dao.ts
  packages/contracts/test/core/permission/integration-tests/parameter-scoping-oracle.ts
  packages/contracts/test/core/permission/integration-tests/shared-plugin.ts
  packages/contracts/test/core/permission/permission-manager.ts
  packages/contracts/test/factory/dao-factory.ts
  packages/contracts/test/factory/plugin-repo-factory.ts
  packages/contracts/test/merkle/merkle-distributor.ts
  packages/contracts/test/merkle/merkle-minter.ts
  packages/contracts/test/plugin/plugin-repo.ts
  packages/contracts/test/plugin/plugin-setup-processor.ts
  packages/contracts/test/registry/dao-registry.ts
  packages/contracts/test/registry/ens-subdomain-registry.ts
  packages/contracts/test/registry/interface-based-registry.ts
  packages/contracts/test/registry/plugin-repo-registry.ts
  packages/contracts/test/test-utils/custom-error-helper.ts
  packages/contracts/test/test-utils/error.ts
  packages/contracts/test/test-utils/voting.ts
  packages/contracts/test/voting/addresslist-voting-setup.ts
  packages/contracts/test/voting/addresslist-voting.ts
  packages/contracts/test/voting/addresslist.ts
  packages/contracts/test/voting/admin-setup.ts
  packages/contracts/test/voting/admin.ts
  packages/contracts/test/voting/majority-voting.ts
  packages/contracts/test/voting/multisig.ts
  packages/contracts/test/voting/token-voting-setup.ts
  packages/contracts/test/voting/token-voting.ts
  packages/contracts/utils/event.ts
  yarn.lock
Labels: contracts, release:major, subgraph:major

#188 fix: updates MULTISIG_INTERFACE in subgraph plugin detection
  packages/subgraph/CHANGELOG.md
  packages/subgraph/src/utils/constants.ts
Labels: subgraph, subgraph:patch

#187 feat: adds start and enddate to multisig proposals
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/voting/multisig/Multisig.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/test/test-utils/voting.ts
  packages/contracts/test/voting/multisig.ts
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/packages/multisig/multisig.ts
  packages/subgraph/tests/multisig/multisig.test.ts
  packages/subgraph/tests/multisig/utils.ts
Labels: contracts, subgraph

#180 APP-1479 Prevent voting with `VoteOption.None`
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/test/MajorityVotingMock.sol
  packages/contracts/contracts/voting/addresslist/AddresslistVoting.sol
  packages/contracts/contracts/voting/majority/IMajorityVoting.sol
  packages/contracts/contracts/voting/majority/MajorityVotingBase.sol
  packages/contracts/contracts/voting/token/TokenVoting.sol
  packages/contracts/test/voting/addresslist-voting.ts
  packages/contracts/test/voting/token-voting.ts
Labels: contracts

#189 Fixes for pull #187
  packages/contracts/contracts/voting/multisig/Multisig.sol
  packages/contracts/test/test-utils/voting.ts
  packages/contracts/test/voting/multisig.ts
Labels: contracts

#177 Feature/audit changes
  packages/contracts/.gitignore
  packages/contracts/contracts/core/DAO.sol
  packages/contracts/contracts/core/permission/PermissionManager.sol
  packages/contracts/contracts/factory/DAOFactory.sol
  packages/contracts/contracts/factory/PluginRepoFactory.sol
  packages/contracts/contracts/plugin/PluginRepo.sol
  packages/contracts/contracts/plugin/examples/count/CounterV1.sol
  packages/contracts/contracts/plugin/examples/count/CounterV2.sol
  packages/contracts/contracts/plugin/examples/count/MultiplyHelper.sol
  packages/contracts/contracts/registry/DAORegistry.sol
  packages/contracts/contracts/registry/InterfaceBasedRegistry.sol
  packages/contracts/contracts/registry/PluginRepoRegistry.sol
  packages/contracts/contracts/registry/ens/ENSSubdomainRegistrar.sol
  packages/contracts/contracts/tokens/GovernanceERC20.sol
  packages/contracts/contracts/tokens/MerkleDistributor.sol
  packages/contracts/contracts/tokens/MerkleMinter.sol
  packages/contracts/contracts/voting/majority/MajorityVotingBase.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/test/core/component/callback-handler.ts
  packages/contracts/test/core/dao.ts
  packages/contracts/test/core/permission/integration-tests/parameter-scoping-oracle.ts
  packages/contracts/test/core/permission/integration-tests/shared-plugin.ts
  packages/contracts/test/factory/dao-factory.ts
  packages/contracts/test/factory/plugin-repo-factory.ts
  packages/contracts/test/merkle/merkle-distributor.ts
  packages/contracts/test/merkle/merkle-minter.ts
  packages/contracts/test/plugin/plugin-repo.ts
  packages/contracts/test/registry/dao-registry.ts
  packages/contracts/test/registry/ens-subdomain-registry.ts
  packages/contracts/test/registry/interface-based-registry.ts
  packages/contracts/test/registry/plugin-repo-registry.ts
  packages/contracts/test/test-utils/dao.ts
  packages/contracts/test/test-utils/ens.ts
  packages/contracts/test/test-utils/proxy.ts
  packages/contracts/test/test-utils/repo.ts
  packages/contracts/test/voting/addresslist-voting.ts
  packages/contracts/test/voting/admin.ts
  packages/contracts/test/voting/majority-voting.ts
  packages/contracts/test/voting/multisig.ts
  packages/contracts/test/voting/token-voting-setup.ts
  packages/contracts/test/voting/token-voting.ts
  yarn.lock
Labels: contracts

#190 fix: updates interfaces used by subgraph for plugin detection
  packages/subgraph/CHANGELOG.md
  packages/subgraph/package.json
  packages/subgraph/src/utils/constants.ts
Labels: subgraph

#182 APP-1447 Common proposal interface
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/core/plugin/Proposal.sol
  packages/contracts/contracts/core/plugin/ProposalBase.sol
  packages/contracts/contracts/core/plugin/ProposalUpgradeable.sol
  packages/contracts/contracts/voting/addresslist/AddresslistVoting.sol
  packages/contracts/contracts/voting/admin/Admin.sol
  packages/contracts/contracts/voting/majority/IMajorityVoting.sol
  packages/contracts/contracts/voting/majority/MajorityVotingBase.sol
  packages/contracts/contracts/voting/multisig/Multisig.sol
  packages/contracts/contracts/voting/token/TokenVoting.sol
  packages/contracts/test/voting/admin-setup.ts
  packages/contracts/test/voting/admin.ts
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/packages/addresslist/addresslist-voting.ts
  packages/subgraph/src/packages/admin/admin.ts
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/src/utils/constants.ts
  packages/subgraph/tests/addresslist-voting/addresslist-voting.test.ts
  packages/subgraph/tests/addresslist-voting/utils.ts
  packages/subgraph/tests/admin/admin.test.ts
  packages/subgraph/tests/admin/utils.ts
  packages/subgraph/tests/token-voting/token-voting.test.ts
  packages/subgraph/tests/token-voting/utils.ts
Labels: contracts, subgraph

#181 remove duplication
  packages/contracts/contracts/plugin/PluginSetup.sol
  packages/contracts/contracts/plugin/examples/count/CounterV1PluginSetup.sol
  packages/contracts/contracts/plugin/examples/count/CounterV2PluginSetup.sol
Labels: contracts

#196 remove freeze
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/core/permission/PermissionLib.sol
  packages/contracts/contracts/core/permission/PermissionManager.sol
  packages/contracts/contracts/test/PermissionManagerTest.sol
  packages/contracts/docs/core/01-how-it-works/01-the-core-contracts/02-permissions.md
  packages/contracts/docs/core/01-how-it-works/02-the-dao-framework/02-plugin-repository/04-plugin-setup.md
  packages/contracts/test/core/permission/permission-manager.ts
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/dao/dao.ts
  packages/subgraph/tests/dao/permission-manager.test.ts
  packages/subgraph/tests/dao/utils.ts
Labels: contracts, subgraph

#195 reduce types for minApprovals
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/voting/multisig/Multisig.sol
  packages/contracts/test/voting/multisig.ts
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/packages/multisig/multisig.ts
  packages/subgraph/tests/multisig/multisig.test.ts
  packages/subgraph/tests/multisig/utils.ts
Labels: contracts, subgraph

#197 App 1586 core update dao execute to use bytes 32
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/core/DAO.sol
  packages/contracts/contracts/core/IDAO.sol
  packages/contracts/contracts/core/IEIP4824.sol
  packages/contracts/contracts/core/plugin/ProposalBase.sol
  packages/contracts/contracts/factory/DAOFactory.sol
  packages/contracts/contracts/test/DAOMock.sol
  packages/contracts/test/core/component/callback-handler.ts
  packages/contracts/test/core/dao.ts
  packages/contracts/test/factory/dao-factory.ts
  packages/contracts/test/test-utils/dao.ts
  packages/contracts/test/test-utils/voting.ts
  packages/contracts/test/voting/addresslist-voting.ts
  packages/contracts/test/voting/admin.ts
  packages/contracts/test/voting/majority-voting.ts
  packages/contracts/test/voting/multisig.ts
  packages/contracts/test/voting/token-voting.ts
  packages/contracts/utils/event.ts
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/dao/dao.test.ts
  packages/subgraph/tests/dao/utils.ts
Labels: contracts, subgraph

#199 remove shadowing
  packages/contracts/contracts/voting/multisig/Multisig.sol
  packages/contracts/test/voting/multisig.ts
Labels: contracts

#200 feat: renames oracle to condition
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/core/IDAO.sol
  packages/contracts/contracts/core/permission/IPermissionCondition.sol
  packages/contracts/contracts/core/permission/PermissionLib.sol
  packages/contracts/contracts/core/permission/PermissionManager.sol
  packages/contracts/contracts/plugin/examples/count/CounterV1PluginSetup.sol
  packages/contracts/contracts/plugin/examples/count/CounterV2PluginSetup.sol
  packages/contracts/contracts/test/PermissionOracleMock.sol
  packages/contracts/contracts/test/TestParameterScopingACLOracle.sol
  packages/contracts/contracts/test/TestSharedPlugin.sol
  packages/contracts/contracts/test/plugin-mock/PluginMockData.sol
  packages/contracts/contracts/voting/addresslist/AddresslistVotingSetup.sol
  packages/contracts/contracts/voting/admin/AdminSetup.sol
  packages/contracts/contracts/voting/multisig/MultisigSetup.sol
  packages/contracts/contracts/voting/token/TokenVotingSetup.sol
  packages/contracts/docs/core/01-how-it-works/01-the-core-contracts/02-permissions.md
  packages/contracts/docs/core/01-how-it-works/02-the-dao-framework/02-plugin-repository/04-plugin-setup.md
  packages/contracts/docs/core/04-contracts-overview.md
  packages/contracts/npm/artifacts.ts
  packages/contracts/test/core/permission/integration-tests/parameter-scoping-condition.ts
  packages/contracts/test/core/permission/integration-tests/shared-plugin.ts
  packages/contracts/test/core/permission/permission-manager.ts
  packages/contracts/test/test-utils/conditions.ts
  packages/contracts/test/test-utils/oracles.ts
  packages/contracts/test/test-utils/plugin-setup-processor.ts
  packages/subgraph/CHANGELOG.md
  packages/subgraph/schema.graphql
  packages/subgraph/src/dao/dao.ts
  packages/subgraph/tests/dao/utils.ts
Labels: contracts, subgraph

#205 fix: fixes repo workspace settings
  .gitignore
  .prettierrc
  .vscode/settings.json
  packages/contracts/package.json
  packages/subgraph/package.json
  yarn.lock
Labels: contracts, subgraph

#206 feat: removes EIP-165 implementation from ProposalBase
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/core/plugin/ProposalBase.sol
  packages/contracts/contracts/voting/admin/Admin.sol
  packages/contracts/contracts/voting/majority/MajorityVotingBase.sol
  packages/contracts/contracts/voting/multisig/Multisig.sol
Labels: contracts

#210 feat: renames ItemSingleTarget to SingleTargetPermission
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/core/permission/PermissionLib.sol
  packages/contracts/contracts/core/permission/PermissionManager.sol
  packages/contracts/contracts/factory/DAOFactory.sol
  packages/contracts/contracts/factory/PluginRepoFactory.sol
  packages/contracts/contracts/plugin/IPluginSetup.sol
  packages/contracts/contracts/plugin/PluginSetup.sol
  packages/contracts/contracts/plugin/PluginSetupProcessor.sol
  packages/contracts/contracts/plugin/examples/count/CounterV1PluginSetup.sol
  packages/contracts/contracts/plugin/examples/count/CounterV2PluginSetup.sol
  packages/contracts/contracts/test/plugin-mock/Clonable/PluginCloneableSetupMock.sol
  packages/contracts/contracts/test/plugin-mock/PluginMockData.sol
  packages/contracts/contracts/test/plugin-mock/UUPSUpgradeable/PluginUUPSUpgradeableSetupMock.sol
  packages/contracts/contracts/voting/addresslist/AddresslistVotingSetup.sol
  packages/contracts/contracts/voting/admin/AdminSetup.sol
  packages/contracts/contracts/voting/multisig/MultisigSetup.sol
  packages/contracts/contracts/voting/token/TokenVotingSetup.sol
  packages/contracts/test/core/permission/permission-manager.ts
Labels: contracts

#211 APP-1650: Test `applyRationCeiled` and `applyRatioFloored`
  packages/contracts/contracts/test/RatioTest.sol
  packages/contracts/contracts/utils/Ratio.sol
  packages/contracts/contracts/voting/addresslist/AddresslistVoting.sol
  packages/contracts/contracts/voting/token/TokenVoting.sol
  packages/contracts/test/utils/ratio.ts
Labels: contracts

#209 fix inheritance chain
  packages/contracts/contracts/core/plugin/Plugin.sol
  packages/contracts/contracts/core/plugin/PluginCloneable.sol
  packages/contracts/contracts/core/plugin/PluginUUPSUpgradeable.sol
Labels: contracts

#207 failureMap for plugins
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/core/IDAO.sol
  packages/contracts/contracts/core/plugin/ProposalBase.sol
  packages/contracts/contracts/test/MajorityVotingMock.sol
  packages/contracts/contracts/voting/addresslist/AddresslistVoting.sol
  packages/contracts/contracts/voting/admin/Admin.sol
  packages/contracts/contracts/voting/majority/MajorityVotingBase.sol
  packages/contracts/contracts/voting/multisig/Multisig.sol
  packages/contracts/contracts/voting/token/TokenVoting.sol
  packages/contracts/test/voting/addresslist-voting.ts
  packages/contracts/test/voting/admin-setup.ts
  packages/contracts/test/voting/admin.ts
  packages/contracts/test/voting/multisig.ts
  packages/contracts/test/voting/token-voting.ts
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/packages/addresslist/addresslist-voting.ts
  packages/subgraph/src/packages/admin/admin.ts
  packages/subgraph/src/packages/multisig/multisig.ts
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/tests/addresslist-voting/addresslist-voting.test.ts
  packages/subgraph/tests/addresslist-voting/utils.ts
  packages/subgraph/tests/admin/admin.test.ts
  packages/subgraph/tests/admin/utils.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/multisig/multisig.test.ts
  packages/subgraph/tests/multisig/utils.ts
  packages/subgraph/tests/token-voting/token-voting.test.ts
  packages/subgraph/tests/token-voting/utils.ts
  packages/subgraph/tests/utils.ts
Labels: contracts, subgraph

#214 Feature/fallback return
  packages/contracts/contracts/core/DAO.sol
  packages/contracts/contracts/core/component/CallbackHandler.sol
  packages/contracts/contracts/test/CallbackHandlerHelperMock.sol
  packages/contracts/test/core/component/callback-handler.ts
  packages/contracts/test/core/dao.ts
  packages/contracts/test/registry/interface-based-registry.ts
Labels: contracts

#208 APP-1583 / Remove setup ABIs
  .github/workflows/contract-tests.yml
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/factory/DAOFactory.sol
  packages/contracts/contracts/plugin/IPluginSetup.sol
  packages/contracts/contracts/plugin/PluginSetup.sol
  packages/contracts/contracts/plugin/PluginSetupProcessor.sol
  packages/contracts/contracts/plugin/examples/count/v1/CounterV1.sol
  packages/contracts/contracts/plugin/examples/count/v1/CounterV1PluginSetup.sol
  packages/contracts/contracts/plugin/examples/count/v1/metadata.json
  packages/contracts/contracts/plugin/examples/count/v2/CounterV2.sol
  packages/contracts/contracts/plugin/examples/count/v2/CounterV2PluginSetup.sol
  packages/contracts/contracts/plugin/examples/count/v2/metadata.json
  packages/contracts/contracts/test/plugin-mock/Clonable/PluginCloneableSetupMock.sol
  packages/contracts/contracts/test/plugin-mock/UUPSUpgradeable/PluginUUPSUpgradeableSetupMock.sol
  packages/contracts/contracts/voting/addresslist/AddresslistVotingSetup.sol
  packages/contracts/contracts/voting/addresslist/metadata.json
  packages/contracts/contracts/voting/admin/AdminSetup.sol
  packages/contracts/contracts/voting/admin/metadata.json
  packages/contracts/contracts/voting/multisig/MultisigSetup.sol
  packages/contracts/contracts/voting/multisig/metadata.json
  packages/contracts/contracts/voting/token/TokenVotingSetup.sol
  packages/contracts/contracts/voting/token/metadata.json
  packages/contracts/deploy/00_managing-dao/00_managing-dao.ts
  packages/contracts/deploy/30_plugins/10_plugin-repos/00_create-plugins-repo.ts
  packages/contracts/deploy/helpers.ts
  packages/contracts/test/voting/addresslist-voting-setup.ts
  packages/contracts/test/voting/admin-setup.ts
  packages/contracts/test/voting/token-voting-setup.ts
Labels: contracts

#218 APP-1662: add voteReplaced
  packages/subgraph/CHANGELOG.md
  packages/subgraph/schema.graphql
  packages/subgraph/src/packages/addresslist/addresslist-voting.ts
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/tests/addresslist-voting/addresslist-voting.test.ts
  packages/subgraph/tests/token-voting/token-voting.test.ts
Labels: subgraph

#213 feat: adds check that plugin or dao name only contains a limited charset
  .github/helpers/contracts/register-ens-subdomain.js
  .github/workflows/contract-tests.yml
  .github/workflows/contracts-deploy.yml
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/factory/PluginRepoFactory.sol
  packages/contracts/contracts/registry/DAORegistry.sol
  packages/contracts/contracts/registry/PluginRepoRegistry.sol
  packages/contracts/contracts/registry/RegistryUtils.sol
  packages/contracts/contracts/test/RegistryUtils.sol
  packages/contracts/deploy/10_framework/00_ens.ts
  packages/contracts/deploy/30_plugins/10_plugin-repos/00_create-plugins-repo.ts
  packages/contracts/test/factory/dao-factory.ts
  packages/contracts/test/factory/plugin-repo-factory.ts
  packages/contracts/test/plugin/plugin-setup-processor.ts
  packages/contracts/test/registry/dao-registry.ts
  packages/contracts/test/registry/plugin-repo-registry.ts
  packages/contracts/test/registry/registry-utils.ts
  packages/contracts/utils/ens.ts
  packages/subgraph/CHANGELOG.md
  packages/subgraph/schema.graphql
  packages/subgraph/src/registries/daoRegistry.ts
  packages/subgraph/src/registries/pluginRepoRegistry.ts
  packages/subgraph/tests/registry/daoRegistry.test.ts
  packages/subgraph/tests/registry/pluginRepoRegistry.test.ts
Labels: contracts, subgraph

#223 add execution tx hash to proposal entity
  packages/subgraph/CHANGELOG.md
  packages/subgraph/schema.graphql
  packages/subgraph/src/packages/addresslist/addresslist-voting.ts
  packages/subgraph/src/packages/admin/admin.ts
  packages/subgraph/src/packages/multisig/multisig.ts
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/tests/addresslist-voting/addresslist-voting.test.ts
  packages/subgraph/tests/admin/admin.test.ts
  packages/subgraph/tests/multisig/multisig.test.ts
  packages/subgraph/tests/token-voting/token-voting.test.ts
Labels: subgraph

#212 APP-1655: Provide data for the DAOstar.one membersURI
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/core/plugin/IMembership.sol
  packages/contracts/contracts/core/plugin/IMembershipContract.sol
  packages/contracts/contracts/voting/addresslist/Addresslist.sol
  packages/contracts/contracts/voting/addresslist/AddresslistVoting.sol
  packages/contracts/contracts/voting/admin/Admin.sol
  packages/contracts/contracts/voting/majority/MajorityVotingBase.sol
  packages/contracts/contracts/voting/multisig/Multisig.sol
  packages/contracts/contracts/voting/token/TokenVoting.sol
  packages/contracts/test/voting/addresslist-voting.ts
  packages/contracts/test/voting/addresslist.ts
  packages/contracts/test/voting/admin.ts
  packages/contracts/test/voting/multisig.ts
  packages/contracts/test/voting/token-voting.ts
  packages/contracts/utils/event.ts
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/src/packages/addresslist/addresslist-voting.ts
  packages/subgraph/src/packages/admin/admin.ts
  packages/subgraph/src/packages/multisig/multisig.ts
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/tests/addresslist-voting/addresslist-voting.test.ts
  packages/subgraph/tests/addresslist-voting/utils.ts
  packages/subgraph/tests/multisig/multisig.test.ts
  packages/subgraph/tests/multisig/utils.ts
Labels: contracts, subgraph

#221 state vars public
  packages/contracts/contracts/registry/DAORegistry.sol
  packages/contracts/contracts/registry/ens/ENSSubdomainRegistrar.sol
  packages/contracts/test/registry/dao-registry.ts
  packages/contracts/test/registry/plugin-repo-registry.ts
Labels: contracts

#224 remove merkleminter/distributor from tokenvotingsetup
  packages/contracts/contracts/voting/token/TokenVotingSetup.sol
Labels: contracts

#222 plugin repo types changes
  packages/contracts/contracts/plugin/PluginRepo.sol
Labels: contracts

#227 feat: makes PSP state public for future versions to use
  packages/contracts/contracts/plugin/PluginSetupProcessor.sol
Labels: contracts

#220 APP-1676 : Adding metadata support for release
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/factory/PluginRepoFactory.sol
  packages/contracts/contracts/plugin/IPluginRepo.sol
  packages/contracts/contracts/plugin/PluginRepo.sol
  packages/contracts/contracts/voting/addresslist/build-metadata.json
  packages/contracts/contracts/voting/addresslist/release-metadata.json
  packages/contracts/contracts/voting/admin/build-metadata.json
  packages/contracts/contracts/voting/admin/release-metadata.json
  packages/contracts/contracts/voting/multisig/build-metadata.json
  packages/contracts/contracts/voting/multisig/release-metadata.json
  packages/contracts/contracts/voting/token/build-metadata.json
  packages/contracts/contracts/voting/token/release-metadata.json
  packages/contracts/deploy/30_plugins/10_plugin-repos/00_create-plugins-repo.ts
  packages/contracts/deploy/helpers.ts
  packages/contracts/test/factory/plugin-repo-factory.ts
  packages/contracts/test/plugin/plugin-repo.ts
  packages/contracts/test/voting/addresslist-voting-setup.ts
  packages/contracts/test/voting/admin-setup.ts
  packages/contracts/test/voting/token-voting-setup.ts
  packages/subgraph/src/plugin/pluginRepo.ts
Labels: contracts, subgraph

#219 withdraw-deposit tests finish
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/core/DAO.sol
  packages/contracts/contracts/core/IDAO.sol
  packages/contracts/contracts/core/component/CallbackHandler.sol
  packages/contracts/contracts/test/DAOMock.sol
  packages/contracts/contracts/test/token/TestERC1155.sol
  packages/contracts/contracts/test/token/TestERC20.sol
  packages/contracts/contracts/test/token/TestERC721.sol
  packages/contracts/test/core/component/callback-handler.ts
  packages/contracts/test/core/dao.ts
  packages/contracts/test/test-utils/dao.ts
  packages/contracts/utils/event.ts
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/src/dao/dao.ts
  packages/subgraph/tests/dao/dao.test.ts
  packages/subgraph/tests/dao/utils.ts
Labels: contracts, subgraph

#226 App 1646 core mainnet deployment check list
  .gitignore
  .vscode/settings.json
  DEPLOYMENT_CHECKLIST.md
  packages/contracts/CHANGELOG.md
  packages/contracts/deploy/00_managing-dao/99_verify_step.ts
  packages/contracts/deploy/10_framework/00_ens.ts
  packages/contracts/deploy/10_framework/99_verifiy_step.ts
  packages/contracts/deploy/20_permissions/99_verify.ts
  packages/contracts/deploy/99_conclude/00_save-contract-addresses.ts
  packages/contracts/deploy/99_conclude/10_verify-contracts.ts
  packages/contracts/deploy/helpers.ts
  packages/subgraph/.env-example
  packages/subgraph/README.md
Labels: contracts, subgraph

#194 APP-1578 Removed redundant totalVotingPower storage
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/core/permission/PermissionManager.sol
  packages/contracts/contracts/test/MajorityVotingMock.sol
  packages/contracts/contracts/voting/addresslist/AddresslistVoting.sol
  packages/contracts/contracts/voting/majority/MajorityVotingBase.sol
  packages/contracts/contracts/voting/token/TokenVoting.sol
  packages/contracts/test/voting/addresslist-voting.ts
  packages/contracts/test/voting/token-voting.ts
  packages/subgraph/CHANGELOG.md
  packages/subgraph/src/packages/addresslist/addresslist-voting.ts
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/tests/addresslist-voting/addresslist-voting.test.ts
  packages/subgraph/tests/token-voting/token-voting.test.ts
  packages/subgraph/tests/utils.ts
Labels: contracts, subgraph

#229 commit
  packages/contracts/contracts/core/permission/PermissionManager.sol
  packages/contracts/contracts/factory/DAOFactory.sol
  packages/contracts/contracts/factory/PluginRepoFactory.sol
  packages/contracts/contracts/plugin/PluginRepo.sol
  packages/contracts/contracts/plugin/PluginSetupProcessor.sol
  packages/contracts/contracts/plugin/SemanticVersioning.sol
  packages/contracts/contracts/registry/InterfaceBasedRegistry.sol
  packages/contracts/contracts/test/SemanticVersioningMock.sol
  packages/contracts/test/plugin/semantic-versioning.ts
  packages/contracts/test/registry/interface-based-registry.ts
  packages/subgraph/manifest/subgraph.placeholder.yaml
Labels: contracts, subgraph

#232 Feature/psp rename
  packages/contracts/contracts/plugin/PluginSetupProcessor.sol
  packages/contracts/contracts/plugin/psp/utils/Common.sol
  packages/contracts/test/core/dao.ts
Labels: contracts

#235 remove todo
  packages/contracts/contracts/factory/PluginRepoFactory.sol
  packages/contracts/contracts/factory/TokenFactory.sol
  packages/contracts/contracts/plugin/PluginRepo.sol
  packages/contracts/contracts/registry/InterfaceBasedRegistry.sol
  packages/contracts/contracts/test/plugin-mock/UUPSUpgradeable/PluginUUPSUpgradeableSetupMock.sol
  packages/contracts/contracts/voting/multisig/Multisig.sol
Labels: contracts

#230 APP-1663, APP-1701: NatSpec documentation for the PSP and related files
  packages/contracts/CHANGELOG.md
  packages/contracts/contracts/factory/DAOFactory.sol
  packages/contracts/contracts/factory/PluginRepoFactory.sol
  packages/contracts/contracts/plugin/IPluginRepo.sol
  packages/contracts/contracts/plugin/IPluginSetup.sol
  packages/contracts/contracts/plugin/PluginRepo.sol
  packages/contracts/contracts/plugin/PluginSetup.sol
  packages/contracts/contracts/plugin/PluginSetupProcessor.sol
  packages/contracts/contracts/plugin/examples/count/v1/CounterV1PluginSetup.sol
  packages/contracts/contracts/plugin/examples/count/v2/CounterV2PluginSetup.sol
  packages/contracts/contracts/plugin/psp/utils/Common.sol
  packages/contracts/contracts/test/plugin-mock/Clonable/PluginCloneableSetupMock.sol
  packages/contracts/contracts/test/plugin-mock/UUPSUpgradeable/PluginUUPSUpgradeableSetupMock.sol
  packages/contracts/contracts/voting/addresslist/AddresslistVotingSetup.sol
  packages/contracts/contracts/voting/admin/AdminSetup.sol
  packages/contracts/contracts/voting/multisig/MultisigSetup.sol
  packages/contracts/contracts/voting/token/TokenVotingSetup.sol
  packages/contracts/test/plugin/counter-plugin-setup.ts
  packages/contracts/test/voting/addresslist-voting-setup.ts
  packages/contracts/test/voting/admin-setup.ts
  packages/contracts/test/voting/token-voting-setup.ts
  packages/subgraph/src/plugin/pluginRepo.ts
  packages/subgraph/src/plugin/pluginSetupProcessor.ts
Labels: contracts, subgraph

#233 token-voting
  packages/contracts/contracts/factory/TokenFactory.sol
  packages/contracts/contracts/voting/token/TokenVotingSetup.sol
  packages/contracts/test/factory/token-factory.ts
Labels: contracts

#236 Initialize Visibility & Storage Gaps
  packages/contracts/src/framework/dao/DAORegistry.sol
  packages/contracts/src/framework/plugin/repo/PluginRepoRegistry.sol
  packages/contracts/src/plugins/governance/admin/Admin.sol
  packages/contracts/src/plugins/governance/majority-voting/addresslist/AddresslistVoting.sol
  packages/contracts/src/plugins/governance/majority-voting/token/TokenVoting.sol
  packages/contracts/src/plugins/governance/multisig/Multisig.sol
  packages/contracts/src/token/ERC20/governance/GovernanceERC20.sol
  packages/contracts/src/token/ERC20/governance/GovernanceWrappedERC20.sol
Labels: contracts

#237 APP-1689: Fixed `build-metadata.json` and added tests for `MultisigSetup`
  packages/contracts/src/plugins/governance/multisig/build-metadata.json
  packages/contracts/test/plugins/governance/multisig/multisig-setup.ts
Labels: contracts
