Repository aragon/osx, pull requests merged in 2023-02, with the labels that each got.

#238 feat: contract deployment to 0.7.0-alpha
  active_contracts.json
  packages/contracts-ethers/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/Releases.md
  packages/contracts/deploy/99_conclude/10_verify-contracts.ts
  packages/contracts/package.json
Labels: contracts

#239 App 1661 update subgraph to plugin version psp2
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/data/goerli.json
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/plugin/pluginRepo.ts
  packages/subgraph/src/plugin/pluginSetupProcessor.ts
  packages/subgraph/src/plugin/utils.ts
  packages/subgraph/src/utils/constants.ts
  packages/subgraph/tests/addresslist-voting/addresslist-voting.test.ts
  packages/subgraph/tests/admin/admin.test.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/multisig/multisig.test.ts
  packages/subgraph/tests/plugin/pluginRepo.test.ts
  packages/subgraph/tests/plugin/pluginSetupProcessor.test.ts
  packages/subgraph/tests/plugin/utils.ts
  packages/subgraph/tests/token-voting/token-voting.test.ts
Labels: subgraph

#240 APP-1521: Tests for `GovernanceERC20` and `GovernanceWrappedERC20`
  .github/workflows/contract-tests.yml
  packages/contracts/CHANGELOG.md
  packages/contracts/src/plugins/governance/majority-voting/token/TokenVotingSetup.sol
  packages/contracts/src/token/ERC20/governance/GovernanceERC20.sol
  packages/contracts/src/token/ERC20/governance/GovernanceWrappedERC20.sol
  packages/contracts/test/plugins/governance/majority-voting/token/token-voting-setup.ts
  packages/contracts/test/plugins/token/distribution/merkle-minter.ts
  packages/contracts/test/plugins/utils/addresslist.ts
  packages/contracts/test/test-utils/error.ts
  packages/contracts/test/token/erc20/governance-erc20.ts
  packages/contracts/test/token/erc20/governance-wrapped-erc20.ts
Labels: contracts

#241 Use OZ's upgradeable contracts for `PluginCloneable`, remove `DaoAuthorizableCloneable` and `DaoAuthorizableBase`, and make `dao` private
  packages/contracts/CHANGELOG.md
  packages/contracts/deploy/helpers.ts
  packages/contracts/src/core/plugin/PluginCloneable.sol
  packages/contracts/src/core/plugin/dao-authorizable/DaoAuthorizable.sol
  packages/contracts/src/core/plugin/dao-authorizable/DaoAuthorizableBase.sol
  packages/contracts/src/core/plugin/dao-authorizable/DaoAuthorizableCloneable.sol
  packages/contracts/src/core/plugin/dao-authorizable/DaoAuthorizableUpgradeable.sol
  packages/contracts/src/plugins/governance/admin/Admin.sol
  packages/contracts/src/plugins/governance/majority-voting/MajorityVotingBase.sol
  packages/contracts/src/plugins/governance/multisig/Multisig.sol
  packages/contracts/src/plugins/token/MerkleMinter.sol
  packages/contracts/src/test/plugin/SharedPluginTest.sol
  packages/contracts/test/plugins/governance/admin/admin-setup.ts
  packages/contracts/test/plugins/governance/majority-voting/addresslist/addresslist-voting-setup.ts
  packages/contracts/test/plugins/governance/majority-voting/token/token-voting-setup.ts
  packages/contracts/test/plugins/governance/multisig/multisig-setup.ts
  packages/contracts/test/token/erc20/governance-erc20.ts
Labels: contracts

#243 Removed the forgotten `WITHDRAW_PERMISSION` and other permission-related fixes
  packages/contracts/CHANGELOG.md
  packages/contracts/docs/core/01-how-it-works/01-the-core-contracts/01-the-dao-contract.md
  packages/contracts/docs/core/01-how-it-works/01-the-core-contracts/02-permissions.md
  packages/contracts/docs/core/01-how-it-works/01-the-core-contracts/03-plugins.md
  packages/contracts/docs/core/01-how-it-works/02-the-dao-framework/02-plugin-repository/04-plugin-setup.md
  packages/contracts/src/core/dao/DAO.sol
  packages/contracts/src/framework/dao/DAOFactory.sol
  packages/contracts/test/core/dao/dao.ts
  packages/contracts/test/framework/dao/dao-factory.ts
Labels: contracts

#246 fix await for staticcall revert
  packages/contracts/test/core/dao/dao.ts
  packages/contracts/test/core/plugin/shared-plugin.ts
  packages/contracts/test/plugins/governance/admin/admin-setup.ts
  packages/contracts/test/plugins/governance/majority-voting/addresslist/addresslist-voting.ts
  packages/contracts/test/plugins/governance/majority-voting/token/token-voting.ts
  packages/contracts/test/plugins/governance/multisig/multisig-setup.ts
  packages/contracts/test/plugins/governance/multisig/multisig.ts
  packages/contracts/test/plugins/utils/ratio.ts
Labels: contracts

#245 remove redundant code
  packages/contracts/src/framework/plugin/repo/PluginRepo.sol
  packages/contracts/src/plugins/governance/admin/Admin.sol
  packages/contracts/src/token/ERC20/governance/GovernanceERC20.sol
  packages/contracts/src/token/ERC20/governance/GovernanceWrappedERC20.sol
Labels: contracts

#248 Feature/plugin repo tests
  packages/contracts/test/framework/plugin/plugin-repo.ts
  packages/contracts/test/test-utils/uups-upgradeable.ts
Labels: contracts

#242 Feature/psp tests smock
  packages/contracts/src/test/plugin/Clonable/PluginCloneableMock.sol
  packages/contracts/src/test/plugin/Clonable/PluginCloneableSetupMock.sol
  packages/contracts/src/test/plugin/UUPSUpgradeable/PluginUUPSUpgradeableSetupMock.sol
  packages/contracts/test/framework/plugin/plugin-setup-processor.ts
  packages/contracts/test/test-utils/plugin-setup-processor.ts
  packages/contracts/test/test-utils/psp/atomic-helpers.ts
  packages/contracts/test/test-utils/psp/create-params.ts
  packages/contracts/test/test-utils/psp/hash-helpers.ts
  packages/contracts/test/test-utils/psp/mock-helpers.ts
  packages/contracts/test/test-utils/psp/types.ts
  packages/contracts/test/test-utils/psp/wrappers.ts
Labels: contracts

#249 Fix formatting
  packages/contracts/src/test/plugin/UUPSUpgradeable/PluginUUPSUpgradeableSetupMock.sol
  packages/contracts/test/test-utils/plugin-setup-processor.ts
  packages/contracts/test/test-utils/psp/hash-helpers.ts
Labels: contracts

#250 APP-1717 Intermediary update for the `how-it-works/framework` docs section
  packages/contracts/docs/core/01-how-it-works/01-core/01-dao/01-actions.md
  packages/contracts/docs/core/01-how-it-works/01-core/01-dao/index.md
  packages/contracts/docs/core/01-how-it-works/01-core/02-permissions/index.md
  packages/contracts/docs/core/01-how-it-works/01-core/03-plugins/index.md
  packages/contracts/docs/core/01-how-it-works/01-core/index.md
  packages/contracts/docs/core/01-how-it-works/02-framework/01-dao-creation-process.md
  packages/contracts/docs/core/01-how-it-works/02-framework/01-dao-creation/index.md
  packages/contracts/docs/core/01-how-it-works/02-framework/02-plugin-management/01-plugin-repo/01-plugin-repo-creation.md
  packages/contracts/docs/core/01-how-it-works/02-framework/02-plugin-management/01-plugin-repo/index.md
  packages/contracts/docs/core/01-how-it-works/02-framework/02-plugin-management/01-plugin-repo/plugin-repo-overview.drawio.svg
  packages/contracts/docs/core/01-how-it-works/02-framework/02-plugin-management/02-plugin-setup/01-security-risk-mitigation.md
  packages/contracts/docs/core/01-how-it-works/02-framework/02-plugin-management/02-plugin-setup/index.md
  packages/contracts/docs/core/01-how-it-works/02-framework/02-plugin-management/02-plugin-setup/plugin-installation.drawio.svg
  packages/contracts/docs/core/01-how-it-works/02-framework/02-plugin-management/02-plugin-setup/plugin-uninstallation.drawio.svg
  packages/contracts/docs/core/01-how-it-works/02-framework/02-plugin-management/02-plugin-setup/plugin-update.drawio.svg
  packages/contracts/docs/core/01-how-it-works/02-framework/02-plugin-management/index.md
  packages/contracts/docs/core/01-how-it-works/02-framework/02-plugin-management/plugin-version.drawio.svg
  packages/contracts/docs/core/01-how-it-works/02-framework/02-plugin-repository/01-security-risk-mitigation.md
  packages/contracts/docs/core/01-how-it-works/02-framework/02-plugin-repository/02-plugin-submission.md
  packages/contracts/docs/core/01-how-it-works/02-framework/02-plugin-repository/03-infrastructure.md
  packages/contracts/docs/core/01-how-it-works/02-framework/02-plugin-repository/05-curation.md
  packages/contracts/docs/core/01-how-it-works/02-framework/02-plugin-repository/index.md
  packages/contracts/docs/core/01-how-it-works/02-framework/03-ens-names.md
  packages/contracts/docs/core/01-how-it-works/02-framework/aragon-os-infrastructure-core-overview.drawio.svg
  packages/contracts/docs/core/01-how-it-works/02-framework/index.md
  packages/contracts/docs/core/01-how-it-works/03-framwork-dao.md
  packages/contracts/docs/core/01-how-it-works/aragon-os-framework-overview.drawio.svg
  packages/contracts/docs/core/01-how-it-works/index.md
  packages/contracts/docs/core/02-how-to-guides/01-plugin-development/01-implemention/01-plugin-types.md
  packages/contracts/docs/core/02-how-to-guides/01-plugin-development/03-publication/02-versioning.md
  packages/contracts/docs/core/02-how-to-guides/01-plugin-development/index.md
  packages/contracts/docs/core/02-how-to-guides/02-dao-upgrading/02-protocol-upgrades.md
  packages/contracts/docs/core/02-how-to-guides/02-dao-upgrading/index.md
  packages/contracts/docs/core/index.md
  packages/contracts/src/framework/dao/DAOFactory.sol
  packages/contracts/src/framework/plugin/repo/IPluginRepo.sol
  packages/contracts/src/framework/plugin/repo/PluginRepoFactory.sol
  packages/contracts/src/framework/utils/RegistryUtils.sol
Labels: contracts

#252 Docs: Fixes for the ENS section
  packages/contracts/docs/core/01-how-it-works/02-framework/03-ens-names.md
  packages/contracts/docs/core/03-reference-guide/index.md
  packages/contracts/docs/core/index.md
Labels: contracts

#253 Fix: typos
  packages/contracts/docs/core/01-how-it-works/01-core/01-dao/01-actions.md
  packages/contracts/docs/core/01-how-it-works/01-core/index.md
  packages/contracts/docs/core/01-how-it-works/02-framework/index.md
  packages/contracts/docs/core/02-how-to-guides/01-plugin-development/01-implemention/01-plugin-types.md
  packages/contracts/docs/core/02-how-to-guides/01-plugin-development/01-implemention/02-non-upgradeable-contracts.md
  packages/contracts/docs/core/02-how-to-guides/01-plugin-development/03-publication/index.md
Labels: contracts

#251 Feature/nft subgraph
  packages/subgraph/manifest/data/goerli.json
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/scripts/deploy-subgraph.sh
  packages/subgraph/src/dao/dao.ts
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/src/plugin/utils.ts
  packages/subgraph/src/utils/tokens.ts
  packages/subgraph/src/utils/tokens/common.ts
  packages/subgraph/src/utils/tokens/erc20.ts
  packages/subgraph/src/utils/tokens/erc721.ts
  packages/subgraph/src/utils/tokens/eth.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/dao/dao.test.ts
  packages/subgraph/tests/dao/utils.ts
  packages/subgraph/tests/utils.ts
Labels: subgraph

#255 Include .md files in the formatting check
  .prettierrc
  packages/contracts/.prettierignore
  packages/contracts/README.md
  packages/contracts/docs/core/01-how-it-works/01-core/02-permissions/01-conditions.md
  packages/contracts/docs/core/02-how-to-guides/01-plugin-development/01-implemention/02-non-upgradeable-contracts.md
  packages/contracts/docs/core/02-how-to-guides/01-plugin-development/01-implemention/03-upgradeable-contracts.md
  packages/contracts/package.json
Labels: contracts

#254 Remove `PermissionManager` feature
  packages/contracts/CHANGELOG.md
  packages/contracts/src/core/dao/DAO.sol
  packages/contracts/src/core/permission/PermissionManager.sol
  packages/contracts/src/core/plugin/dao-authorizable/DaoAuthorizable.sol
  packages/contracts/src/core/plugin/dao-authorizable/DaoAuthorizableUpgradeable.sol
  packages/contracts/src/core/utils/auth.sol
  packages/contracts/src/framework/plugin/repo/PluginRepo.sol
  packages/contracts/src/test/plugin/SharedPluginTest.sol
  packages/contracts/test/core/dao/dao.ts
  packages/contracts/test/core/permission/permission-manager.ts
  packages/contracts/test/core/plugin/parameter-scoping-condition.ts
  packages/contracts/test/core/plugin/shared-plugin.ts
  packages/contracts/test/framework/dao/dao-registry.ts
  packages/contracts/test/framework/plugin/plugin-repo-factory.ts
  packages/contracts/test/framework/plugin/plugin-repo-registry.ts
  packages/contracts/test/framework/plugin/plugin-repo.ts
  packages/contracts/test/framework/plugin/plugin-setup-processor.ts
  packages/contracts/test/framework/utils/ens/ens-subdomain-registry.ts
  packages/contracts/test/framework/utils/interface-based-registry.ts
  packages/contracts/test/plugins/governance/admin/admin.ts
  packages/contracts/test/plugins/token/distribution/merkle-minter.ts
  packages/contracts/test/test-utils/uups-upgradeable.ts
  packages/contracts/test/token/erc20/governance-erc20.ts
Labels: contracts

#256 Fix inconsistent ERC165 and refactor `IMembership` and `ProposalBase`
  packages/contracts/CHANGELOG.md
  packages/contracts/src/core/dao/DAO.sol
  packages/contracts/src/core/dao/IDAO.sol
  packages/contracts/src/core/plugin/membership/IMembership.sol
  packages/contracts/src/core/plugin/membership/IMembershipContract.sol
  packages/contracts/src/core/plugin/proposal/IProposal.sol
  packages/contracts/src/core/plugin/proposal/Proposal.sol
  packages/contracts/src/core/plugin/proposal/ProposalBase.sol
  packages/contracts/src/core/plugin/proposal/ProposalUpgradeable.sol
  packages/contracts/src/framework/dao/DAOFactory.sol
  packages/contracts/src/framework/plugin/repo/PluginRepo.sol
  packages/contracts/src/framework/plugin/setup/PluginSetup.sol
  packages/contracts/src/plugins/governance/admin/Admin.sol
  packages/contracts/src/plugins/governance/majority-voting/MajorityVotingBase.sol
  packages/contracts/src/plugins/governance/majority-voting/addresslist/AddresslistVoting.sol
  packages/contracts/src/plugins/governance/majority-voting/token/TokenVoting.sol
  packages/contracts/src/plugins/governance/multisig/IMultisig.sol
  packages/contracts/src/plugins/governance/multisig/Multisig.sol
  packages/contracts/src/plugins/token/IMerkleDistributor.sol
  packages/contracts/src/plugins/token/IMerkleMinter.sol
  packages/contracts/src/plugins/token/MerkleDistributor.sol
  packages/contracts/src/plugins/token/MerkleMinter.sol
  packages/contracts/src/plugins/utils/Addresslist.sol
  packages/contracts/src/token/ERC20/governance/GovernanceERC20.sol
  packages/contracts/src/token/ERC20/governance/GovernanceWrappedERC20.sol
  packages/contracts/test/plugins/governance/admin/admin-setup.ts
  packages/contracts/test/plugins/governance/admin/admin.ts
  packages/contracts/test/plugins/governance/majority-voting/addresslist/addresslist-voting-setup.ts
  packages/contracts/test/plugins/governance/majority-voting/addresslist/addresslist-voting.ts
  packages/contracts/test/plugins/governance/majority-voting/majority-voting.ts
  packages/contracts/test/plugins/governance/majority-voting/token/token-voting-setup.ts
  packages/contracts/test/plugins/governance/majority-voting/token/token-voting.ts
  packages/contracts/test/plugins/governance/multisig/multisig-setup.ts
  packages/contracts/test/plugins/governance/multisig/multisig.ts
  packages/contracts/test/plugins/token/distribution/merkle-distributor.ts
  packages/contracts/test/plugins/token/distribution/merkle-minter.ts
  packages/contracts/test/plugins/utils/addresslist.ts
  packages/subgraph/src/utils/constants.ts
Labels: contracts, subgraph

#259 remove execresult
  packages/contracts/src/core/plugin/proposal/IProposal.sol
  packages/contracts/src/core/plugin/proposal/Proposal.sol
  packages/contracts/src/core/plugin/proposal/ProposalUpgradeable.sol
  packages/contracts/test/plugins/governance/admin/admin.ts
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/src/packages/addresslist/addresslist-voting.ts
  packages/subgraph/src/packages/admin/admin.ts
  packages/subgraph/src/packages/multisig/multisig.ts
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/tests/addresslist-voting/utils.ts
  packages/subgraph/tests/admin/admin.test.ts
  packages/subgraph/tests/admin/utils.ts
  packages/subgraph/tests/multisig/utils.ts
  packages/subgraph/tests/token-voting/utils.ts
Labels: contracts, subgraph

#261 Removed redundant `DaoAuthorizable` dependency from `PluginSetupProcessor`
  packages/contracts/CHANGELOG.md
  packages/contracts/deploy/10_framework/40_plugin_setup_processor.ts
  packages/contracts/deploy/10_framework/99_verifiy_step.ts
  packages/contracts/src/framework/plugin/setup/PluginSetupProcessor.sol
  packages/contracts/test/framework/dao/dao-factory.ts
  packages/contracts/test/framework/plugin/plugin-setup-processor.ts
  packages/contracts/test/test-utils/plugin-setup-processor.ts
Labels: contracts

#263 fix: subgraph deployment
  .github/workflows/subgraph-deploy.yaml
Labels: subgraph:patch

#262 make pm virtual/abstract
  packages/contracts/src/core/permission/PermissionManager.sol
Labels: contracts

#257 Moves `_disableInitializers` inside `PluginCloneable` and `PluginUUPSUpgradeable`
  packages/contracts/CHANGELOG.md
  packages/contracts/src/core/dao/DAO.sol
  packages/contracts/src/core/plugin/PluginCloneable.sol
  packages/contracts/src/core/plugin/PluginUUPSUpgradeable.sol
  packages/contracts/src/plugins/counter-example/MultiplyHelper.sol
  packages/contracts/src/plugins/counter-example/v1/CounterV1.sol
  packages/contracts/src/plugins/counter-example/v2/CounterV2.sol
  packages/contracts/src/plugins/governance/majority-voting/addresslist/AddresslistVoting.sol
  packages/contracts/src/plugins/governance/majority-voting/token/TokenVoting.sol
  packages/contracts/src/plugins/governance/multisig/Multisig.sol
  packages/contracts/src/plugins/token/MerkleDistributor.sol
  packages/contracts/src/plugins/token/MerkleMinter.sol
  packages/contracts/src/test/plugin/AdminCloneFactory.sol
  packages/contracts/test/core/plugin/parameter-scoping-condition.ts
  packages/contracts/test/core/plugin/shared-plugin.ts
  packages/contracts/test/plugins/governance/admin/admin.ts
  packages/contracts/test/plugins/governance/majority-voting/majority-voting.ts
Labels: contracts

#264 APP-1794 : Register managingDao, install multisig, verify
  .github/workflows/contract-tests.yml
  packages/contracts/.env.example
  packages/contracts/deploy/00_managing-dao/00_managing-dao.ts
  packages/contracts/deploy/00_managing-dao/20_set-dao-permission.ts
  packages/contracts/deploy/00_managing-dao/99_verify_step.ts
  packages/contracts/deploy/10_framework/00_ens.ts
  packages/contracts/deploy/10_framework/10_dao-registry.ts
  packages/contracts/deploy/10_framework/20_plugin-repo-registry.ts
  packages/contracts/deploy/10_framework/99_verifiy_step.ts
  packages/contracts/deploy/20_permissions/00_ens-permissions.ts
  packages/contracts/deploy/20_permissions/10_dao-registry-permissions.ts
  packages/contracts/deploy/20_permissions/20_plugin-registrty-permissions.ts
  packages/contracts/deploy/20_permissions/99_verify.ts
  packages/contracts/deploy/40_finalize-managing-dao/00_grant-permissions.ts
  packages/contracts/deploy/40_finalize-managing-dao/20_register-managing-dao-on-dao-registry.ts
  packages/contracts/deploy/40_finalize-managing-dao/30_install-multisig-on-managing-dao.ts
  packages/contracts/deploy/40_finalize-managing-dao/40_revoke-permissions.ts
  packages/contracts/deploy/40_finalize-managing-dao/99_verify_step.ts
  packages/contracts/deploy/helpers.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/test/core/permission/permission-manager.ts
  packages/contracts/test/framework/plugin/plugin-setup-processor.ts
  packages/contracts/test/plugins/counter-example/counter-plugin-setup.ts
  packages/contracts/test/plugins/governance/admin/admin-setup.ts
  packages/contracts/test/plugins/governance/majority-voting/addresslist/addresslist-voting-setup.ts
  packages/contracts/test/plugins/governance/majority-voting/token/token-voting-setup.ts
  packages/contracts/test/plugins/governance/multisig/multisig-setup.ts
  packages/contracts/test/test-utils/psp/create-params.ts
  packages/contracts/test/test-utils/psp/hash-helpers.ts
  packages/contracts/utils/psp.ts
  packages/contracts/utils/types.ts
Labels: contracts

#272 Use the `calldata` instead of `memory` keyword in `PluginSetup.prepareInstallation`
  packages/contracts/CHANGELOG.md
  packages/contracts/src/framework/plugin/setup/IPluginSetup.sol
  packages/contracts/src/plugins/counter-example/v1/CounterV1PluginSetup.sol
  packages/contracts/src/plugins/counter-example/v2/CounterV2PluginSetup.sol
  packages/contracts/src/plugins/governance/admin/AdminSetup.sol
  packages/contracts/src/plugins/governance/majority-voting/addresslist/AddresslistVotingSetup.sol
  packages/contracts/src/plugins/governance/majority-voting/token/TokenVotingSetup.sol
  packages/contracts/src/plugins/governance/multisig/MultisigSetup.sol
Labels: contracts

#275 Fix natspec
  packages/contracts/src/framework/plugin/repo/PluginRepoFactory.sol
  packages/contracts/src/plugins/governance/admin/AdminSetup.sol
Labels: contracts

#273 Added missing documentation and constant to PermissionLib
  packages/contracts/CHANGELOG.md
  packages/contracts/src/core/permission/PermissionLib.sol
  packages/contracts/src/plugins/counter-example/v1/CounterV1PluginSetup.sol
  packages/contracts/src/plugins/counter-example/v2/CounterV2PluginSetup.sol
  packages/contracts/src/plugins/governance/admin/AdminSetup.sol
  packages/contracts/src/plugins/governance/majority-voting/addresslist/AddresslistVotingSetup.sol
  packages/contracts/src/plugins/governance/majority-voting/token/TokenVotingSetup.sol
  packages/contracts/src/plugins/governance/multisig/MultisigSetup.sol
  packages/contracts/src/test/plugin/PluginMockData.sol
Labels: documentation, enhancement, contracts

#271 Feature/plugin repo tests+fix
  packages/contracts/src/framework/plugin/repo/PluginRepo.sol
  packages/contracts/src/framework/plugin/repo/PluginRepoFactory.sol
  packages/contracts/test/framework/plugin/plugin-repo-factory.ts
  packages/contracts/test/framework/plugin/plugin-repo.ts
Labels: contracts

#277 Renamed `getImplementationAddress` to `implementation` in `IPluginSetup`
  packages/contracts/CHANGELOG.md
  packages/contracts/deploy/99_conclude/10_verify-contracts.ts
  packages/contracts/src/core/plugin/PluginUUPSUpgradeable.sol
  packages/contracts/src/framework/plugin/setup/IPluginSetup.sol
  packages/contracts/src/framework/plugin/setup/PluginSetupProcessor.sol
  packages/contracts/src/plugins/counter-example/v1/CounterV1PluginSetup.sol
  packages/contracts/src/plugins/counter-example/v2/CounterV2PluginSetup.sol
  packages/contracts/src/plugins/governance/admin/AdminSetup.sol
  packages/contracts/src/plugins/governance/majority-voting/addresslist/AddresslistVotingSetup.sol
  packages/contracts/src/plugins/governance/majority-voting/token/TokenVotingSetup.sol
  packages/contracts/src/plugins/governance/multisig/MultisigSetup.sol
  packages/contracts/src/test/plugin/Clonable/PluginCloneableSetupMock.sol
  packages/contracts/src/test/plugin/UUPSUpgradeable/PluginUUPSUpgradeableSetupMock.sol
  packages/contracts/test/framework/plugin/plugin-setup-processor.ts
  packages/contracts/test/plugins/counter-example/counter-plugin-setup.ts
  packages/contracts/test/plugins/governance/admin/admin-setup.ts
  packages/contracts/test/plugins/governance/majority-voting/addresslist/addresslist-voting-setup.ts
  packages/contracts/test/plugins/governance/majority-voting/token/token-voting-setup.ts
  packages/contracts/test/plugins/governance/multisig/multisig-setup.ts
Labels: contracts

#270 APP-1832 : implement executable into MultisigProposal
  packages/subgraph/CHANGELOG.md
  packages/subgraph/schema.graphql
  packages/subgraph/src/packages/multisig/multisig.ts
  packages/subgraph/tests/multisig/multisig.test.ts
  packages/subgraph/tests/multisig/utils.ts
Labels: subgraph

#274 Fix/governance token delegate
  packages/contracts/src/token/ERC20/governance/GovernanceERC20.sol
  packages/contracts/src/token/ERC20/governance/GovernanceWrappedERC20.sol
  packages/contracts/test/token/erc20/governance-erc20.ts
  packages/contracts/test/token/erc20/governance-wrapped-erc20.ts
Labels: contracts

#267 Feature/psp + daofactory tests
  packages/contracts/src/framework/plugin/setup/IPluginSetup.sol
  packages/contracts/src/framework/plugin/setup/PluginSetupProcessor.sol
  packages/contracts/src/test/plugin/UUPSUpgradeable/PluginUUPSUpgradeableSetupMock.sol
  packages/contracts/test/framework/dao/dao-factory.ts
  packages/contracts/test/framework/plugin/plugin-setup-processor.ts
  packages/contracts/test/test-utils/repo.ts
Labels: contracts

#278 NatSpec: Fix duplicated display of the data type in NatSpec `/// @return` comments
  packages/contracts/docs/templates/common.hbs
  packages/contracts/src/core/dao/DAO.sol
  packages/contracts/src/core/dao/IDAO.sol
  packages/contracts/src/core/permission/PermissionManager.sol
  packages/contracts/src/core/plugin/Plugin.sol
  packages/contracts/src/core/plugin/PluginCloneable.sol
  packages/contracts/src/core/plugin/PluginUUPSUpgradeable.sol
  packages/contracts/src/core/plugin/dao-authorizable/DaoAuthorizable.sol
  packages/contracts/src/core/plugin/dao-authorizable/DaoAuthorizableUpgradeable.sol
  packages/contracts/src/core/plugin/proposal/Proposal.sol
  packages/contracts/src/core/plugin/proposal/ProposalUpgradeable.sol
  packages/contracts/src/core/utils/BitMap.sol
  packages/contracts/src/framework/plugin/repo/PluginRepo.sol
  packages/contracts/src/framework/plugin/setup/PluginSetup.sol
  packages/contracts/src/framework/plugin/setup/PluginSetupProcessorHelpers.sol
  packages/contracts/src/framework/utils/TokenFactory.sol
  packages/contracts/src/plugins/governance/admin/Admin.sol
  packages/contracts/src/plugins/governance/majority-voting/IMajorityVoting.sol
  packages/contracts/src/plugins/governance/majority-voting/MajorityVotingBase.sol
  packages/contracts/src/plugins/governance/majority-voting/addresslist/AddresslistVoting.sol
  packages/contracts/src/plugins/governance/majority-voting/token/TokenVoting.sol
  packages/contracts/src/plugins/governance/multisig/IMultisig.sol
  packages/contracts/src/plugins/governance/multisig/Multisig.sol
  packages/contracts/src/plugins/token/MerkleDistributor.sol
  packages/contracts/src/plugins/token/MerkleMinter.sol
  packages/contracts/src/token/ERC20/governance/GovernanceERC20.sol
  packages/contracts/src/token/ERC20/governance/GovernanceWrappedERC20.sol
  packages/contracts/src/utils/Proxy.sol
Labels: contracts

#282 APP-1793 test framework deployment
  .github/workflows/contract-tests.yml
  packages/contracts/deploy/00_managing-dao/99_verify_step.ts
  packages/contracts/deploy/20_permissions/00_ens-permissions.ts
  packages/contracts/deploy/20_permissions/10_dao-registry-permissions.ts
  packages/contracts/deploy/20_permissions/20_plugin-registrty-permissions.ts
  packages/contracts/deploy/40_finalize-managing-dao/30_install-multisig-on-managing-dao.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/test/deploy/managing-dao.ts
  packages/contracts/utils/types.ts
Labels: contracts

#284 feat: verify all deployed contracts
  packages/contracts/deploy/00_managing-dao/01_managing-dao_conclude.ts
  packages/contracts/deploy/00_managing-dao/20_set-dao-permission.ts
  packages/contracts/deploy/10_framework/00_ens.ts
  packages/contracts/deploy/10_framework/01_ens_conclude.ts
  packages/contracts/deploy/10_framework/11_dao-registry_conclude.ts
  packages/contracts/deploy/10_framework/21_plugin-repo-registry_conclude.ts
  packages/contracts/deploy/10_framework/31_repo-factory_conclude.ts
  packages/contracts/deploy/10_framework/41_plugin-setup-processor_conclude.ts
  packages/contracts/deploy/10_framework/51_dao-factory-conclude.ts
  packages/contracts/deploy/30_plugins/00_plugin-setups/01_addresslist_voting_setup_conclude.ts
  packages/contracts/deploy/30_plugins/00_plugin-setups/11_token_voting_setup_conclude.ts
  packages/contracts/deploy/30_plugins/00_plugin-setups/21_admin_setup_conclude.ts
  packages/contracts/deploy/30_plugins/00_plugin-setups/31_multisig_setup_conclude.ts
  packages/contracts/deploy/30_plugins/10_plugin-repos/01_create-plugins-repo_conclude.ts
  packages/contracts/deploy/40_finalize-managing-dao/30_install-multisig-on-managing-dao.ts
  packages/contracts/deploy/99_conclude/10_verify-contracts.ts
  packages/contracts/deploy/helpers.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/test/test-utils/ens.ts
  packages/contracts/tsconfig.json
  packages/contracts/utils/ens.ts
  packages/contracts/utils/etherscan.ts
  packages/contracts/utils/types.ts
Labels: contracts

#285 fix
  packages/contracts/src/token/ERC20/governance/GovernanceERC20.sol
  packages/contracts/src/token/ERC20/governance/GovernanceWrappedERC20.sol
  packages/contracts/test/token/erc20/governance-erc20.ts
  packages/contracts/test/token/erc20/governance-wrapped-erc20.ts
Labels: contracts

#288 fix
  packages/subgraph/src/utils/tokens/erc20.ts
Labels: subgraph

#283 Feature/app 1698 test e2e plugin upgradeability
  packages/contracts/test/framework/dao/dao-factory.ts
Labels: contracts

#289 Fix/deployment goerli
  .github/helpers/contracts/register-ens-subdomain.js
  .github/helpers/contracts/updateReleasesMD.js
  DEPLOYMENT_CHECKLIST.md
  active_contracts.json
  packages/contracts-ethers/package.json
  packages/contracts/Releases.md
  packages/contracts/deploy/00_managing-dao/01_managing-dao_conclude.ts
  packages/contracts/deploy/10_framework/01_ens_conclude.ts
  packages/contracts/deploy/10_framework/11_dao-registry_conclude.ts
  packages/contracts/deploy/10_framework/21_plugin-repo-registry_conclude.ts
  packages/contracts/deploy/10_framework/31_repo-factory_conclude.ts
  packages/contracts/deploy/10_framework/41_plugin-setup-processor_conclude.ts
  packages/contracts/deploy/10_framework/51_dao-factory-conclude.ts
  packages/contracts/deploy/30_plugins/00_plugin-setups/01_addresslist_voting_setup_conclude.ts
  packages/contracts/deploy/30_plugins/00_plugin-setups/11_token_voting_setup_conclude.ts
  packages/contracts/deploy/30_plugins/00_plugin-setups/21_admin_setup_conclude.ts
  packages/contracts/deploy/30_plugins/00_plugin-setups/31_multisig_setup_conclude.ts
  packages/contracts/deploy/30_plugins/10_plugin-repos/01_create-plugins-repo_conclude.ts
  packages/contracts/deploy/helpers.ts
  packages/contracts/package.json
  packages/contracts/test/test-utils/psp/mock-helpers.ts
  packages/contracts/test/test-utils/psp/types.ts
  packages/contracts/test/test-utils/repo.ts
  packages/subgraph/manifest/data/goerli.json
  packages/subgraph/package.json
Labels: contracts, subgraph

#279 Docs: Added practical sections
  packages/contracts/docs/osx/01-how-it-works/01-core/01-dao/index.md
  packages/contracts/docs/osx/01-how-it-works/01-core/02-permissions/01-conditions.md
  packages/contracts/docs/osx/01-how-it-works/01-core/03-plugins/01-plugin-details.md
  packages/contracts/docs/osx/01-how-it-works/01-core/03-plugins/index.md
  packages/contracts/docs/osx/01-how-it-works/01-core/index.md
  packages/contracts/docs/osx/01-how-it-works/02-framework/01-dao-creation/index.md
  packages/contracts/docs/osx/01-how-it-works/02-framework/02-plugin-management/01-plugin-repo/01-plugin-repo-creation.md
  packages/contracts/docs/osx/01-how-it-works/02-framework/02-plugin-management/01-plugin-repo/index.md
  packages/contracts/docs/osx/01-how-it-works/02-framework/02-plugin-management/02-plugin-setup/01-security-risk-mitigation.md
  packages/contracts/docs/osx/01-how-it-works/02-framework/02-plugin-management/index.md
  packages/contracts/docs/osx/01-how-it-works/02-framework/index.md
  packages/contracts/docs/osx/02-how-to-guides/01-dao/01-best-practices.md
  packages/contracts/docs/osx/02-how-to-guides/01-dao/02-action-execution.md
  packages/contracts/docs/osx/02-how-to-guides/01-dao/03-managing-plugins/index.md
  packages/contracts/docs/osx/02-how-to-guides/01-dao/04-proposal-review.md
  packages/contracts/docs/osx/02-how-to-guides/01-dao/05-protocol-upgrades.md
  packages/contracts/docs/osx/02-how-to-guides/01-dao/index.md
  packages/contracts/docs/osx/02-how-to-guides/01-plugin-development/01-implemention/01-plugin-types.md
  packages/contracts/docs/osx/02-how-to-guides/01-plugin-development/01-implemention/02-non-upgradeable-contracts.md
  packages/contracts/docs/osx/02-how-to-guides/01-plugin-development/01-implemention/03-upgradeable-contracts.md
  packages/contracts/docs/osx/02-how-to-guides/01-plugin-development/01-implemention/index.md
  packages/contracts/docs/osx/02-how-to-guides/01-plugin-development/02-setup/01-non-upgradeable-plugins.md
  packages/contracts/docs/osx/02-how-to-guides/01-plugin-development/02-setup/02-upgradeable-plugins.md
  packages/contracts/docs/osx/02-how-to-guides/01-plugin-development/02-setup/index.md
  packages/contracts/docs/osx/02-how-to-guides/01-plugin-development/index.md
  packages/contracts/docs/osx/02-how-to-guides/02-dao-upgrading/01-aragon-client-migration.md
  packages/contracts/docs/osx/02-how-to-guides/02-dao-upgrading/index.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/01-best-practices.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/02-plugin-types.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/03-non-upgradeable-plugin/01-initialization.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/03-non-upgradeable-plugin/02-implementation.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/03-non-upgradeable-plugin/03-setup.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/03-non-upgradeable-plugin/index.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/01-initialization.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/02-implementation.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/03-setup.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/index.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/05-governance-plugins/01-proposals.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/05-governance-plugins/02-membership.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/05-governance-plugins/index.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/06-meta-tx-plugins.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/07-publication/01-publication-process.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/07-publication/02-versioning.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/07-publication/index.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/index.md
  packages/contracts/docs/osx/02-how-to-guides/index.md
  packages/contracts/src/core/plugin/membership/IMembership.sol
Labels: contracts

#290 Documented the behavior of revoking with `who` or `where` equal to `ANY_ADDR`
  packages/contracts/src/core/permission/PermissionManager.sol
Labels: contracts

#286 Added exhaustive tests for the governance tokens
  packages/contracts/test/token/erc20/governance-erc20.ts
  packages/contracts/test/token/erc20/governance-wrapped-erc20.ts
Labels: contracts

#294 Feat/improve deployment scripts
  DEPLOYMENT_CHECKLIST.md
  packages/contracts/deploy/00_managing-dao/01_managing-dao_conclude.ts
  packages/contracts/deploy/00_managing-dao/20_set-dao-permission.ts
  packages/contracts/deploy/10_framework/00_ens.ts
  packages/contracts/deploy/10_framework/01_ens_conclude.ts
  packages/contracts/deploy/10_framework/11_dao-registry_conclude.ts
  packages/contracts/deploy/10_framework/21_plugin-repo-registry_conclude.ts
  packages/contracts/deploy/10_framework/31_repo-factory_conclude.ts
  packages/contracts/deploy/10_framework/41_plugin-setup-processor_conclude.ts
  packages/contracts/deploy/10_framework/51_dao-factory-conclude.ts
  packages/contracts/deploy/10_framework/99_verifiy_step.ts
  packages/contracts/deploy/20_permissions/00_ens-permissions.ts
  packages/contracts/deploy/20_permissions/10_dao-registry-permissions.ts
  packages/contracts/deploy/20_permissions/20_plugin-registrty-permissions.ts
  packages/contracts/deploy/30_plugins/00_plugin-setups/01_addresslist_voting_setup_conclude.ts
  packages/contracts/deploy/30_plugins/00_plugin-setups/11_token_voting_setup_conclude.ts
  packages/contracts/deploy/30_plugins/00_plugin-setups/21_admin_setup_conclude.ts
  packages/contracts/deploy/30_plugins/00_plugin-setups/31_multisig_setup_conclude.ts
  packages/contracts/deploy/30_plugins/10_plugin-repos/01_create-plugins-repo_conclude.ts
  packages/contracts/deploy/40_finalize-managing-dao/00_grant-permissions.ts
  packages/contracts/deploy/40_finalize-managing-dao/20_register-managing-dao-on-dao-registry.ts
  packages/contracts/deploy/40_finalize-managing-dao/40_revoke-permissions.ts
  packages/contracts/deploy/helpers.ts
  packages/contracts/package.json
  yarn.lock
Labels: contracts

#293 Update README
  Readme.md
  packages/contracts/README.md
Labels: contracts

#296 Removed unused function `_applyRatioFloored`
  packages/contracts/src/plugins/utils/Ratio.sol
  packages/contracts/src/test/utils/RatioTest.sol
  packages/contracts/test/plugins/utils/ratio.ts
Labels: contracts

#295 move check
  packages/contracts/src/framework/plugin/repo/PluginRepoFactory.sol
  packages/contracts/src/framework/plugin/repo/PluginRepoRegistry.sol
  packages/contracts/src/framework/utils/RegistryUtils.sol
  packages/contracts/test/framework/plugin/plugin-repo-factory.ts
Labels: contracts

#297 add metadata
  packages/contracts/deploy/00_managing-dao/00_managing-dao.ts
  packages/contracts/deploy/helpers.ts
  packages/contracts/test/deploy/managing-dao.ts
Labels: contracts

#298 from 0x00000000 to 0xffffffff for interface check
  packages/contracts/test/core/dao/dao.ts
  packages/contracts/test/framework/plugin/plugin-setup-processor.ts
  packages/contracts/test/plugins/governance/admin/admin-setup.ts
  packages/contracts/test/plugins/governance/admin/admin.ts
  packages/contracts/test/plugins/governance/majority-voting/addresslist/addresslist-voting-setup.ts
  packages/contracts/test/plugins/governance/majority-voting/addresslist/addresslist-voting.ts
  packages/contracts/test/plugins/governance/majority-voting/majority-voting.ts
  packages/contracts/test/plugins/governance/majority-voting/token/token-voting-setup.ts
  packages/contracts/test/plugins/governance/majority-voting/token/token-voting.ts
  packages/contracts/test/plugins/governance/multisig/multisig-setup.ts
  packages/contracts/test/plugins/governance/multisig/multisig.ts
  packages/contracts/test/plugins/token/distribution/merkle-distributor.ts
  packages/contracts/test/plugins/token/distribution/merkle-minter.ts
  packages/contracts/test/token/erc20/governance-erc20.ts
  packages/contracts/test/token/erc20/governance-wrapped-erc20.ts
Labels: contracts

#292 APP-1876 : convert proposalId from bigInt to bytes32
  packages/subgraph/CHANGELOG.md
  packages/subgraph/schema.graphql
  packages/subgraph/src/dao/dao.ts
  packages/subgraph/src/packages/addresslist/addresslist-voting.ts
  packages/subgraph/src/packages/admin/admin.ts
  packages/subgraph/src/packages/multisig/multisig.ts
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/src/plugin/pluginSetupProcessor.ts
  packages/subgraph/src/plugin/utils.ts
  packages/subgraph/src/utils/bytes.ts
  packages/subgraph/src/utils/proposals.ts
  packages/subgraph/src/utils/tokens/common.ts
  packages/subgraph/src/utils/tokens/erc20.ts
  packages/subgraph/src/utils/tokens/erc721.ts
  packages/subgraph/src/utils/tokens/eth.ts
  packages/subgraph/tests/addresslist-voting/addresslist-voting.test.ts
  packages/subgraph/tests/admin/admin.test.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/dao/dao.test.ts
  packages/subgraph/tests/dao/utils.ts
  packages/subgraph/tests/multisig/multisig.test.ts
  packages/subgraph/tests/plugin/pluginRepo.test.ts
  packages/subgraph/tests/plugin/pluginSetupProcessor.test.ts
  packages/subgraph/tests/plugin/utils.ts
  packages/subgraph/tests/token-voting/token-voting.test.ts
  packages/subgraph/tests/utils/utils.test.ts
Labels: subgraph

#302 Adapt docs to changed package name
  packages/contracts/docs/osx/01-how-it-works/01-core/01-dao/01-actions.md
  packages/contracts/docs/osx/01-how-it-works/01-core/02-permissions/01-conditions.md
  packages/contracts/docs/osx/01-how-it-works/01-core/02-permissions/index.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/03-non-upgradeable-plugin/01-initialization.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/03-non-upgradeable-plugin/03-setup.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/01-initialization.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/02-implementation.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/03-setup.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/index.md
Labels: contracts

#304 Docs: Various improvements
  packages/contracts/docs/osx/01-how-it-works/02-framework/aragon-os-infrastructure-core-overview.drawio.svg
  packages/contracts/docs/osx/02-how-to-guides/01-dao/04-proposal-review.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/05-governance-plugins/02-membership.md
  packages/contracts/docs/osx/index.md
Labels: contracts

#303 fix metadata
  packages/contracts/deploy/00_managing-dao/00_managing-dao.ts
  packages/contracts/deploy/40_finalize-managing-dao/00_grant-permissions.ts
  packages/contracts/deploy/40_finalize-managing-dao/20_register-managing-dao-on-dao-registry.ts
  packages/contracts/deploy/40_finalize-managing-dao/40_revoke-permissions.ts
Labels: contracts

#305 fix: rename osx-contracts to osx
  DEPLOYMENT_CHECKLIST.md
  packages/contracts/docs/osx/01-how-it-works/01-core/01-dao/01-actions.md
  packages/contracts/docs/osx/01-how-it-works/01-core/02-permissions/01-conditions.md
  packages/contracts/docs/osx/01-how-it-works/01-core/02-permissions/index.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/03-non-upgradeable-plugin/01-initialization.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/03-non-upgradeable-plugin/03-setup.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/01-initialization.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/02-implementation.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/03-setup.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/index.md
  packages/contracts/docs/osx/index.md
  packages/contracts/src/README.md
  packages/contracts/src/package.json
Labels: contracts

#300 Fixing npm package name
  README.md
  packages/contracts/README.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/index.md
Labels: contracts
