Repository aragon/osx, pull requests merged in 2023-07, with the labels that each got.

#418 OS-436 : use OSX npm for versioning
  .github/workflows/contract-tests.yml
  .github/workflows/contracts-versions-tests.yml
  .github/workflows/documentation-update.yml
  .github/workflows/subgraph-tests.yml
  packages/contracts-versions/.gitignore
  packages/contracts-versions/README.md
  packages/contracts-versions/commit_hashes.json
  packages/contracts-versions/create-contract-versions.ts
  packages/contracts-versions/jest.config.js
  packages/contracts-versions/package.json
  packages/contracts-versions/rollup.config.ts
  packages/contracts-versions/test/usage.test.ts
  packages/contracts-versions/tsconfig.json
  packages/contracts/README.md
  packages/contracts/deploy/helpers.ts
  packages/contracts/deploy/update/to_v1.3.0/10_DAOFactory.ts
  packages/contracts/deploy/update/to_v1.3.0/11_DAOFactory_conclude.ts
  packages/contracts/deploy/update/to_v1.3.0/20_PluginRepoFactory.ts
  packages/contracts/deploy/update/to_v1.3.0/21_PluginRepoFactory_conclude.ts
  packages/contracts/deploy/update/to_v1.3.0/30_Multisig_PluginRepo.ts
  packages/contracts/deploy/update/to_v1.3.0/31_Multisig_Plugin.ts
  packages/contracts/deploy/update/to_v1.3.0/32_Multisig_Plugin_conclude.ts
  packages/contracts/deploy/update/to_v1.3.0/40_TokenVoting_PluginRepo.ts
  packages/contracts/deploy/update/to_v1.3.0/41_TokenVoting_Plugin.ts
  packages/contracts/deploy/update/to_v1.3.0/42_TokenVoting_Plugin_conclude.ts
  packages/contracts/deploy/update/to_v1.3.0/50_AddresslistVoting_PluginRepo.ts
  packages/contracts/deploy/update/to_v1.3.0/51_AddresslistVoting_Plugin.ts
  packages/contracts/deploy/update/to_v1.3.0/52_AddresslistVoting_Plugin_conclude.ts
  packages/contracts/deploy/update/to_v1.3.0/60_Admin_PluginRepo.ts
  packages/contracts/deploy/update/to_v1.3.0/90_ManagingDAO.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/npm/index.ts
  packages/contracts/package.json
  packages/contracts/scripts/generate-typechain-osx-versions.ts
  packages/contracts/scripts/generate-typechain-osx.ts
  packages/contracts/scripts/osx-versions-aliases.ts
  packages/contracts/src/test/Migration.sol
  packages/contracts/test/deploy/updateTo1_3_0.ts
  packages/contracts/test/plugins/utils/addresslist.ts
  packages/contracts/test/test-utils/bitmap.ts
  packages/contracts/test/test-utils/ens.ts
  packages/contracts/test/test-utils/fixture.ts
  packages/contracts/test/test-utils/plugin-setup-processor.ts
  packages/contracts/test/upgrade/dao.ts
  packages/contracts/utils/ens.ts
  packages/contracts/utils/event.ts
  packages/contracts/utils/types.ts
  packages/contracts/utils/updates.ts
  packages/subgraph/package.json
  yarn.lock
Labels: contracts, subgraph

#423 Improve index naming
  packages/contracts/docs/osx/01-how-it-works/02-framework/02-plugin-management/01-plugin-repo/01-plugin-repo-creation.md
  packages/contracts/docs/osx/01-how-it-works/02-framework/02-plugin-management/02-plugin-setup/index.md
  packages/contracts/docs/osx/01-how-it-works/02-framework/02-plugin-management/index.md
  packages/contracts/docs/osx/01-how-it-works/02-framework/index.md
  packages/contracts/docs/osx/01-how-it-works/index.md
  packages/contracts/docs/osx/02-how-to-guides/01-dao/03-protocol-upgrades.md
  packages/contracts/docs/osx/02-how-to-guides/01-dao/04-managing-plugins/index.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/01-best-practices.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/03-non-upgradeable-plugin/01-initialization.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/03-non-upgradeable-plugin/02-implementation.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/03-non-upgradeable-plugin/03-setup.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/03-non-upgradeable-plugin/index.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/01-initialization.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/02-implementation.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/03-setup.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/04-subsequent-builds.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/05-updating-versions.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/index.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/05-governance-plugins/index.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/07-publication/01-versioning.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/07-publication/index.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/index.md
  packages/contracts/docs/osx/03-reference-guide/index.md
  packages/contracts/docs/osx/index.md
Labels: contracts

#426 OS-545 : fix indexing ERC20Wrapped
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/package.json
  packages/subgraph/src/plugin/utils.ts
  packages/subgraph/src/utils/constants.ts
Labels: subgraph

#415 Dockerized hardhat+subgraph setup
  packages/contracts/package.json
  packages/subgraph/.gitignore
  packages/subgraph/README.md
  packages/subgraph/docker/docker-compose.yml
  packages/subgraph/docker/hardhat.Dockerfile
  packages/subgraph/manifest/data/localhost.json
  packages/subgraph/package.json
  packages/subgraph/scripts/deploy-subgraph.sh
  packages/subgraph/scripts/updateLocalManifest.js
Labels: contracts, subgraph

#422 Dev Portal docs consistency
  packages/contracts/docs/osx/01-how-it-works/01-core/01-dao/index.md
  packages/contracts/docs/osx/01-how-it-works/02-framework/02-plugin-management/01-plugin-repo/01-plugin-repo-creation.md
  packages/contracts/docs/osx/01-how-it-works/index.md
  packages/contracts/docs/osx/02-how-to-guides/01-dao/03-protocol-upgrades.md
  packages/contracts/docs/osx/02-how-to-guides/01-dao/04-managing-plugins/index.md
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/05-updating-versions.md
Labels: contracts

#429 R/1.3.0 rc0
  UPDATE_CHECKLIST.md
  active_contracts.json
  packages/contracts-ethers/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/Releases.md
  packages/contracts/deploy/new/30_plugins/00_plugin-setups/10_token_voting_setup.ts
  packages/contracts/deploy/new/30_plugins/00_plugin-setups/11_token_voting_setup_conclude.ts
  packages/contracts/deploy/update/to_v1.3.0/32_Multisig_Plugin_conclude.ts
  packages/contracts/deploy/update/to_v1.3.0/41_TokenVoting_Plugin.ts
  packages/contracts/deploy/update/to_v1.3.0/42_TokenVoting_Plugin_conclude.ts
  packages/contracts/deploy/update/to_v1.3.0/52_AddresslistVoting_Plugin_conclude.ts
  packages/contracts/deploy/verification/99_conclude/01_managing_dao_proposal.ts
  packages/contracts/package.json
  packages/contracts/src/package.json
  packages/contracts/src/plugins/governance/majority-voting/token/TokenVotingSetup.sol
  packages/contracts/test/plugins/governance/majority-voting/token/token-voting-setup.ts
Labels: contracts

#430 merge main back
  UPDATE_CHECKLIST.md
  active_contracts.json
  packages/contracts-ethers/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/Releases.md
  packages/contracts/deploy/new/30_plugins/00_plugin-setups/10_token_voting_setup.ts
  packages/contracts/deploy/new/30_plugins/00_plugin-setups/11_token_voting_setup_conclude.ts
  packages/contracts/deploy/update/to_v1.3.0/32_Multisig_Plugin_conclude.ts
  packages/contracts/deploy/update/to_v1.3.0/41_TokenVoting_Plugin.ts
  packages/contracts/deploy/update/to_v1.3.0/42_TokenVoting_Plugin_conclude.ts
  packages/contracts/deploy/update/to_v1.3.0/52_AddresslistVoting_Plugin_conclude.ts
  packages/contracts/deploy/verification/99_conclude/01_managing_dao_proposal.ts
  packages/contracts/package.json
  packages/contracts/src/package.json
  packages/contracts/src/plugins/governance/majority-voting/token/TokenVotingSetup.sol
  packages/contracts/test/plugins/governance/majority-voting/token/token-voting-setup.ts
Labels: contracts

#433 OS-572 Add missing abis
  packages/subgraph/manifest/subgraph.placeholder.yaml
Labels: subgraph

#436 Metadata Format Specification in the Docs
  packages/contracts/docs/osx/02-how-to-guides/02-plugin-development/07-publication/02-metadata.md
Labels: contracts

#437 Refactor upgradability tests
  UPDATE_CHECKLIST.md
  packages/contracts/src/test/Migration.sol
  packages/contracts/test/core/dao/dao.ts
  packages/contracts/test/deploy/managing-dao.ts
  packages/contracts/test/framework/dao/dao-registry.ts
  packages/contracts/test/framework/plugin/plugin-repo-registry.ts
  packages/contracts/test/framework/plugin/plugin-repo.ts
  packages/contracts/test/framework/plugin/plugin-setup-processor.ts
  packages/contracts/test/framework/utils/ens/ens-subdomain-registry.ts
  packages/contracts/test/framework/utils/token-factory.ts
  packages/contracts/test/plugins/governance/majority-voting/addresslist/addresslist-voting.ts
  packages/contracts/test/plugins/governance/majority-voting/token/token-voting.ts
  packages/contracts/test/plugins/governance/multisig/multisig.ts
  packages/contracts/test/plugins/token/distribution/merkle-distributor.ts
  packages/contracts/test/plugins/token/distribution/merkle-minter.ts
  packages/contracts/test/test-utils/uups-upgradeable.ts
  packages/contracts/test/token/erc20/governance-erc20.ts
  packages/contracts/utils/storage.ts
Labels: contracts

#439 chore: deploy 1.3.0-rc0 to base goerli
  DEPLOYMENT_CHECKLIST.md
  active_contracts.json
  packages/contracts-ethers/package.json
  packages/contracts/.env.example
  packages/contracts/Releases.md
  packages/contracts/hardhat.config.ts
  packages/contracts/networks.json
  packages/contracts/package.json
  packages/contracts/src/package.json
  packages/subgraph/manifest/data/baseGoerli.json
  yarn.lock
Labels: contracts, subgraph
