Repository aragon/osx, pull requests merged in 2024-01, with the labels that each got.

#516 deploy(contracts): improves management DAO proposal readability
  packages/contracts/deploy/update/to_v1.3.0/60_Admin_PluginRepo.ts
  packages/contracts/deploy/verification/99_conclude/01_managing_dao_proposal.ts
Labels: contracts

#517 feat: deploys on base and arbitrum sepolia (merge back)
  active_contracts.json
  packages/contracts/.env.example
  packages/contracts/Releases.md
  packages/contracts/deploy/new/10_framework/09_ens_conclude.ts
  packages/contracts/deploy/new/10_framework/11_dao-registry_conclude.ts
  packages/contracts/deploy/new/10_framework/21_plugin-repo-registry_conclude.ts
  packages/contracts/deploy/new/10_framework/31_repo-factory_conclude.ts
  packages/contracts/deploy/new/10_framework/51_dao-factory-conclude.ts
  packages/contracts/deploy/new/30_plugins/00_plugin-setups/01_addresslist_voting_setup_conclude.ts
  packages/contracts/deploy/new/30_plugins/00_plugin-setups/11_token_voting_setup_conclude.ts
  packages/contracts/deploy/new/30_plugins/00_plugin-setups/21_admin_setup_conclude.ts
  packages/contracts/deploy/new/30_plugins/00_plugin-setups/31_multisig_setup_conclude.ts
  packages/contracts/deploy/new/30_plugins/00_plugin-setups/41_placeholder_setup_conclude.ts
  packages/contracts/deploy/verification/99_conclude/10_verify-contracts.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/networks.json
  packages/contracts/utils/etherscan.ts
  packages/contracts/utils/types.ts
  packages/subgraph/manifest/data/arbitrumSepolia.json
  packages/subgraph/manifest/data/baseSepolia.json
  yarn.lock
Labels: contracts, subgraph

#518 deploy(contracts): uses @aragon/osx-commons-config for network information
  .github/helpers/contracts/dummy-dao/constans.js
  .github/helpers/contracts/dummy-dao/createDao.js
  .github/helpers/contracts/dummy-dao/deposit.js
  .github/helpers/contracts/dummy-dao/estimateGas.js
  .github/helpers/contracts/dummy-dao/proposal.js
  .github/helpers/contracts/dummy-dao/updateDummyDaoJSON.js
  .github/helpers/contracts/dummy-dao/vote.js
  .github/helpers/contracts/prepare.js
  .github/helpers/contracts/register-ens-subdomain.js
  .github/helpers/contracts/register-ens.js
  .github/helpers/contracts/updateActiveContractsJSON.js
  .github/helpers/contracts/updateReleasesMD.js
  .github/workflows/contracts-deploy.yml
  .github/workflows/create-dummy-dao.yml
  .vscode/settings.json
  README.md
  UPDATE_CHECKLIST.md
  packages/contracts/hardhat.config.ts
  packages/contracts/networks.ts
  packages/contracts/package.json
  packages/contracts/test/test-utils/fixture.ts
  packages/contracts/utils/etherscan.ts
  yarn.lock
Labels: contracts

#519 deploy(contracts): corrects managing DAO proposal formatting
  packages/contracts/deploy/update/to_v1.3.0/10_DAOFactory.ts
  packages/contracts/deploy/update/to_v1.3.0/20_PluginRepoFactory.ts
  packages/contracts/deploy/update/to_v1.3.0/30_Multisig_PluginRepo.ts
  packages/contracts/deploy/update/to_v1.3.0/31_Multisig_Plugin.ts
  packages/contracts/deploy/update/to_v1.3.0/40_TokenVoting_PluginRepo.ts
  packages/contracts/deploy/update/to_v1.3.0/41_TokenVoting_Plugin.ts
  packages/contracts/deploy/update/to_v1.3.0/50_AddresslistVoting_PluginRepo.ts
  packages/contracts/deploy/update/to_v1.3.0/51_AddresslistVoting_Plugin.ts
  packages/contracts/deploy/update/to_v1.3.0/60_Admin_PluginRepo.ts
  packages/contracts/deploy/update/to_v1.3.0/90_ManagingDAO.ts
  packages/contracts/deploy/verification/99_conclude/01_managing_dao_proposal.ts
Labels: contracts

#521 deploy(contracts): fixes missing artifacts in osx-artifacts package
  packages/contracts/npm/artifacts.ts
  packages/contracts/npm/index.ts
  packages/contracts/tsconfig.json
Labels: contracts

#522 fix(contracts): includes artifacts in @aragon/osx-artifacts package
  packages/contracts-ethers/package.json
  packages/contracts/npm/artifacts.ts
  packages/contracts/npm/index.ts
  packages/contracts/package.json
  packages/contracts/tsconfig.json
Labels: contracts

#524 docs(contracts): added version numbers to plugin implementations and setups
  DEPLOYMENT_CHECKLIST.md
  UPDATE_CHECKLIST.md
  packages/contracts/src/plugins/governance/admin/Admin.sol
  packages/contracts/src/plugins/governance/admin/AdminSetup.sol
  packages/contracts/src/plugins/governance/majority-voting/addresslist/AddresslistVoting.sol
  packages/contracts/src/plugins/governance/majority-voting/addresslist/AddresslistVotingSetup.sol
  packages/contracts/src/plugins/governance/majority-voting/token/TokenVoting.sol
  packages/contracts/src/plugins/governance/majority-voting/token/TokenVotingSetup.sol
  packages/contracts/src/plugins/governance/multisig/Multisig.sol
  packages/contracts/src/plugins/governance/multisig/MultisigSetup.sol
Labels: contracts

#520 Add: use osx-commons-subgraph
  package.json
  packages/subgraph/package.json
  packages/subgraph/src/dao/dao_v1_0_0.ts
  packages/subgraph/src/dao/dao_v1_3_0.ts
  packages/subgraph/src/dao/utils.ts
  packages/subgraph/src/packages/addresslist/addresslist-voting.ts
  packages/subgraph/src/packages/admin/admin.ts
  packages/subgraph/src/packages/admin/adminMembers.ts
  packages/subgraph/src/packages/multisig/multisig.ts
  packages/subgraph/src/packages/token/governance-erc20.ts
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/src/plugin/pluginRepo.ts
  packages/subgraph/src/plugin/pluginSetupProcessor.ts
  packages/subgraph/src/plugin/utils.ts
  packages/subgraph/src/registries/daoRegistry.ts
  packages/subgraph/src/registries/pluginRepoRegistry.ts
  packages/subgraph/src/utils/ids.ts
  packages/subgraph/src/utils/tokens/erc1155.ts
  packages/subgraph/src/utils/tokens/erc20.ts
  packages/subgraph/src/utils/tokens/erc721.ts
  packages/subgraph/src/utils/tokens/eth.ts
  packages/subgraph/tests/addresslist-voting/addresslist-voting.test.ts
  packages/subgraph/tests/admin/admin.test.ts
  packages/subgraph/tests/admin/adminMembers.test.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/dao/dao_v1_0_0.test.ts
  packages/subgraph/tests/dao/dao_v1_3_0.test.ts
  packages/subgraph/tests/helpers/method-classes.ts
  packages/subgraph/tests/multisig/multisig.test.ts
  packages/subgraph/tests/permission-manager/permission-manager.test.ts
  packages/subgraph/tests/permission-manager/utils.ts
  packages/subgraph/tests/plugin/pluginRepo.test.ts
  packages/subgraph/tests/plugin/pluginSetupProcessor.test.ts
  packages/subgraph/tests/registry/daoRegistry.test.ts
  packages/subgraph/tests/registry/pluginRepoRegistry.test.ts
  packages/subgraph/tests/token/governance-erc20.test.ts
  packages/subgraph/tests/token/token-voting.test.ts
  packages/subgraph/tests/token/utils.ts
  yarn.lock
Labels: subgraph
