Repository aragon/osx, pull requests merged in 2024-04, with the labels that each got.

#557 Create flow to update subgraph docs on Dev-Portal
  .github/workflows/subgraph-documentation-update.yml
  .gitignore
  packages/subgraph/codegen.yml
  packages/subgraph/package.json
  packages/subgraph/scripts/generate-markdown.js
  packages/subgraph/src/examples/01-query-examples/01-dao-query.ts
  packages/subgraph/src/examples/01-query-examples/02-balances-query.ts
  packages/subgraph/src/examples/01-query-examples/index.ts
  packages/subgraph/src/examples/index.ts
  yarn.lock
Labels: subgraph

#564 feat: add explanation for testing subgraph extended classes
  packages/subgraph/README.md
Labels: subgraph

#565 Fix for Workflow update Subgraph Docs
  .github/workflows/subgraph-documentation-update.yml
  packages/contracts/docs/developer-portal/02-how-to-guides/01-dao/03-protocol-upgrades.md
  packages/subgraph/src/examples/01-query-examples/01-dao-query.ts
Labels: contracts, subgraph

#568 F/split linting
  packages/subgraph/src/dao/dao_v1_0_0.ts
  packages/subgraph/src/dao/dao_v1_3_0.ts
  packages/subgraph/src/dao/utils.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/dao/dao_v1_3_0.test.ts
  packages/subgraph/tests/dao/utils.ts
  packages/subgraph/tests/registry/daoRegistry.test.ts
  packages/subgraph/tests/token/governance-erc20.test.ts
Labels: subgraph

#569 f: removed start and end date from tx actions and made entities immut…
  packages/subgraph/CHANGELOG.md
  packages/subgraph/schema.graphql
  packages/subgraph/src/dao/dao_v1_0_0.ts
  packages/subgraph/src/dao/dao_v1_3_0.ts
  packages/subgraph/src/dao/utils.ts
  packages/subgraph/tests/dao/dao_v1_0_0.test.ts
  packages/subgraph/tests/dao/dao_v1_3_0.test.ts
Labels: subgraph

#562 F/split transaction actions
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/dao/dao_v1_0_0.ts
  packages/subgraph/src/dao/dao_v1_3_0.ts
  packages/subgraph/src/dao/ids.ts
  packages/subgraph/src/dao/utils.ts
  packages/subgraph/src/registries/daoRegistry.ts
  packages/subgraph/src/utils/bytes.ts
  packages/subgraph/src/utils/tokens/erc1155.ts
  packages/subgraph/src/utils/tokens/erc20.ts
  packages/subgraph/src/utils/tokens/erc721.ts
  packages/subgraph/src/utils/tokens/eth.ts
  packages/subgraph/tests/addresslist-voting/addresslist-voting.test.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/dao/dao_v1_0_0.test.ts
  packages/subgraph/tests/dao/dao_v1_3_0.test.ts
  packages/subgraph/tests/dao/utils.ts
  packages/subgraph/tests/helpers/method-classes.ts
  packages/subgraph/tests/registry/daoRegistry.test.ts
  packages/subgraph/tests/token/governance-erc20.test.ts
Labels: subgraph

#571 refactor: remove plugins from subgraph
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/dao/dao_v1_0_0.ts
  packages/subgraph/src/dao/dao_v1_3_0.ts
  packages/subgraph/src/dao/ids.ts
  packages/subgraph/src/dao/utils.ts
  packages/subgraph/src/packages/addresslist/addresslist-voting.ts
  packages/subgraph/src/packages/admin/admin.ts
  packages/subgraph/src/packages/admin/adminMembers.ts
  packages/subgraph/src/packages/multisig/multisig.ts
  packages/subgraph/src/packages/token/governance-erc20.ts
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/src/packages/token/utils.ts
  packages/subgraph/src/plugin/pluginSetupProcessor.ts
  packages/subgraph/src/plugin/utils.ts
  packages/subgraph/src/utils/constants.ts
  packages/subgraph/src/utils/tokens/erc1155.ts
  packages/subgraph/src/utils/tokens/erc20.ts
  packages/subgraph/src/utils/tokens/erc721.ts
  packages/subgraph/src/utils/tokens/eth.ts
  packages/subgraph/tests/addresslist-voting/addresslist-voting.test.ts
  packages/subgraph/tests/addresslist-voting/utils.ts
  packages/subgraph/tests/admin/admin.test.ts
  packages/subgraph/tests/admin/adminMembers.test.ts
  packages/subgraph/tests/admin/utils.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/dao/dao_v1_0_0.test.ts
  packages/subgraph/tests/dao/dao_v1_3_0.test.ts
  packages/subgraph/tests/helpers/method-classes.ts
  packages/subgraph/tests/multisig/multisig.test.ts
  packages/subgraph/tests/multisig/utils.ts
  packages/subgraph/tests/plugin/pluginSetupProcessor.test.ts
  packages/subgraph/tests/token/governance-erc20.test.ts
  packages/subgraph/tests/token/token-voting.test.ts
  packages/subgraph/tests/token/utils.ts
Labels: subgraph

#549 feat: bump osx commons contracts
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/contracts/src/framework/dao/DAOFactory.sol
  packages/contracts/src/framework/plugin/repo/PluginRepoFactory.sol
  packages/contracts/src/framework/plugin/repo/placeholder/PlaceholderSetup.sol
  packages/contracts/src/package.json
  packages/contracts/src/plugins/governance/admin/AdminSetup.sol
  packages/contracts/src/plugins/governance/majority-voting/addresslist/AddresslistVotingSetup.sol
  packages/contracts/src/plugins/governance/majority-voting/token/TokenVotingSetup.sol
  packages/contracts/src/plugins/governance/multisig/MultisigSetup.sol
  packages/contracts/src/test/Migration.sol
  packages/contracts/src/test/plugin/Cloneable/PluginCloneableSetupMock.sol
  packages/contracts/src/test/plugin/PluginMockData.sol
  packages/contracts/src/test/plugin/UUPSUpgradeable/PluginUUPSUpgradeableSetupMock.sol
  packages/contracts/test/framework/dao/dao-factory.ts
  packages/contracts/test/framework/plugin/plugin-repo.ts
  packages/contracts/test/framework/plugin/plugin-setup-processor.ts
  packages/contracts/test/framework/plugin/plugin-setup.ts
  packages/contracts/test/plugins/governance/admin/admin.ts
  packages/contracts/test/plugins/governance/multisig/multisig.ts
  packages/contracts/test/test-utils/repo.ts
  yarn.lock
Labels: contracts

#570 chore: merge `f/split-subgraph` into `f/split`
  packages/subgraph/CHANGELOG.md
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/dao/dao_v1_0_0.ts
  packages/subgraph/src/dao/dao_v1_3_0.ts
  packages/subgraph/src/dao/ids.ts
  packages/subgraph/src/dao/utils.ts
  packages/subgraph/src/packages/addresslist/addresslist-voting.ts
  packages/subgraph/src/packages/admin/admin.ts
  packages/subgraph/src/packages/admin/adminMembers.ts
  packages/subgraph/src/packages/multisig/multisig.ts
  packages/subgraph/src/packages/token/governance-erc20.ts
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/src/packages/token/utils.ts
  packages/subgraph/src/plugin/pluginSetupProcessor.ts
  packages/subgraph/src/plugin/utils.ts
  packages/subgraph/src/registries/daoRegistry.ts
  packages/subgraph/src/utils/bytes.ts
  packages/subgraph/src/utils/constants.ts
  packages/subgraph/src/utils/tokens/erc1155.ts
  packages/subgraph/src/utils/tokens/erc20.ts
  packages/subgraph/src/utils/tokens/erc721.ts
  packages/subgraph/src/utils/tokens/eth.ts
  packages/subgraph/tests/addresslist-voting/addresslist-voting.test.ts
  packages/subgraph/tests/addresslist-voting/utils.ts
  packages/subgraph/tests/admin/admin.test.ts
  packages/subgraph/tests/admin/adminMembers.test.ts
  packages/subgraph/tests/admin/utils.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/dao/dao_v1_0_0.test.ts
  packages/subgraph/tests/dao/dao_v1_3_0.test.ts
  packages/subgraph/tests/dao/utils.ts
  packages/subgraph/tests/helpers/method-classes.ts
  packages/subgraph/tests/multisig/multisig.test.ts
  packages/subgraph/tests/multisig/utils.ts
  packages/subgraph/tests/plugin/pluginSetupProcessor.test.ts
  packages/subgraph/tests/registry/daoRegistry.test.ts
  packages/subgraph/tests/token/governance-erc20.test.ts
  packages/subgraph/tests/token/token-voting.test.ts
  packages/subgraph/tests/token/utils.ts
Labels: subgraph

#573 feature: modify deploy script for more flexibility
  packages/contracts/deploy/helpers.ts
  packages/contracts/deploy/management-dao-metadata.json
  packages/contracts/deploy/new/00_management-dao/01_management-dao-permissions.ts
  packages/contracts/deploy/new/10_framework/01_ens_subdomains.ts
  packages/contracts/deploy/new/40_finalize-management-dao/00_grant-permissions.ts
  packages/contracts/deploy/new/40_finalize-management-dao/20_register-management-dao-on-dao-registry.ts
  packages/contracts/deploy/new/40_finalize-management-dao/30_install-multisig-on-management-dao.ts
  packages/contracts/deploy/new/40_finalize-management-dao/40_revoke-permissions.ts
  packages/contracts/deploy/new/40_finalize-management-dao/99_verify_step.ts
  packages/contracts/deploy/verification/99_conclude/01_management_dao_proposal.ts
  packages/contracts/test/deploy/managing-dao.ts
  yarn.lock
Labels: contracts

#566 OS-1061: Add scripts to generate introspection schema
  packages/subgraph/docker/.env.example
  packages/subgraph/docker/docker-compose.yml
  packages/subgraph/docker/hardhat.Dockerfile
  packages/subgraph/docker/hardhat/hardhat.config.js
  packages/subgraph/docker/hardhat/package.json
  packages/subgraph/manifest/data/localhost.json
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/scripts/deploy-subgraph.sh
  packages/subgraph/scripts/fetch-introspection-query.js
  packages/subgraph/scripts/generate-introspection-json.sh
Labels: subgraph

#576 chore: bump osx-commons and OpenZepplin dependencies
  package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/deploy/update/to_v1.3.0/90_ManagingDAO.ts
  packages/contracts/docs/developer-portal/02-how-to-guides/02-plugin-development/02-plugin-types.md
  packages/contracts/docs/developer-portal/02-how-to-guides/02-plugin-development/03-non-upgradeable-plugin/01-initialization.md
  packages/contracts/docs/developer-portal/02-how-to-guides/02-plugin-development/03-non-upgradeable-plugin/03-setup.md
  packages/contracts/docs/developer-portal/02-how-to-guides/02-plugin-development/04-upgradeable-plugin/01-initialization.md
  packages/contracts/docs/developer-portal/02-how-to-guides/02-plugin-development/07-publication/index.md
  packages/contracts/package.json
  packages/contracts/src/core/dao/DAO.sol
  packages/contracts/src/core/dao/IEIP4824.sol
  packages/contracts/src/core/permission/PermissionManager.sol
  packages/contracts/src/core/utils/CallbackHandler.sol
  packages/contracts/src/framework/dao/DAOFactory.sol
  packages/contracts/src/framework/dao/DAORegistry.sol
  packages/contracts/src/framework/plugin/repo/IPluginRepo.sol
  packages/contracts/src/framework/plugin/repo/PluginRepo.sol
  packages/contracts/src/framework/plugin/repo/PluginRepoFactory.sol
  packages/contracts/src/framework/plugin/repo/PluginRepoRegistry.sol
  packages/contracts/src/framework/plugin/repo/placeholder/PlaceholderSetup.sol
  packages/contracts/src/framework/plugin/setup/PluginSetupProcessor.sol
  packages/contracts/src/framework/utils/InterfaceBasedRegistry.sol
  packages/contracts/src/framework/utils/ens/ENSSubdomainRegistrar.sol
  packages/contracts/test/core/dao/dao.ts
  packages/contracts/test/framework/dao/dao-factory.ts
  packages/contracts/test/framework/dao/dao-registry.ts
  packages/contracts/test/framework/plugin/plugin-repo-registry.ts
  packages/contracts/test/framework/plugin/plugin-repo.ts
  packages/contracts/test/framework/plugin/plugin-setup-processor.ts
  packages/contracts/test/framework/utils/ens/ens-subdomain-registry.ts
  packages/contracts/test/test-utils/protocol-version.ts
  packages/contracts/test/test-utils/psp/wrappers.ts
  packages/contracts/test/test-utils/uups-upgradeable.ts
  packages/contracts/test/upgrade/dao.ts
  yarn.lock
Labels: contracts

#577 docs: improve code comment in the `PluginSetupProcessor`
  packages/contracts/src/framework/plugin/setup/PluginSetupProcessor.sol
Labels: contracts

#575 F/OS-1224 Multisig approvers not appearing in past proposals
  packages/subgraph/schema.graphql
  packages/subgraph/src/packages/multisig/multisig.ts
  packages/subgraph/tests/addresslist-voting/addresslist-voting.test.ts
  packages/subgraph/tests/multisig/multisig.test.ts
  packages/subgraph/tests/token/governance-erc20.test.ts
Labels: subgraph

#580 fix: multisig removeAddresses revert param order
  packages/contracts/src/plugins/governance/multisig/Multisig.sol
  packages/contracts/test/plugins/governance/multisig/multisig.ts
Labels: contracts
