Repository aragon/osx, pull requests merged in 2024-03, with the labels that each got.

#552 fix: replace old links for updated ones
  CONTRIBUTION_GUIDE.md
  packages/contracts/docs/developer-portal/02-how-to-guides/02-plugin-development/03-non-upgradeable-plugin/01-initialization.md
  packages/contracts/docs/developer-portal/02-how-to-guides/02-plugin-development/07-publication/index.md
  packages/contracts/docs/developer-portal/02-how-to-guides/02-plugin-development/index.md
  packages/contracts/docs/developer-portal/04-framework-lifecycle/04-sub-processes/01-protocol-version.md
Labels: contracts

#544 Fix: negative subgraph balances
  packages/subgraph/CHANGELOG.md
  packages/subgraph/src/packages/token/governance-erc20.ts
  packages/subgraph/src/packages/token/token-voting.ts
  packages/subgraph/src/packages/token/utils.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/helpers/method-classes.ts
  packages/subgraph/tests/token/governance-erc20.test.ts
  packages/subgraph/tests/token/utils.ts
  packages/subgraph/types/ASM.d.ts
Labels: subgraph

#554 Subgraph: Helpers for Introspection Query
  packages/subgraph/schema.graphql
Labels: subgraph

#553 chore: bump package.json in readiness for gh workflow
  packages/subgraph/package.json
Labels: subgraph, subgraph:deploy

#555 feat: update OSX contracts to use commons networks config
  .github/workflows/contract-tests.yml
  .github/workflows/subgraph-tests.yml
  packages/contracts/.env.example
  packages/contracts/README.md
  packages/contracts/hardhat.config.ts
  packages/contracts/networks.json
  packages/contracts/networks.ts
  packages/contracts/package.json
  yarn.lock
Labels: contracts

#550 ci: inline docs for Token and TokenBalance entities
  packages/subgraph/schema.graphql
Labels: subgraph
